{template 'common/header'}

<div class="main">
    <form id="redSet" class="form form-horizontal" action="{php echo $this->createWebUrl('koulingsave')}" method="post">
     <div class="panel panel-default">
            <div class="panel-heading">
              验证码红包信息设置
            </div>

            <div class="panel-body">
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">每个用户最大领取个数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="maxCount" value="<?php echo $this->module['config']['kouling']['maxCount']; ?>" class="form-control">
                        <span class="help-block">每个openid所能领取的最大数</span>
                    </div>
                </div>
            </div>

         <div class="panel-body">
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">剩余红包个数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="maxRedCount" value="<?php echo $this->module['config']['kouling']['maxRedCount']; ?>" class="form-control">
                        <span class="help-block">目前可领红包数，剩余红包数</span>
                    </div>
                </div>
            </div>




           
         <div class="panel-body">
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领取时间间隔（秒）</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="cooling" value="<?php echo $this->module['config']['kouling']['cooling']; ?>" class="form-control">
                        <span class="help-block">每个用户领取完后的冷却时间（防止恶意刷）</span>
                        
                    </div>
                </div>
         </div>


           <!--    <div class="panel-body">
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地区限制</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="addressLimit" value="<?php echo $this->module['config']['kouling']['addressLimit']; ?>" class="form-control">
                        <span class="help-block">地区限制，非wifi下精确到省，wifi下精确到市，故建议填省，不填则都允许</span>
                        <span class="help-block">允许多个地区请以逗号隔开，省级不带省字，市级不带市，如：浙江，黑龙江，陕西</span>
                         <span class="help-block">注意，此处为打字方便，请使用中文的逗号 "，"</span>
                    </div>
                </div>
            </div>  -->
                <div class="panel-body">
             <div class="form-group">
                    <label class="col-xs-12 col-sm-3 text-center col-md-2 control-label">是否需要关注</label>
                    <div class="col-sm-2 col-xs-12">
                    <select  name="sub" class="form-control"  value="" >
                     
                        <option value="是" class="form-control" <?php if($this->module['config']['kouling']['sub']=='是') echo 'selected'; ?> >是</option>
                        <option value="否" class="form-control" <?php if($this->module['config']['kouling']['sub']=='否') echo 'selected'; ?> >否</option>
                    </select>
                      <span class="help-block">是通过链接使用的话，请选‘否’</span>
                    </div>
                </div>
            </div>
               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动开始时间:</label>
                    <div class="col-sm-3 col-xs-12">
                    {php echo tpl_form_field_date('begin_time', $this->module['config']['kouling']['begin_time'], true);}
                     </div>
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动结束时间:</label>
                       <div class="col-sm-3 col-xs-12">
                    {php echo tpl_form_field_date('end_time', $this->module['config']['kouling']['end_time'], true);}
                     </div>
                </div>
            </div>
            
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">提供方名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="nick_name" value="<?php echo $this->module['config']['kouling']['nick_name']; ?>" class="form-control">
                        <span class="help-block">用户可以自定义，将显示在红包上</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">红包发送者名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="send_name" value="<?php echo $this->module['config']['kouling']['send_name']; ?>" class="form-control">
                        <span class="help-block">用户可以自定义，将显示在红包上</span>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">红包祝福语</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="wishing" value="<?php echo $this->module['config']['kouling']['wishing']; ?>" class="form-control">
                        <span class="help-block">如：恭喜发财，打开红包即可查看</span>
                    </div>
                </div>
            </div>
             <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="act_name" value="<?php echo $this->module['config']['kouling']['act_name']; ?>" class="form-control">
                        <span class="help-block">如：红包活动，打开红包即可查看，请不要输入超过10个字</span>
                    </div>
                </div>
            </div>
             <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注信息</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="remark" value="<?php echo $this->module['config']['kouling']['remark']; ?>" class="form-control">
                        <span class="help-block">如：快来抢！，打开红包即可查看</span>
                    </div>
                </div>
            </div>
          <!--   <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领取成功跳转Url</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="successUrl" value="<?php echo $this->module['config']['kouling']['successUrl']; ?>" class="form-control">
                        <span class="help-block">如：http://www.baidu.com</span>
                    </div>
                </div>
            </div> -->

               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领取成功文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="successMsg" value="<?php echo $this->module['config']['kouling']['successMsg']; ?>" class="form-control">
                        <span class="help-block">若为空，则执行默认文案</span>
                    </div>
                </div>
            </div>
            
          <!--         <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领取失败跳转Url</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="errorUrl" value="<?php echo $this->module['config']['kouling']['errorUrl']; ?>" class="form-control">
                        <span class="help-block">如：http://www.baidu.com</span>
                    </div>
                </div>
            </div> -->

               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领取失败文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="errorMsg" value="<?php echo $this->module['config']['kouling']['errorMsg']; ?>" class="form-control">
                        <span class="help-block">若为空，则执行默认文案</span>
                    </div>
                </div>
            </div>
               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">口令已经失效（不存在或已被使用）文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="misMsg" value="<?php echo $this->module['config']['kouling']['misMsg']; ?>" class="form-control">
                        <span class="help-block">若为空，则执行默认文案</span>
                    </div>
                </div>
            </div>

             <!--    <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户领取达到限制跳转Url</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="limitUrl" value="<?php echo $this->module['config']['kouling']['limitUrl']; ?>" class="form-control">
                        <span class="help-block">如：http://www.baidu.com</span>
                    </div>
                </div>
            </div> -->
              
               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户领取达到限制文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="limitMsg" value="<?php echo $this->module['config']['kouling']['limitMsg']; ?>" class="form-control">
                        <span class="help-block">若为空，则执行默认文案</span>
                    </div>
                </div>
            </div>

              <!-- <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">红包已经发完跳转Url</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="sendAllUrl" value="<?php echo $this->module['config']['kouling']['sendAllUrl']; ?>" class="form-control">
                        <span class="help-block">如：http://www.baidu.com</span>
                    </div>
                </div>
            </div> -->

               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">红包已经发完文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="sendAllMsg" value="<?php echo $this->module['config']['kouling']['sendAllMsg']; ?>" class="form-control">
                        <span class="help-block">若为空，则执行默认文案</span>
                    </div>
                </div>
            </div>

            <!-- <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领取频繁跳转Url</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="havegetUrl" value="<?php echo $this->module['config']['kouling']['havegetUrl']; ?>" class="form-control">
                        <span class="help-block">如：http://www.baidu.com</span>
                    </div>
                </div>
            </div> -->

               <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">冷却时间内文案（领取频繁）</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="havegetMsg" value="<?php echo $this->module['config']['kouling']['havegetMsg']; ?>" class="form-control">
                        <span class="help-block">若为空，则执行默认文案</span>
                    </div>
                </div>
            </div>
                    <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动未开始文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="nobegin" value="<?php echo $this->module['config']['kouling']['nobegin']; ?>" class="form-control">
                        <span class="help-block">活动没有开始的文案</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动结束文案</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="haveend" value="<?php echo $this->module['config']['kouling']['haveend']; ?>" class="form-control">
                        <span class="help-block">活动结束文案</span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                        
                        <input name="submit" type="submit" value="保存" class="btn btn-primary" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
    </div>
    </form>
    
       <div class="panel panel-default">
       <form id="reset" class="form form-horizontal" action="{php echo $this->createWebUrl('reset')}" method="post">
       <div class="panel-heading">
                重新开启活动
            </div>
         <div class="panel-body">
           <div class="form-group">

                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                    <span class="help-block">该按钮按下即为重新开启活动，用户领取红包限制次数清零！请勿随意点击！</span>
                        <input name="typeName" type="hidden" value="kouling"/>
                        <input name="submit" type="submit" value="重新开启活动" class="btn btn-primary" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                         <span class="help-block">若要重新开启活动则可点击该按钮</span>
                    </div>
                </div>
                </div>
       </form>
        </div>

         <div class="panel panel-default">
       <form id="reset" class="form form-horizontal" action="{php echo $this->createWebUrl('cleardata')}" method="post">
       <div class="panel-heading">
                清除现有口令
            </div>
         <div class="panel-body">
           <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                  
                        <input name="typeName" type="hidden" value="kouling"/>
                        <input name="submit" type="submit" value="清除口令" class="btn btn-primary" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                         <span class="help-block">按下该按钮，数据库中现存口令失效</span>
                    </div>
                </div>
                </div>
       </form>
        </div>
    
</div>



{template 'common/footer'}