
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
    <title>支付成功</title>
    <script type="text/javascript">
        window.onload = function() {
            setTimeout(function(){window.location.href = "{php echo urwdo('orders')}&ona=no";}, 2000);
        };
    </script>
</head>
<body style="background:#f6f6f6;">

<div style="text-align:center; margin-top:50px;" id="contermsg">使用余额支付成功！正在跳转...</div>

</body>
</html>