html,  body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section, button{
	margin: 0;
	padding: 0;
    }
body{ width:100%; min-width:320px; font-size:12px; font-family:"微软雅黑";}
a,a:focus, a:hover{text-decoration:none;}
ul,li,ol{ list-style:none;}
em,i{ font-style:normal;}
/****************************header*******************************/	
#header{ width:100%; height:46px; position:relative; z-index:10;}
#header h1{ width:100%; height:100%; line-height:46px; text-align:center; font-size:18px;}
#header .back-btn{ width:60px; height:100%; display:block; position:absolute; top:0px; left:-10px; z-index:20; line-height:46px; text-align:center; font-size:26px; font-weight:100;}
#header .header_data_icon{ width:40px; height:100%; display:block; position:absolute; top:0px; right:0px; z-index:20; line-height:46px; text-align:center; font-size:14px;}
#header .header_delete_btn{ width:50px;}
/******************************************home******************************************/
.content{ width:100%; height:auto; overflow:hidden; margin-bottom:68px;}
/***************banner*****************/
.detail-img{width:100%; height:auto; overflow:hidden; position:relative;}
.box_swipe{ width:100%; height:auto; margin:0px auto; overflow:hidden; position:relative; z-index:1;}
.box_swipe img{ width:100%; height:auto; display:block;}
.box_swipe ol {height: 20px; width:100%;position:absolute;z-index: 10;bottom:0px;left:0px;text-align: center;}
.box_swipe ol li {display: inline-block;width: 8px;height: 8px;border-radius: 8px; margin:0px 2px;}
/******************item***************/
.homeItem{width:100%; height:auto; overflow:hidden; }
.homeItemHead{ margin:15px 2% 0px; height:22px; line-height:22px;}
.homeItemHead span{ width:6px; height:100%; display:block; float:left; position:relative; z-index:10;}
.homeItemHead span:after{ content:""; width:4px; height:100%; display:block; position:absolute; z-index:20; top:0px; left:8px;}
.homeItemHead span:before{ content:""; width:2px; height:100%; display:block; position:absolute; z-index:20; top:0px; left:14px; }
.homeItemHead em{ margin-left:16px; font-style:normal; font-size:16px;}
.homeItemMain{ width:100%; height:auto; overflow:hidden;}
.homeItemMain li{ width:47%; height:auto; overflow:hidden;margin:15px 0px 0px 2%; border-style:solid; border-width:1px; float:left;}
.homeItemMain li a{ width:100%; display:block; height:auto; overflow:hidden; position:relative; z-index:10;}
.homeItemMain li a img{ display:block; width:100%; height:auto;}
.homeItemMain li p{ width:120px; height:30px; position:absolute; z-index:20; left:0px; bottom:8px;}
.homeItemMain li p em{ width:30px; height:30px; display:block;  float:left; text-align:center; line-height:30px; font-style:normal;}
.homeItemMain li p span{ width:80px; height:30px; padding:0px 5px; line-height:30px; text-align:left; float:left;}
/*******************************商品详情页***********************************/
.goods-detail-img .box_swipe ul li{ position:relative; z-index:10;}
.goods-detail-img .box_swipe p{width:100%; height:auto; overflow:hidden;position:absolute; left:0px; bottom:0px; z-index:30;}
.goods-detail-img .box_swipe p span{ padding:6px 8px; display:block; height:auto; overflow:hidden; line-height:14px;}
.goods-detail-img .box_swipe ol {height: 20px; width:100%;position:absolute;z-index: 10;top:0px;left:0px;text-align: center;}
.goods-detail-img .box_swipe ol li {display: inline-block;width: 8px;height: 8px;border-radius: 8px; margin:0px 2px;}
.goods-content{ padding:8px; height:auto; overflow:hidden;}
.goods-content dt,.goods-content dd{ width:100%; height:auto; overflow:hidden;}
.goods-content dd{ margin-top:8px;}
.goods-content dt span{ font-size:16px; margin-right:12px;}
.goods-content dd p{ width:240px; height:24px; line-height:24px; border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;-ms-border-radius:12px;-o-border-radius:12px;}
.goods-content dd p span,.goods-content dd p em{ float:left;}
.goods-content dd p span{ margin-right:6px;}
.goods-content dd p em i{ margin-left:5px;}
.featuresNum{ width:108px; height:30px; }
.featuresNum input{ float:left;}
.decrease,.increase{font-style: normal;font-weight: 700;width: 32px;height: 24px;-webkit-user-select: none;}
.goods_number{height: 24px; border-style:solid; border-width:1px 0px 1px 0px;width: 40px;-webkit-border-radius: 0;border-radius: 0;font-weight: 700; text-align:center;}
.goods-detail{ padding:0px; margin:0px; height:auto; overflow:hidden; border-style:solid; border-width:1px 1px 1px 1px;}
.goods-detail p{ width:100%; height:auto; overflow:hidden; line-height:auto; margin-top:0px; text-indent:0em;}
.goods-detail p strong{ line-height:32px; }
.goods-detail img{ width:100%; height:auto; overflow:hidden;padding:0px; margin:0px;}
/********************************购物车*********************************/
.cartList{ padding:10px; height:auto; overflow:hidden;}
.cartList_icon_bg{ width:100%; height:12px; border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px; display:block; position:relative; z-index:10;}
.cartList_icon_bg:after{ content:"";-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg); position:absolute; z-index:20; top:6px; left:8px;width:0px;  height:0px;border-top:4px solid transparent; border-bottom:4px solid transparent;display:block;}
.cartList_icon_bg:before{ content:"";-webkit-transform: rotate(-225deg);-moz-transform: rotate(-225deg);-mz-transform: rotate(-225deg);-o-transform: rotate(-225deg);transform: rotate(-225deg); position:absolute; z-index:20; top:6px; right:8px;width:0px;  height:0px;border-top:4px solid transparent; border-bottom:4px solid transparent;display:block;}
.cartItem{ margin:-6px 12px 0px; height:auto; clear:both; position:relative; z-index:20; border-width:1px 1px 0px 1px; border-style:solid;}
.cartItem ul{ width:100%; height:auto; overflow:hidden;}
.cartItem ul li{ width:100%; height:auto; overflow:hidden;}
.cartItem ul li .cartItem_t{ width:100%; height:40px; line-height:40px;}
.cartItem ul li .cartItem_t span{ font-size:16px; margin-left:8px; float:left;}
.cartItem ul li .cartItem_t em{ float:right; padding:6px 8px;}
.cartItem ul li .cartItem_c{ margin:0px 8px; padding:10px 0px; height:auto; overflow:hidden; }
.cartItem ul li .cartItem_c img{ width:80px; height:80px; display:block; float:left; margin-right:8px;}
.cartItem ul li .cartItem_c dt{ height:46px; line-height:18px; font-size:14px;}
.cartItem ul li .cartItem_c dd{ height:16px; line-height:16px; margin-top:16px; }
.order_amount{ width:100%; height:54px; line-height:50px;}
.order_amount span{ float:left; margin-left:8px;font-size:14px;}
.order_amount a{ width:80px; height:30px; text-align:center; line-height:30px; display:block; float:right; margin:8px 8px 0px; }
/********************************我的订单*********************************/
.orderList{ padding:10px; height:auto; overflow:hidden;}
.orderList_icon_bg{ width:100%; height:12px; border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px; display:block; position:relative; z-index:10;}
.orderList_icon_bg:after{ content:"";-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg); position:absolute; z-index:20; top:6px; left:8px;width:0px;  height:0px;border-top:4px solid transparent; border-bottom:4px solid transparent;display:block;}
.orderList_icon_bg:before{ content:"";-webkit-transform: rotate(-225deg);-moz-transform: rotate(-225deg);-mz-transform: rotate(-225deg);-o-transform: rotate(-225deg);transform: rotate(-225deg); position:absolute; z-index:20; top:6px; right:8px;width:0px;  height:0px;border-top:4px solid transparent; border-bottom:4px solid transparent;display:block;}
.orderItem{ margin:-6px 12px 0px; height:auto; clear:both; position:relative; z-index:20; border-width:1px 1px 0px 1px; border-style:solid;}
.orderItem .orderItem_t{ padding:8px;height:auto; overflow:hidden;}
.orderItem .orderItem_t p{ width:100%;height:22px; line-height:22px; font-size:14px; }
.orderItem .orderItem_t em{ float:right; padding:-6px 8px 6px 8px;}
.orderItem ul{ width:100%; height:auto; overflow:hidden;}
.orderItem ul li{ width:100%; height:auto; overflow:hidden;}
.orderItem ul li .orderItem_c{ margin:0px 8px; padding:10px 0px; height:auto; overflow:hidden; }
.orderItem ul li .orderItem_c img{ width:80px; height:80px; display:block; float:left; margin-right:8px;}
.orderItem ul li .orderItem_c dt{ height:50px; line-height:18px; font-size:14px;}
.orderItem ul li .orderItem_c dd{ height:16px; line-height:16px; margin-top:1px; }
.my_order_amount{ width:100%; height:auto; overflow:hidden; position:relative; z-index:10; padding:8px 0px 20px;}
.my_order_amount p{ width:100%; height:auto; overflow:hidden; margin-top:4px;}
.my_order_amount span{ margin-left:8px;font-size:14px;}
.orderItem .my_order_amount ul{ width:100px; height:auto; overflow:hidden; position:absolute; z-index:20;right:10px; bottom:12px;}
.orderItem .my_order_amount li{ border:0; width:100%; height:auto; overflow:hidden; margin-top:2px; text-align:center;}
.orderItem .my_order_amount li a{ width:100%; height:30px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px; display:block;text-align:center; line-height:30px; font-size:14px;}
.orderItem .my_order_amount .orderval{ height:auto; overflow:hidden; float:right;padding-right:10px;}
/*******************************结算**********************************/
.settlementItem{ padding:8px; height:auto; overflow:hidden;}
.settlementItem ul.settlementItemUl{ padding:10px 15px; height:auto;overflow:hidden;}
.settlementItem ul.settlementItemUl li{ width:100%; height:auto; padding:10px 0px; display:box;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;}
.settlementItem ul.settlementItemUl li:first-child{ border-top:0px;}
.settlementItem ul.settlementItemUl li span{ width:68px; height:34px; line-height:34px; display:block; font-size:14px; text-align:left; padding:0px;}
.settlementItem ul.settlementItemUl li p{ width:100%; height:auto; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1; -o-box-flex:1;}
.settlementItem dl.settlementItemUl_1{padding:10px 15px; height:auto;overflow:hidden;}
.settlementItem dl.settlementItemUl_1 dt{ font-size:14px;}
.settlementItem dl.settlementItemUl_1 dd{ width:100%; height:auto; display:box;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box; margin-top:8px;}
.settlementItem dl.settlementItemUl_1 dd p{ width:100%; height:auto; box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1; margin-left:10px;}
.settlementItem dl.settlementItemUl_1 dd p:first-child{ margin-left:0px;}
.orderDetail{ margin:8px; height:auto; overflow:hidden;  }
.orderDetail dl{ padding:0px 0px; height:auto; overflow:hidden;border-width:0px 1px; border-style:solid;}
.orderDetail dt{padding:0px 15px; height:auto; overflow:hidden;}
.orderDetail dt span{height:34px; line-height:40px;  width:100%; display:block; font-size:14px;}
.orderDetail dd{padding:8px 15px; height:auto; overflow:hidden;}
.orderDetail dd table tbody td{ padding:4px 0px;}
.orderDetail dd table tfoot td{ padding:4px 0px;}
.orderDetail dd p{ width:100%; height:auto; overflow:hidden; padding:10px 0px; border-width:1px 0px 0px; border-style:solid; }
.orderDetail dd p span{ font-size:14px;height:34px; line-height:34px; display:block; float:left;}
.orderDetail dd p button{ width:80px; height:34px; line-height:34px; text-align:center; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px; display:block; float:right; font-size:14px;}
/***************************物流***************************/
.logisticsMain{ margin:0px 20px; height:auto; overflow:hidden; background:url(../images/cartListBg.jpg) 0px bottom repeat-x #f5f5f5; border-width:0px 1px 0px 1px; border-style:solid; border-color:#d5d5d5;}
.logisticsHead{height:auto; overflow:hidden; padding:15px;}
.logisticsHead .icon-truck{ color:#bbb; float:left; margin-right:15px;}
.logisticsHead dt{ height:24px; line-height:24px; font-size:16px;}
.logisticsHead dd{ height:24px; line-height:24px; font-size:14px; color:#666;}
.logisticsList{ margin:0px 15px; height:auto; overflow:hidden; border-top:1px solid #b5b5b5; padding:15px 0px;}
.logisticsList ul{ padding-left:36px; height:auto; overflow:hidden; position:relative; z-index:10;}
.logisticsList ul:after{ content:""; width:12px; height:100%; background:#e8e4e3; position:absolute; z-index:20; top:0px; left:10px; border-radius:6px 6px 6px 6px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;-ms-border-radius:6px 6px 6px 6px;-o-border-radius:6px 6px 6px 6px;}
.logisticsList li{ height:auto; clear:both;line-height:16px; position:relative; z-index:30;}
.logisticsList li:after{ content:""; width:20px; height:20px; border:2px solid #ebebeb; background:#bbbbbb; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%; position:absolute; z-index:30; top:0px; left:-30px;}
.logisticsList li dt{ font-size:14px;}
.logisticsList li dd{ height:30px; color:#666}
.logisticsList li.current:after{ background:#ff3d00;}
.logisticsList li.current dt,.logisticsList li.current dd{ color:#ff3d00;}
/****************************footer*******************************/
#footer{ width:100%; height:58px; border-style:solid; border-width:1px 0px 0px; position:fixed; left:0px; bottom:0px; z-index:999; padding-top:4px;}
#footer li{ width:25%; height:100%; float:left;}
#footer li a{ width:100%; height:100%; display:block; text-align:center; overflow:hidden;position:relative; z-index:10;}
#footer li a span{ width:100%; height:auto; overflow:hidden; margin-top:-4px; display:block;}
#footer li a em{ margin-top:6px;  }
#footer li a i.num_icon{width:20px; height:20px; display:block; position:absolute; top:0px; z-index:20; right:50%; margin-right:-30px; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%; text-align:center; list-style:none; line-height:20px; font-style:normal;}
#goods-footer{width:100%; height:58px; border-style:solid; border-width:1px 0px 0px; position:fixed; left:0px; bottom:0px; z-index:999; padding-top:4px; display:box;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;}
#goods-footer a.buy-btn,#goods-footer a.join-cart-btn{width:100%; height:40px; display:block; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1; -o-box-flex:1; margin:4px 4px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;text-align:center; line-height:40px; font-size:16px;}
#goods-footer a.buy-btn{margin-left:8px;}
#goods-footer a.join-cart-btn{  margin-right:8px;}
#goods-footer a.shopping-cart-icon{ width:60px; height:100%; position:relative; z-index:10; display:block; overflow:hidden;}
#goods-footer a.shopping-cart-icon span{ margin-top:10px; display:block; }
#goods-footer a.shopping-cart-icon em{ width:24px; height:24px; text-align:center; line-height:24px; display:block; position:absolute; z-index:20; top:4px; right:8px; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;}

#cover-footer{width:100%; height:58px; border-style:solid; border-width:1px 0px 0px; position:fixed; left:0px; bottom:0px; z-index:999; padding-top:4px; display:box;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;}
#cover-footer img.be-seller-avatar{width:40px; height:40px; display:block; margin:4px 4px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;text-align:center; line-height:40px; font-size:16px;border:0px solid;}
#cover-footer a.be-seller-btn { height:40px; display:block; box-flex:2; -webkit-box-flex:2; -moz-box-flex:2; -ms-box-flex:2; -o-box-flex:2; margin:4px 4px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;text-align:center; line-height:40px; font-size:16px;border:1px solid;}
#cover-footer a.be-seller-text{height:40px; display:block; box-flex:5; -webkit-box-flex:5; -moz-box-flex:5; -ms-box-flex:5; -o-box-flex:5; margin:4px 4px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;text-align:left; line-height:20px; font-size:12px;border:0px solid;}
/**************** spec ****************/
.spec .item {float: left;margin: 2px 8px 2px 0;}
.spec a {display: block;white-space: nowrap;text-decoration: none;padding: 4px 6px;border: 1px solid #ccc;background: #fff;color: #666;}
.spec .selected a {padding: 3px 5px;border: 2px solid #e4393c;}
.spec .item a:hover {border: 1px solid #e4393c; color:#e4393c !important;}
.f24 {font-size: 24px !important;}
