{template 'common/header'}
<link rel="stylesheet" href="../addons/qw_zf/assets/css/common.css">
<!--<header>
    <a class="back" href="javascript:history.go(-1);"><i class="fa fa-arrow-left"></i> </a>
    <h4>微信扫码付款</h4>
</header>-->
<div class="margin-30 text-center">
    <img src="../addons/qw_zf/assets/img/logo.png" class="img-sround" />
    <h3>五粮液旗舰店</h3>
    <div class="padding-10">
        <form>
           <input type="number" class="form-control height-60" placeholder="请输入付款金额" />
           <button class="btn btn-success btn-block enter height-60">确认支付</button>
        </form>
        <h4>温馨提示：微信支付可获得会员积分</h4>

    </div>
<footer>
    <img src="../addons/qw_zf/assets/img/banner.png" class="img-responsive" />
</footer>
</div>
</div>
</body>
</html>



