{template 'common/header'}
<script type='text/javascript' src='resource/js/lib/jquery-1.11.1.min.js'></script>
<script type="text/javascript" src="{MEEPO}images/jquery.gcjs.js"></script>
<script type="text/javascript" src="{MEEPO}images/jquery.form.js"></script>
<script type="text/javascript" src="{MEEPO}images/tooltipbox.js"></script>
<style type="text/css">
.red {float:left;color:red}
.white{float:left;color:#fff}

.tooltipbox {
	background:#fef8dd;border:1px solid #c40808; position:absolute; left:0;top:0; text-align:center;height:20px;
	color:#c40808;padding:2px 5px 1px 5px; border-radius:3px;z-index:1000;
}
.red { float:left;color:red}
</style>
<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('adv',array('id'=>$id,'op' =>'display'))}">广告列表</a></li>
	<li  {if empty($adv['id']) &&  $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('adv',array('id'=>$id,'op' =>'post'))}">添加广告</a></li>
	{if !empty($adv['id']) &&  $operation == 'post'}<li  class="active"><a href="{php echo $this->createWebUrl('adv',array('id'=>$id,'op' =>'post','advid'=>$adv['id']))}">编辑数据</a></li>{/if}
	 <li ><a href="{php echo $this->createWebUrl('user', array('id' => $id))}">会员列表</a></li>
	<li><a href="{php echo $this->createWebUrl('record', array('id' => $id))}">领取记录</a></li>
	<li><a href="{php echo $this->createWebUrl('tixianrecord', array('id' => $id))}">提现记录</a></li>
</ul>

{if $operation == 'display'}
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="meepo_makeredpack" />
			<input type="hidden" name="do" value="adv" />
            <input type="hidden" name="id" value="{$id}" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">广告标题</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="请输入广告标题">
				</div>
			</div>
			<div class="form-group">
			    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"></label>
				<div class=" col-xs-12 col-sm-2 col-lg-3">
					<input type="submit"  value="搜索" class="btn btn-success btn-block" />
				</div>
			</div>

		</form>
	</div>
</div>
<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>广告标题</th>
					<th>广告logo</th>
					<th>广告连接</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $advs $adv}
				<tr>
					<td>{$adv['title']}</td>
					<td><img src="{$_W['attachurl']}{$adv['logo']}" width=45px height=45px /></td>
					<td>{$adv['advurl']}</td>
					<td>{php echo date('Y-m-d H:i:s',$adv['createtime'])}</td>
					<td style="text-align:left;">
						<a href="{php echo $this->createWebUrl('adv', array('id'=>$id,'op' => 'post', 'advid' => $adv['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改" ><i class="fa fa-edit"></i></a>
						<a href="{php echo $this->createWebUrl('adv', array('id'=>$id,'op' => 'delete', 'advid' => $adv['id']))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除" onclick="return confirm('删除将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
<script>
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>
{elseif $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
		<input type="hidden" name="advid" value="{$adv['id']}" />
		<div class="panel panel-success">
			<div class="panel-heading">
				{if !empty($adv['id'])}修改{else}新增{/if}数据
			</div>
			<div class="panel-body">
			    <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>广告标题</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='title' name="title" class="form-control" value="{$adv['title']}" />
						<span class="help-block">广告标题</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">广告图片logo</label>
					<div class="col-sm-9">
						{php echo tpl_form_field_image('logo', $adv['logo']);}
						<span class="help-block">广告图片 规格 224*53</span>
					</div>
				</div>
                <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>广告连接</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='advurl' name="advurl" class="form-control" value="{$adv['advurl']}" />
						<span class="help-block">广告连接</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
	    </div>
 </form>
</div>
<script language='javascript'>
	function formcheck() {
		if($("#title").isEmpty()) {
			Tip.focus("title", "请填写广告标题!");
			return false;
		}
		if($("#advurl").isEmpty()){
		   Tip.focus("advurl", "请填写广告连接!");
			return false;
		}
		return true;
	}
</script>
{/if}
{template 'common/footer'}