@charset "utf-8";
/* CSS Document */
html,
body{padding:0;margin:0;color:#595757;}
@font-face {font-family:iconfont;
            src: url("../font/icomoon.ttf"),
			     url("../font/icomoon.woff");}
ul {list-style:none;margin:0;padding:0;}
a:hover{text-decoration:none;}
.icon-category,
.icon-new,
.icon-jinpin,
.icon-tehui,
.icon-cart,
.icon-close{display:inline-block;font-family:"iconfont";font-style:normal;}
.icon-category:before {content: "\1001";}
.icon-new:before {content: "\1002";}
.icon-jinpin:before {content: "\1004";}
.icon-tehui:before {content: "\1003";}
.icon-cart:before {content: "\1005";}
.bg-gray{background:#f7f7f7;}
.bg-orange{background:#ec7318;}
.bg-blue{background:#51a5dc;}
/*btn*/
.btn-red{background-color:#E50067;color:#fff;}
.btn-red:hover{background-color:#E50067;color:#fff;}
.btn-red:active{background-color:#ff0073;color:#fff;}
.btn-red:link{background-color:#E50067;color:#fff;}
.btn-blue{background-color:#202785;color:#fff;}
.btn-blue:hover{background-color:#171c60;color:#fff;}
.btn-blue:active{background-color:#202785;color:#fff;}
.btn-blue:link{background-color:#171c60;color:#fff;}
.btn-green{background-color:#23ac38;color:#fff;}
.btn-green:hover{background-color:#23ac38;color:#fff;}
.btn-green:active{background-color:#23ac38;color:#fff;}
.btn-green:link{background-color:#23ac38;color:#fff;}
/*space*/
.navbarmt{margin-top:45px;}
/*clear*/
.clear{zoom:1;}
.clear:before,
.clear:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
/*navbar*/
.navbar{height:45px;line-height:45px;min-height:45px;background:#E50067;color:#fff;}
.navbar a{color:#fff;}
.navbar-default{border:0;}
.navbar-header .icon-arrow-previous{margin-right:5px;font-size:1px;vertical-align:middle;}
.navbar-header .previous-text{font-size:18px;vertical-align:middle;}
.navbar-middle{font-size:18px;text-align:center;}
.navbar-right{text-align:right;}
.navbar-right .icon-cart{font-size:30px;vertical-align:middle;}
.navbar-right .cart-amount{font-size:18px;vertical-align:middle;}
/*back to top*/
.back-to-top{position:fixed;bottom:90px;right:0;z-index:999;}
.back-to-top a{display:block;padding:2px 10px 8px 10px;background:#171c60;border-radius:5px;text-align:center;color:#fff;}
.back-to-top a:active{background:#2b3185;}
.back-to-top i{font-size:22px;}
.back-to-top span{display:block;line-height:5px;font-size:8px;}
/*search bar*/
.seach-bar{height:42px;background:#f7f7f7;border-bottom:1px solid #cdcdcd;}
.seach-bar .row{padding:0 15px}
.seach-bar .search-input{position:relative;padding:0;}
.seach-bar .search-input .icon-search{position:absolute;top:7px;left:5px;font-size:22px;}
.seach-bar .search-input input{width:100%;margin-top:4px;height:34px;padding-left:35px;}
.seach-bar .search-btn{padding:0 0 0 5px;}
.seach-bar .search-btn button{width:100%;margin-top:4px;height:34px;}
/*products list*/
.pro-list{}
.pro-list .col-xs-12{margin-bottom:10px;padding:0;}
.pro-list .pic{position:relative;}
.pro-list .pic img{width:100%;height:auto;}
.pro-list .pic .emptly{position:absolute;top:50%;left:50%;margin:-50px 0 0 -50px;width:100px;height:100px;line-height:100px;border-radius:50%;background:rgba(23,28,97,.32);text-align:center;font-size:30px;color:#fff;font-weight:bold;}
.pro-list .name{display:block;padding:10px;background:#fff;color:#595757;font-size:16px;}
.pro-list .price-buy{padding:0 10px 10px 10px;background:#fff;}
.pro-list .price{float:left;margin:0;line-height:20px;color:#E60012;font-size:25px;font-weight:bold;}
.pro-list .price del{display:block;font-size:16px;font-weight:normal;color:#898989;}
.pro-list .btn{float:right;padding:8px 40px;font-size:16px;}
.pro-two .col-xs-12{width:50%;}
.pro-two .col-xs-12:nth-child(odd){padding-right:5px;}
.pro-two .col-xs-12:nth-child(even){padding-left:5px;}
.pro-two .row{padding:10px;}
.pro-two .name{overflow:hidden;padding:5px;text-overflow:ellipsis;white-space:nowrap;font-size:14px;}
.pro-two .price-buy{padding:0 5px 10px 5px;}
.pro-two .price{float:none;font-size:16px;line-height:15px;}
.pro-two .price del{font-size:12px;}
.pro-two .btn{float:none;margin-top:5px;width:100%;padding:6px 0;font-size:14px; color:#fff;}
/*----------product detail page----------*/
.product-detail{}
.product-detail .product-summary .pic{display:block;}
.product-detail .product-summary .pic img{width:100%;height:auto;}
.product-detail .product-summary .name{display:block;padding:10px;color:#595757;font-size:16px;}
.product-detail .product-summary .price{margin:0;padding:0 10px;line-height:20px;}
.product-detail .product-summary .price-label{font-size:16px;font-weight:normal;color:#595757;}
.product-detail .product-summary .price-number{margin-right:5px;color:#E60012;font-size:25px;font-weight:bold;}
.product-detail .product-summary .price del{font-size:16px;font-weight:normal;color:#898989;}
.product-specification{margin:15px 0;padding:15px 10px;border-top:1px dashed #b9b9b9;border-bottom:1px dashed #b9b9b9;}
.product-specification .label{float:left;padding:0;line-height:30px;font-size:16px;font-weight:normal;color:#595757;}
.product-specification .specification-c{overflow:hidden;padding:0;margin:0;}
.product-specification .specification-a{position:relative;display:inline-block;margin:0 5px 5px 0;background:#fff;border:1px solid #bfbfbf;color:#595757;}
.product-specification .specification-a.text{padding:5px 10px;}
.product-specification .specification-a.img{padding:1px;}
.product-specification .specification-a .icon-right-select{display:none;position:absolute;right:0;bottom:0;height:8px;width:8px;line-height:10px;text-align:center;background:#E60012;font-size:18px;color:#fff;}
.product-specification .specification-a.current{border:1px solid #f7bec4;}
.product-specification .specification-a.current .icon-right-select{display:block;}
.product-specification .color{margin:5px 0;}
.product-specification .specification-a img{width:30px;height:30px;}
.product-specification .input-group{float:left;width:150px;}
.product-specification .input-group-addon{background:#fff; border-color:#bfbfbf;border-radius:0;font-size:20px;color:#595757;}
.product-specification .remain{float:left;margin-left:5px;line-height:35px;color:#898989;}
.product-operation{margin-bottom:15px;}
.product-operation .col-xs-9{padding-left:0;}
.product-operation .btn{width:100%;text-align:center;min-height:45px;font-size:20px;}
.product-operation .btn .icon-cart-add{font-size:35px;line-height:30px;}
.product-describe .nav-tabs > li{width:50%;text-align:center;}
.product-describe .nav-tabs > li > a{margin-right:0;background:#fff;border:1px solid #dadada;border-radius:0;font-size:18px;color:#595757;}
.product-describe .nav-tabs > li > a.lineright-none{border-right:0;}
.product-describe .nav-tabs > li.active > a,
.product-describe .nav-tabs > li.active > a:active{border:1px solid #dadada;color:#E50067;}
.product-describe .nav-tabs > li.active > a,
.product-describe .nav-tabs > li.active > a:hover,
.product-describe .nav-tabs > li.active > a:focus{border:1px solid #dadada;color:#E50067;}
.product-describe .nav-tabs > li.active > a.lineright-none,
.product-describe .nav-tabs > li.active > a.lineright-none:hover,
.product-describe .nav-tabs > li.active > a.lineright-none:focus{border:1px solid #dadada;border-right:0;color:#E50067;}
.product-describe .d-content{word-break:break-all;}
.product-describe .d-content table{width:auto!important;max-width:100%!important;}
.product-describe .d-content img{width:auto!important;max-width:100%!important;height:auto!important;}
.product-describe .d-content div{width:auto!important;max-width:100%!important;}