
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xinshouxuetang:before { content: "\e619"; }
.icon-kulian:before { content: "\e645"; }
.icon-dianji:before { content: "\e61a"; }
.icon-jifenduihuan:before { content: "\e61b"; }
.icon-guanbi:before { content: "\e616"; }
.icon-zhengque32pt:before { content: "\e63e"; }
.icon-zhengque32pt1:before { content: "\e63f"; }
.icon-qiche:before { content: "\e61c"; }
.icon-xingzhengshixiangweihu:before { content: "\e61d"; }
.icon-tuandui:before { content: "\e635"; }
.icon-xiangxia:before { content: "\e60b"; }
.icon-xiangshang:before { content: "\e60c"; }
.icon-xiangyou:before { content: "\e60d"; }
.icon-dingwei:before { content: "\e617"; }
.icon-daguanggaoqiehuanyou:before { content: "\e60e"; }
.icon-daguanggaoqiehuanzuo:before { content: "\e60f"; }
.icon-danchuguanbi:before { content: "\e618"; }
.icon-5:before { content: "\e61e"; }
.icon-mima:before { content: "\e610"; }
.icon-tuandui1:before { content: "\e636"; }
.icon-maintain:before { content: "\e61f"; }
.icon-erweima:before { content: "\e653"; }
.icon-nan:before { content: "\e611"; }
.icon-che1:before { content: "\e620"; }
.icon-fasong:before { content: "\e63a"; }
.icon-pengyouquan:before { content: "\e63b"; }
.icon-locationfill:before { content: "\e601"; }
.icon-location:before { content: "\e602"; }
.icon-phone:before { content: "\e603"; }
.icon-back:before { content: "\e604"; }
.icon-myfill:before { content: "\e605"; }
.icon-my:before { content: "\e606"; }
.icon-dianpingqipao:before { content: "\e621"; }
.icon-bbgyonghu:before { content: "\e612"; }
.icon-right:before { content: "\e607"; }
.icon-shezhi:before { content: "\e615"; }
.icon-news:before { content: "\e633"; }
.icon-pinglun3:before { content: "\e622"; }
.icon-ershou:before { content: "\e623"; }
.icon-weihu:before { content: "\e624"; }
.icon-301:before { content: "\e625"; }
.icon-qianjin:before { content: "\e613"; }
.icon-bx:before { content: "\e626"; }
.icon-xiala:before { content: "\e60a"; }
.icon-rencaituandui:before { content: "\e637"; }
.icon-xuexishuben:before { content: "\e627"; }
.icon-xiaolian:before { content: "\e646"; }
.icon-shunfengche:before { content: "\e628"; }
.icon-bangzhu:before { content: "\e629"; }
.icon-gengduo:before { content: "\e63c"; }
.icon-caikejilu:before { content: "\e62a"; }
.icon-pinglun:before { content: "\e614"; }
.icon-dianhua:before { content: "\e642"; }
.icon-keyongjifen:before { content: "\e62b"; }
.icon-shouye:before { content: "\e634"; }
.icon-pinglun1:before { content: "\e62c"; }
.icon-sort:before { content: "\e600"; }
.icon-jinggaoxiankuang:before { content: "\e62d"; }
.icon-jinggao:before { content: "\e62e"; }
.icon-iconjpjg:before { content: "\e62f"; }
.icon-baoxian:before { content: "\e630"; }
.icon-jifen:before { content: "\e631"; }
.icon-didian:before { content: "\e655"; }
.icon-bangzhuzhongxin:before { content: "\e632"; }
.icon-pullleft:before { content: "\e608"; }
.icon-pullright:before { content: "\e609"; }
.icon-gengduo1:before { content: "\e63d"; }
.icon-licaishouyi:before { content: "\e65a"; }
.icon-liwu:before { content: "\e650"; }
.icon-tuandui2:before { content: "\e638"; }
.icon-kulian1:before { content: "\e647"; }
.icon-weixin:before { content: "\e64c"; }
.icon-7beizhu:before { content: "\e656"; }
.icon-dingdan:before { content: "\e654"; }
.icon-shouji:before { content: "\e64f"; }
.icon-cuowu:before { content: "\e643"; }
.icon-iconfontcolor94:before { content: "\e640"; }
.icon-iconfont43:before { content: "\e644"; }
.icon-iconfont44:before { content: "\e641"; }
.icon-smiley36:before { content: "\e648"; }
.icon-01:before { content: "\e649"; }
.icon-tuandui3:before { content: "\e639"; }
.icon-33:before { content: "\e64a"; }
.icon-qq:before { content: "\e64d"; }
.icon-shibai:before { content: "\e64b"; }
.icon-stampEdge:before { content: "\e652"; }
.icon-shouji1:before { content: "\e64e"; }
.icon-dingzhipeisongyaoqiu:before { content: "\e657"; }
.icon-gexinghuatuisong:before { content: "\e651"; }
.icon-pingjiaxingxing:before { content: "\e659"; }
.icon-shijian:before { content: "\e658"; }
