<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>支付记录</title>
	{php echo register_jssdk(false);}
    <script type="text/javascript">
    	var type = "sale";
    </script>
    <link rel="stylesheet" type="text/css" href="{RES2}css/global.css?t={php echo time();}"/>
    <script type="text/javascript" src="{RES2}js/zepto.min.js" ></script>
    <script type="text/javascript" src="{RES2}js/global.js"></script>
    <!--<script type="text/javascript" src="{RES}wjs/salelist.js"></script>-->
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>
<body>
<ul style="position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: auto;
        background: #ff5858;
        z-index: 1000;
        ">
                    
                        <li style="width:100%">
						  
						<div style="float:left;padding:5px" class="acolor">
						
                           <a href="{php echo  $this->createMobileUrl('homecenter')}" target="__blank"   class="ui-btn" ">返回</a>
</div>
<div style="float:right;padding:5px" class="acolor">
  <a href="{php echo $this->createMobileUrl('mynews')}" target="__blank"  class="ui-btn" >我的消息</a>
</div>
                        </li>
                         
         <style type='text/css'>
.acolor a:link {color:#ff5858} 
.acolor a:visited {color:#ff5858} 
 .acolor a:hover{color:#ff5858} 
.acolor a:active {color:#ff5858} 
.ui-btn{
height: 30px;
line-height: 30px;
padding: 0 13px;
min-width: 56px;
display: inline-block;
text-align: center;
border: none;
font-size: 14px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, white), to(#fafafa));
border-radius: 3px;
-webkit-box-sizing: border-box;
border: 1px solid #cacccd;
-webkit-background-clip: padding-box;
background-clip: padding-box;
outline:0;
}
		 </style>                
                       
                   
</ul>
<div style="height:35px"></div>
	<div class="logo">
        <img src="{RES2}images/mynews.png" height="30px" width="80px"/>   | 支付记录
    </div>  
    
	<div class="warp">
	
	
	
<article>
    <section>
        <div class="newHouseList" id="newHouseList">
            {if !empty($res)}
			 {loop $res $row}
			<div class="linked">
			      <div class="item">
			        <a  target="__blank">
			      <div class="li-item">
							  <div class="img"><img src="{if preg_match('/http:(.*)/',$row['avatar'])}{$row['avatar']} {else if preg_match('/images(.*)/',$row['avatar'])} {$_W['attachurl']}{$row['avatar']}     {else}{MEEPORES}/static/friend/images/cdhn80.jpg{/if}"></div>
							  <div class="w_100">
							      <h3>充值金额: {$row['fee']}元</h3>
								 <h3>订单编号:<br>{$row['tid']}</h3>
								 <h3>订单状态:{if $row['status'] == 1}支付成功{else}支付失败{/if}</h3>
								 <h3>支付时间:{php echo date('Y-m-d H:i:s', $row['time']);}</h3>
								 
							  </div>
							  
			     </div>
			       </a>
			    </div>
			</div>
			{/loop}
			{else}
			   <div style="height:40px;line-height:40px;text-align:center;color:red">暂无充值记录！！！！</div>
			{/if}
        </div>
        
    </section>
</article>
</div>
<script type="text/javascript">
  wx.ready(function () {
    var shareData = {
    title: "{$settings['share_title']}",
    desc: "{$settings['share_content']}",
    link: "{$settings['share_link']}",
    imgUrl: "{$_W['attachurl']}{$settings['share_logo']}",
  };
  
  //分享朋友
  wx.onMenuShareAppMessage({
       title: shareData.title,
      desc: shareData.desc,
      link: shareData.link,
      imgUrl:shareData.imgUrl,
      trigger: function (res) {
      },
      success: function (res) {
        send_intergal();
      },
      cancel: function (res) {
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
 //朋友圈
  wx.onMenuShareTimeline({
      title: shareData.title+"---"+shareData.desc,
      link: shareData.link,
      imgUrl:shareData.imgUrl,
      trigger: function (res) {
      },
      success: function (res) {
          send_intergal();
      },
      cancel: function (res) {
      },
      fail: function (res) {
        alert("分享失败,网络超时！！！！");
      }
    });   
    
  });



function send_intergal(){
   $.ajax({
			type:"POST",
			url:"{php echo $this->createMobileUrl('shareajax')}",
			data:{openid:'{$openid}}'},
			cache:false,
			success:function(data){
				if(data=="no"){
					alert("分享成功,抱歉，网络超时，获取积分失败！！！");
                   
				}
				else if(data=="over"){
				   alert("分享成功,你今天的分享次数已经超过上限哦，请明天再来吧！！！");
				
				}
				else{
				   alert("分享成功,恭喜您，获得{$settings['share_jifen']}个奖励积分！今天你还有"+data+"次分享赚积分机会哦！");
				}
			}
		});
}


        </script>
</body></html>









