@charset "utf-8";
body { font: normal 12px "宋体"; color: #666666; min-width: 960px; }
a:link, a:visited { text-decoration: none; }
a:hover { color: #f7a50a; }
.g_wapper { width: 960px; margin: 0 auto; }
/*
    new_wapper
    测评页wapper添加背景样式
    2013-11-11
*/
.new_wapper { width: 960px; margin: 0 auto; background: url(img/g-wapper-bg.jpg) no-repeat; height: 110px; }
.mt10 { margin-top: 10px; }
/*icon*/
.icon { background: url(img/icon-all.png) no-repeat; display: inline-block; }
.icon_search { height: 25px; width: 25px; position: absolute; top: 8px; left: 0; background-position: 4px -24px; }
/*-----------------------------------导航条样式-------------------------------*/
.top_menu { background: #444; height: 39px; width: 100%; }
.top_menu a { border-left: 1px solid #585858; border-right: 1px solid #363636; color: #FFFFFF; display: inline-block; float: left; font-family: "Microsoft Yahei"; font-size: 16px; line-height: 39px; width: 133px; text-align: center; }
.top_menu a.first { border-left: 1px solid #444444; }
.top_menu a.last { border-right: 1px solid #444444; }
.top_menu a:hover, .top_menu a.curr { background-color: #333333; }
.login_sign a { color: #666; }
/*Header Style*/
.top-menu { height: 32px; width: 100%; line-height: 32px; background-color: #fff; }
.header { height: 110px; width: 100%; background-color: #f0f0f0; background: url(img/header-bg.gif) repeat-x; }
.more-list a { color: #666; }
.channel-list a { color: #666; margin-right: 10px; text-decoration: none; }
.channel-list a:hover { color: #ff9f00; }
.channel-list a:visited { color: #666; }
.channel-more a:visited { color: #666; }
.more-list a:hover { color: #ff9f00; background-color: #f5f5f5; }
.more-list a { border-bottom: 1px dotted #e0e0e0; }
.channel-more, .my-home { width: 80px; }
.channel-more .more-link, .my-home .my_site { width: 75px; height: 27px; padding-left: 5px; margin-top: 2px; line-height: 26px; display: block; position: relative; border: 1px solid #fff; color: #666 }
.channel-more .more-link .W_arrow, .my-home .my_site .W_arrow { height: 5px; width: 9px; position: absolute; top: 11px; right: 15px; }
.channel-more .more-link .W_arrow em, .my-home .my_site .W_arrow em { margin: -7px 0 0 -1px }
.curr .more-link, .curr .my_site { border: 1px solid #e9e9e9; border-bottom: none; color: #f7a50a }
.curr .more-link .W_arrow, .curr .my_site .W_arrow { transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); }
.more-list { display: none; }
.curr .more-list { display: block; width: 80px; border: 1px solid #e9e9e9; border-top: none; background-color: #fff; margin-top: -1px; position: absolute; z-index: 999; }
.curr .more-list a { display: block; text-decoration: none; line-height: 24px; margin-left: 5px; }
.enter-site .after_login { position: relative; }
.site_user { background: url(img/icon-all.png) no-repeat 0 -44px; padding-left: 28px; display: block; }
.logo { display: block;  height: 60px; width: 233px; margin-left: 30px; margin-top: 20px; }/*background: url(../image/gfan-apk-logo.png) no-repeat;*/
.search_box { width: 688px; _width: 658px; margin-top: 20px; }
.search_box .top_ad_text a { color: #fff; font-size: 12px; }
.search_box .wapper_b { border: 1px solid #ff8a00; height: 38px; width: 405px; margin-top: 8px; border-radius: 1px; }
.search_box .wapper_b form { background-color: #ffa91b; border: 1px solid #ffb842; height: 32px; margin: 0; padding: 2px 3px; position: relative; }
.search_box .wapper_b form input.IE6_text, .search_box .wapper_b form input.IE6_btn { border: none; float: left }
.search_box .wapper_b form input.IE6_text { height: 20px; width: 299px; font-size: 12px; color: #999; background-color: #fff; padding: 5px 2px 5px 20px; border-top: 1px solid #ffe2b2; border-left: 1px solid #ffe2b2; }
.search_box .wapper_b form input.IE6_btn { height: 31px; width: 75px; text-align: center; cursor: pointer; background-color: #444; color: #fff; letter-spacing: 5px; font-weight: bold; font-size: 16px; font-family: "Microsoft Yahei"; }
.key-words { height: 30px; width: 405px; line-height: 24px; }
.key-words a { color: #949494; padding-right: 5px; }
/*-------------------------------------footer style----------------------------------------*/
.footer { margin-top: 20px; font-size: 12px; height: 190px; font-family: "宋体", Arial;clear:both; }
/*----------------------------友情链接----------------------------------*/
.footer .friend_list { border: 1px solid #e8e8e8; background-color: #f9f9f9; padding: 5px 0; color: #999; line-height: 26px }
.footer .friend_list strong { margin-left: 5px; }
.footer .friend_list li { display: inline; padding: 0 5px; }
.footer .friend_list li a { color: #999; white-space: nowrap; }
/*-------------------------------友情链接结束-------------------------------*/
.footer .web_info { text-align: center; margin-top: 30px; color: #666; line-height: 26px; }
.footer .web_info a { color: #666; }
/*-----------------------------footer style end---------------------------*/
/*------------------------login box--------------------*/
.float-div { font-family: "Microsoft Yahei"; min-width: 350px; position: relative; }
.float-div .unlogin-box { border: medium none; padding-top: 50px; width: 255px; }
.float-div .unlogin-box p { width: 228px; }
.float-div .forget-ps { font-size: 12px; }
.float-div .login_btn, .float-div .sign_btn { border-radius: 3px 3px 3px 3px; color: #FFFFFF; height: 28px; line-height: 28px; text-align: center; width: 80px; }
.float-div p.login_sign { margin: 10px auto 0; width: 170px; }
.float-div .login_btn { background-color: #FFA91B; border: 1px solid #FF8A00; }
.float-div .sign_btn { background-color: #D2D1D1; border: 1px solid #C4C3C3; }
.unlogin-box { height: 214px; padding: 14px; width: 210px; }
.unlogin-box p { margin-top: 15px; }
.unlogin-box p.w-box { border: 1px solid #D9D9D9; height: 32px; width: 208px; }
.unlogin-box input { -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #FFFFFF; border-color: #EBEBEB -moz-use-text-color -moz-use-text-color; border-right: medium none; border-style: solid none none; border-width: 2px medium medium; color: #999999; display: block; font-size: 14px; height: 30px; line-height: 30px; padding: 0 5px; width: 198px; }
.unlogin-box p.clearfix a { text-decoration: none; }
.unlogin-box p.forget-ps a, .login-box .user-info li p a { color: #666666; text-decoration: underline; }
/*------------------------top--------------------*/
a.red{ color:#F00!important;}
.feedBack{ padding:0 10px;}



.survey { padding: 0 20px; }
.page { height: 30px; margin: 20px 0; text-align: center; }
.page table td a{height: 26px;
line-height: 26px;
margin-right: 5px;
color: #ff9a00;
display: inline-block;
padding: 0 10px;
border: 1px solid #dcdcdc;}
.page table td{ color: #ff9a00!important;}