.rDialog {
    position: fixed;
    _position: absolute;
}
.rDialog-wrap {
    position: fixed;
	/**bottom:0;**/
	left:0;
	/**width:100%;**/
	margin:10px;
    background: #FFFFFF;
    opacity: .9;
    background-clip: padding-box;
}
.rDialog-inner{margin: 1em 1em;color:#444444;}
.rDialog-header{text-align:center;}
.rDialog-header-load {
	text-align: center;
	background: url("../images/alert-loading.gif");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	width: 80px;
	height: 16px;
	margin: auto;
}
.rDialog-header-alert,.rDialog-header-ok {
	text-align: center;
	background: url("../images/alert-icons.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 50px;
	height: 53px;
	margin: auto;
}
.rDialog-header-alert{
	background-position: 0 -53px;
}
.rDialog-header-ok {
	background-position: 0 0;
}
.rDialog-content {
    padding: 1em 0 0 0;
    font-size: 1em;
    color: #444444;
    overflow: hidden;
    text-align: center;
}
.rDialog-content em{font-weight:bold;font-size:1.2em;}
.rDialog-footer {
    /**padding-left: 15px;**/
    text-align: center;
}
.rDialog-footer a {
    display: block;
    margin: 15px 0 0 0;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.rDialog-footer a: link, .rDialog-footer a: visited, .rDialog-footer a: hover {
    color: #444444;
    text-decoration: none;
}
.rDialog-ok,.rDialog-ok:hover {
    border:1px solid #0c7cb5;
	background:none;
    color: #0c7cb5;
}
.rDialog-cancel,.rDialog-cancel:hover  {
    background: #E6E6E6;
    color: #A7A7A7;
}
.rDialog-cross{width:32px;height:32px;position:absolute;right:10px;top:10px;background:url("../images/cross.png") no-repeat center center;background-size:32px 32px;}
.rDialog-mask {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=80);
    opacity: .8;
}