<div class="ddb-nav-footer ng-scope">
    <a class="nav-item" href="{php echo $this->createMobileUrl('detail', array('schoolid' => $schoolid), true)}"><i class="fa fa-windows"></i>
        <div class="nav-text">首页</div>
    </a>
    <a class="nav-item ng-scope"  href="{php echo $this->createMobileUrl('chengji', array('schoolid' => $schoolid), true)}"><i class="fa fa-book"></i>
        <div class="nav-text">查成绩</div>
    </a>
    <a class="nav-item ng-scope"  href="{php echo $this->createMobileUrl('xsqj', array('schoolid' => $schoolid), true)}">
        <i class="fa fa-check-circle-o"></i>
        <div class="nav-text">请假</div>
    </a>
    <a class="nav-item" href="{php echo $this->createMobileUrl('user', array('schoolid' => $schoolid), true)}"><i class="fa fa-user"></i>
        <div class="nav-text">我的</div>
    </a>
</div>