{template 'common/header'}
{php $_item=6;}
{php $_itemp=0;}
{template 'menu'}
<div class="main w98auto">

    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="" method="get" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input type="text" id='keyval' class="form-control inp2" value="{$keyval}" data-val="{$keyval}" placeholder="输入搜索关键字" />
                        <select id='keytype' class="form-control" style="margin-top:10px;">
                            <option value="fullname">会员昵称</option>
                            <option value="userid">会员UID</option>
                            <option value="admin">订单管理员</option>
                        </select>
                        <script>{if $keytype}$('#keytype').val('{$keytype}');{/if}</script>
                    </div>
                    <div class=" col-xs-12 col-sm-2 col-lg-2">
                        <div class="btn btn-default form-submit" onclick="keybut();"><i class="fa fa-search"></i> 搜索</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {php $listdata = cate::db('数据表:users,显示数目:20,分页显示:1,排序:indate desc>id desc', $wheresql)}
    {php $lists = $listdata['lists']}
    {php $pager = $listdata['page']}

    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover goodslist" style="min-width:995px;">
                <thead class="navbar-inner">
                <tr>
                    <th><label><input type="checkbox" class="check" onclick="all_y();"/>会员UID</label></th>
                    <th>昵称</th>
                    <th>查看对应会员</th>
                    <th>总消费</th>
                    <th title="单笔最高消费">单笔最高</th>
                    <th>入注时间</th>
                    <th>过期时间</th>
                    <th width="90">操作</th>
                </tr>
                </thead>
                <tbody>
                {loop $lists $list}
                <tr data-id="{$list['userid']}" id="user_info_{$list['id']}">
                    <td>
                        <label><input type="checkbox" class="check" name="y_id[]" id="y_id" value="{$list['userid']}"/>{$list['userid']}</label>
                        {if $list['admin']}
                        <span style="color:#f00" title="订单管理员">订单员</span>
                        {/if}
                        {if $list['admintobe']}
                        <span style="color:#f00" title="排号管理员">排号员</span>
                        {/if}
                    </td>
                    <td id="fullname">
                        {$list['fullname']}
                    </td>
                    <td>
                        <a href="{php echo url('mc/member/post', array('uid'=>$list['userid']))}">会员资料</a>
                        <a href="{php echo url('mc/creditmanage', array('type'=>1,'keyword'=>$list['userid']))}">余额积分</a>
                    </td>
                    <td>{$list['money']}</td>
                    <td>{$list['moneyone']}</td>
                    <td>{php echo date('Y-m-d H:i:s',$list['indate'])}</td>
                    <td id="enddate" data-d="{if $list['enddate']}{php echo date('Y-m-d H:i:s',$list['enddate'])}{/if}">
                        {php echo user_status($list['enddate'])}</td>
                    <td>
                        <a class="normal-link" href="javascript:;" onclick="_recon(this);">编辑</a>
                        <a class="normal-link" href="{php echo urido('account')}&userid={$list['userid']}">账目</a>
                    </td>
                </tr>
                {/loop}
                {if !$lists}
                <tr>
                    <td colspan="8" align="center">
                        <div>无</div>
                    </td>
                </tr>
                {else}
                <tr>
                    <td colspan="8">
                        <select id='puttype' class="form-control" style="float:left;width:auto;">
                            <option value="admin">设为订单管理员</option>
                            <option value="admin2">取消订单管理员</option>
                            <option value="admintobe">设为排号管理员</option>
                            <option value="admintobe2">取消排号管理员</option>
                            <option value="delete">删除此会员</option>
                        </select>
                        <div class="btn btn-primary" style="margin-left:5px;" onclick="_del();">确定</div>
                    </td>
                </tr>
                {/if}
                </tbody>
            </table>
        </div>
    </div>
    {$pager}
</div>

<script type="text/javascript">
    window.y_id = false;
    function all_y(){
        if (window.y_id){
            window.y_id = false;
            $("input#y_id").prop("checked",false);
        }else{
            window.y_id = true;
            $("input#y_id").prop("checked",true);
        }
    }
    function keybut(){
        var keyval = $('#keyval').val().trim();
        var keytype = $('#keytype').val();
        if (keytype == ''){
            alert("请选择搜索类型"); $('#keytype').focus(); return;
        }
        window.location.href = "{php echo urido(0)}&keyval="+encodeURIComponent(keyval)+"&keytype="+keytype;
    }
    function _recon(obj) {
        var eve = $(obj).parents("tr");
        var _txt = eve.find("#comm").text().replace(/\[已回\]/g,'');
        var _onf = "WdatePicker({dateFmt:'yyyy-MM-dd'})";
        art.dialog({
            lock: true,
            opacity: '.3',
            title: '修改会员过期时间',
            content: '<div id="recondiv" style="line-height:24px;">' +
                    '过期时间：<br/><input id="_enddate" class="form-control" onfocus="'+_onf+'" placeholder="留空代表永不过期" ' +
                    'style="width:200px;" value="'+eve.find("#enddate").attr("data-d")+'"/></div>',
            button: [{
                name: '提交',
                callback: function () {
                    $.alert('正在提交...', 0);
                    $.ajax({
                        type: "POST",
                        url: "{php echo urido('userenddate')}",
                        dataType: "json",
                        data: "id="+eve.attr("data-id")+"&enddate="+$("#_enddate").val(),
                        success: function (msg) {
                            $.alert(0);
                            if (msg != null && msg.success != null && msg.success) {
                                window.location.reload();
                            }
                            $.alert(msg.message);
                        },
                        error: function (msg) {
                            $.alert("网络错误！");
                        }
                    });
                    return false;
                }
            },{
                name: '取消',
                callback: function () {
                    return true;
                }
            }]
        });
    }
    function _del()
    {
        var s = '';
        $("input#y_id").each(function(){
            if ($(this).is(':checked')){
                s+= $(this).val()+",";
            }
        });
        if (s == "") {
            $.alert("请选择要"+$("#puttype option:selected").text()+"的会员！");
            return true;
        }
        art.dialog({
            lock: true,
            opacity: '.3',
            content: ($("#puttype").val()=='delete')?'确定要删除这些会员并且吗？<span style="color:#f00">（仅删除会员在本餐厅的记录，无法删除会员卡里面的数据，如需删除会员卡里面的数据请到粉丝营销操作）</span>':'确定要'+$("#puttype option:selected").text()+'这些会员并且吗？',
            button: [{
                name: '确定',
                callback: function () {
                    $.ajax({
                        type: "POST",
                        url: "{php echo urido('usersdel')}",
                        data: "id=" + s + "&type=" + $("#puttype").val(),
                        dataType: "json",
                        success: function (msg) {
                            $.alert(msg.message);
                            if (msg.success == "1"){
                                window.location.reload();
                            }
                        },
                        error: function (msg) {
                            $.alert("操作错误！");
                        }
                    });
                    return false;
                }
            },{
                name: '取消',
                callback: function () {
                    return true;
                }
            }]
        });
    }
	$(document).ready(function() {
        $(".form-horizontal").submit(function(){
            $(this).find(".form-submit").click();
            return false;
        });
        $("td#u_moneyover").click(function(){
            var id = $(this).attr("d-id");
            //消费金额
            var _money = art.dialog({
                lock: true,
                opacity: '.3',
                title: '账户余额操作',
                content: '<div class="putpoint">' +
                        '<p><span>余额变化：</span><input type="text" class="form-control" id="_u_money" size="10" placeholder="请输入变化数量"></p>' +
                        '<p class="l"><span>操作备注：</span><textarea class="form-control" id="_u_mtextarea" placeholder="备注可留空"></textarea></p>' +
                        '</div>',
                button: [
                    {
                        name: '增加',
                        callback: function () {
                            var num = $("#_u_money").val();
                            var text = $("#_u_mtextarea").val();
                            var s = "dosubmit=putmoney&id="+id+"&num="+num+"&text="+text;
                            $.ajax({
                                type: "POST",
                                url: "{php echo urido(0)}",
                                dataType: "json",
                                data: s,
                                success: function (msg) {
                                    $.alert(msg.message);
                                    if (msg.success == "1"){
                                        var f = $("#user_info_"+id);
                                        f.find("#u_moneyover").text(msg.moneyover);
                                        _money.close();
                                    }
                                },
                                error: function (msg) {
                                    $.alert("增加错误！");
                                }
                            });
                            return false;
                        }
                    },{
                        name: '减少',
                        callback: function () {
                            var num = $("#_u_money").val();
                            var text = $("#_u_mtextarea").val();
                            var s = "dosubmit=cutmoney&id="+id+"&num="+num+"&text="+text;
                            $.ajax({
                                type: "POST",
                                url: "{php echo urido(0)}",
                                dataType: "json",
                                data: s,
                                success: function (msg) {
                                    $.alert(msg.message);
                                    if (msg.success == "1"){
                                        var f = $("#user_info_"+id);
                                        f.find("#u_moneyover").text(msg.moneyover);
                                        _money.close();
                                    }
                                },
                                error: function (msg) {
                                    $.alert("扣除错误！");
                                }
                            });
                            return false;
                        }
                    },{
                        name: '取消',
                        callback: function () {
                            return true;
                        }
                    }]
            });
        });
    });
</script>

{template 'common/footer'}