@charset "utf-8";
/*全局设置结束*/
body{background:#EEE;}
h1,h2,h3,h4,h5,h6{line-height:normal; margin:0;}
.header{font-size:16px;text-align:center;line-height:40px;position:fixed; left: 0; top:0; right: 0;background:#FFF; z-index:3}
.header div[class^='boxsize']{border-bottom:1px solid #DDD;}
.header a{display:block;text-align:center;text-decoration:none;color:#999;font-size:13px;}
.header a:active{ background:#DDD;}
.headermenu a{display:block;text-align:center;text-decoration:none;color:#999;font-size:13px; line-height:34px;}
.headermenu .active a{color:#FF4978;}
.headermenu .active2 a{color:#FF4978;border-bottom:2px solid #FF4978;}
.fixed_first{ margin-top:39px; height:1px;}

.footermenu{ position:fixed;height:40px; border-top:1px solid #DDD; background:#FFF; bottom:0; left:0;right:0;z-index:3}
/**/
.ad_banner{width:100%;}
.ad_banner img{width:100%; max-height:100px;}
/*公共*/
.box{display:box;display:-webkit-box;}
.boxsize-1{-webkit-box-flex:1;box-flex:1;}
.boxsize-2{-webkit-box-flex:2;box-flex:2;}
.boxsize-3{-webkit-box-flex:3;box-flex:3;}
.boxsize-4{-webkit-box-flex:4;box-flex:4;}
.boxsize-5{-webkit-box-flex:5;box-flex:5;}
.boxsize-6{-webkit-box-flex:6;box-flex:6;}
.boxsize-7{-webkit-box-flex:7;box-flex:7;}
.boxsize-8{-webkit-box-flex:8;box-flex:8;}
.boxsize-9{-webkit-box-flex:9;box-flex:9;}
.boxsize-10{-webkit-box-flex:10;box-flex:10;}

.jmh_10{ min-height:10px;}
.jm_t10{margin-top:10px;}
.jm_b10{margin-bottom:10px;}
.jp_b10{ padding-bottom:10px;}
.jp_10{ padding:10px;}
.jp_5{ padding:5px;}
.jp_10_5{ padding:10px 5px;}
.jtext_indent5{text-indent:5px;}
.jtable{display:table; width:100%;}
.jrow{display:table-row;}
.jcell{display:table-cell; vertical-align:middle;}
.jcell-1{ width:10%;display:table-cell; vertical-align:middle;}
.jcell-2{ width:20%;display:table-cell; vertical-align:middle;}
.jcell-3{ width:30%;display:table-cell; vertical-align:middle;}
.jcell-4{ width:40%;display:table-cell; vertical-align:middle;}
.jcell-5{ width:50%;display:table-cell; vertical-align:middle;}
.jcell-6{ width:60%;display:table-cell; vertical-align:middle;}
.jcell-7{ width:70%;display:table-cell; vertical-align:middle;}
.jcell-8{ width:80%;display:table-cell; vertical-align:middle;}
.jcell-9{ width:90%;display:table-cell; vertical-align:middle;}
.jpanel_box{background:#FFF; border-radius:8px; border:1px solid #CCC}
.jpanel_box_head{border-top-left-radius:8px;border-top-right-radius:8px; line-height:36px; font-size:14px;padding:0 10px; border-bottom:#CCC 1px solid; background:#EEE;}
.jpanel_box_body{ padding:10px; text-align:left;}
.jpanel_box_foot{border-bottom-left-radius:8px;border-bottom-right-radius:8px; text-align:center; padding:5px;background:#EEE;border-top:#CCC 1px solid;}


.lh18{ line-height:18px;}
.lh20{ line-height:20px;}
.lh24{ line-height:24px;}
.lh28{ line-height:28px;}
.lh30{ line-height:30px;}
.lh36{ line-height:36px;}
.lh40{ line-height:40px;}
/*首页*/
.j_list_v,.j_list_v li{ list-style:none; margin:0; padding:0;}
.j_list_v{background:#FFF;}
.j_list_v li{ border-bottom:#DDD 1px solid;}
.j_list_v li a{display:block;}
.j_list_v li a div[class^="col-"]{ margin:0; padding:0;}
.j_list_v li a div[class^="col-"]:first-child{ padding-right:10px;}
.j_list_v li a div[class^="col-"] p{ display:table-cell; height:80px; vertical-align:middle; }
.j_list_v li a div[class^="col-"]:last-child p{ text-align:right; width:100%;}
/*.j_list_v li a div[class^="col-"] p img{max-width:100%}*/
.j_list_v li a:active{ background:#DDD;}
.j_list_v li a{ display:block;padding:10px; text-decoration:none;}
.j_list_v li h2{ font-weight:bold; font-size:14px; margin:0 0 5px 0; line-height:20px; text-align:left;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.j_list_v li small{ display:block; padding:0; color:#999;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.j_list_v li small span{color:#666;}
/*详情页*/
.jreg_masker{ position:absolute; z-index:98; width:100%; background:rgba(0,0,0,0.8); left:0;top:0;rigth:0;bottom:0;}
.jreg_box{position:absolute;z-index:99;left:1%;right:1%;background:#FFF; border-radius:8px;}
.jreg_box_head{border-top-left-radius:8px;border-top-right-radius:8px; line-height:36px; font-size:14px;padding:0 10px; border-bottom:#CCC 1px solid; background:#EEE;}
.jreg_box_head a{ display:inline-block; line-height:36px; padding:0 5px; color:#333;}
.jreg_box_body{ padding:10px; text-align:left;}
.jreg_box_body button{ margin:3px 0;}
.jreg_box_foot{border-bottom-left-radius:8px;border-bottom-right-radius:8px; text-align:center; padding:5px;background:#EEE;border-top:#CCC 1px solid;}
.jreg_box_input{ border-radius:4px; padding:1px 10px; border:#CCC 1px solid; margin:3px 0;}

.jalert_box{position:absolute;z-index:99;background:#FFF; border-radius:8px; left:10%; right:10%}
.jalert_box_head{border-top-left-radius:8px;border-top-right-radius:8px; line-height:36px; font-size:14px;padding:0 10px; border-bottom:#CCC 1px solid; background:#EEE;}
.jalert_box_head a{ display:inline-block; line-height:36px; padding:0 5px; color:#333;}
.jalert_box_body{ padding:10px; text-align:left;}
.jalert_box_body button{ margin:3px 0;}
.jalert_box_foot{border-bottom-left-radius:8px;border-bottom-right-radius:8px; text-align:center; padding:5px;background:#EEE;border-top:#CCC 1px solid;}
























