@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp2{
	opacity: 0;
}
.swiper-slide-active .fadeInUpa,.swiper-slide-active .swiper-slide-active .fadeInUp2{
 
  -webkit-animation: fadeInUp 1s ease both;
  -moz-animation: fadeInUp 1s ease both;
  -o-animation: fadeInUp 1s ease both;
  animation: fadeInUp 1s ease both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft{
	opacity: 0;
}
.swiper-slide-active .con1 .swiper-slide-active .fadeInLeft{
 
  -webkit-animation: fadeInLeft 2s ease both;
  -moz-animation: fadeInLeft 2s ease both;
  -o-animation: fadeInLeft 2s ease both;
  animation: fadeInLeft 2s ease both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight{
 opacity: 0;
}
.swiper-slide-active .fadeInRight{
  -webkit-animation: fadeInRight 2s ease both;
  -moz-animation: fadeInRight 2s ease both;
  -o-animation: fadeInRight 2s ease both;
  animation: fadeInRight 2s ease both;
}
.swiper-slide-active .con1 .swiper-slide-active .fadeInRight{
  -webkit-animation: fadeInRight 2s ease both;
  -moz-animation: fadeInRight 2s ease both;
  -o-animation: fadeInRight 2s ease both;
  animation: fadeInRight 2s ease both;
}
/*.fadeInRight1,.fadeInRight2,.fadeInRight3{
 opacity: 0;
}*/
.swiper-slide-active .swiper-slide-active .fadeInRight1{
  -webkit-animation: fadeInRight 1s ease both;
  -moz-animation: fadeInRight 1s ease both;
  -o-animation: fadeInRight 1s ease both;
  animation: fadeInRight 1s ease both;
}
.swiper-slide-active .con0 .swiper-slide-active .fadeInRight2,.swiper-slide-active .con1 .swiper-slide-active .fadeInRight2,.swiper-slide-active .con2 .swiper-slide-active .fadeInRight2,.swiper-slide-active .con3 .swiper-slide-active .fadeInRight2,.swiper-slide-active .con4 .swiper-slide-active .fadeInRight2{
  -webkit-animation: fadeInRight 1.8s ease both;
  -moz-animation: fadeInRight 1.8s ease both;
  -o-animation: fadeInRight 1.8s ease both;
  animation: fadeInRight 1.8s ease both;
}
.swiper-slide-active .con0 .swiper-slide-active .fadeInRight3,.swiper-slide-active .con1 .swiper-slide-active .fadeInRight3,.swiper-slide-active .con2 .swiper-slide-active .fadeInRight3,.swiper-slide-active .con3 .swiper-slide-active .fadeInRight3,.swiper-slide-active .con4 .swiper-slide-active .fadeInRight3{
  -webkit-animation: fadeInRight 2.5s ease both;
  -moz-animation: fadeInRight 2.5s ease both;
  -o-animation: fadeInRight 2.5s ease both;
  animation: fadeInRight 2.5s ease both;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.swiper-slide-active .bounceInUp{
 
  -webkit-animation: bounceInUp 2s ease both;
  -moz-animation: bounceInUp 2s ease both;
  -o-animation: bounceInUp 2s ease both;
  animation: bounceInUp 2s ease both;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
.swiper-slide-active .flip{
  -webkit-animation: flip 2s ease both;
  -moz-animation: flip 2s ease both;
  -o-animation: flip 2s ease both;
  animation: flip 2s ease both;
}

@-webkit-keyframes slideUp {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,80px,0)
}
70% {
	opacity:.7
}
90% {
	opacity:.9
}
100% {
	opacity:0
}
}
@-webkit-keyframes slideRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(60px,0,0)
}
70% {
	opacity:.7
}
90% {
	opacity:.9
}
100% {
	opacity:0
}
}
.swiper-slide-active .swiper-slide-active  #slide-right,.swiper-slide-active  #slide-right {
  position: absolute;
  width: 100px;
  height: 56px;
  bottom: 10px;
  right: 0;
  z-index: 100;
  background: url(../images/slide-right.png) no-repeat 0 0px;
  background-size: 98px auto;
  pointer-events: none;
  -webkit-animation: slideRight 2s 4 both;
}
#slide-up {
  position: absolute;
  width: 56px;
  height: 97px;
  margin-left: -10px;
  left: 50%;
  bottom: 0px;
  z-index: 100;
  background: url(../images/slide-right.png) no-repeat 0 -56px;
  background-size: 98px auto;
  pointer-events: none;
  -webkit-animation: slideUp 2s 4 both;
}
@-webkit-keyframes xiaoshi{0%{opacity:1;}100%{opacity:0}}
@-webkit-keyframes loading{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
@keyframes loading{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
.loading{-webkit-animation-name:loading;animation-name:loading}
/*loading*/
.xiaoshi{
	-webkit-animation: xiaoshi 1s both 3s;
	}
.wrap-bg {
	background: #e84c3d;
	background: -webkit-linear-gradient(top,#595aa0 0,#5d7fd4 30%,#678fe4 53%,#7ba2de 70%,#afcfc8 100%);
	/*z-index: 300;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;*/
}
.poster_wrap.load {
	background: #e84c3d;
	z-index: 300;
	background: -webkit-linear-gradient(top,#595aa0 0,#5d7fd4 30%,#678fe4 53%,#7ba2de 70%,#afcfc8 100%);
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.poster_wrap {
-webkit-transform: translate3d(0,0,0);
-webkit-transition: -webkit-transform .3s linear,opacity .3s linear;
}
.p_loading {
position: absolute;
top: -40px;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 100%;
height: 150px;
}
.p_loading_logo {
display: block;
width: 100px;
height: 100px;
background: url(../images/zp_loading_new.png) center top no-repeat;
background-size: 100%;
margin: 0 auto;
-webkit-animation: loading 3s linear infinite;
animation: loading 3s linear infinite;
}
.p_loading_tip {
color: #fff;
font-size: 15px;
text-align: center;
line-height: 25px;
margin-top: 25px;
text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
@-webkit-keyframes xuanzhuanZ {
	0% {
		-webkit-transform: rotateZ(0deg);
		opacity: 1; 
		/*-webkit-transform: scale(1.5);*/
	}

	100% {
		-webkit-transform: rotateZ(360deg);
		opacity: 1;
		 /*-webkit-transform: scale(1);*/
	}
}
.swiper-slide-active .xuanzhuanZ {
  -webkit-animation: xuanzhuanZ 5s ease both;
  animation: xuanzhuanZ 5s ease both;
}

#management .link .left {
  left: 0;
  transform-origin: right;
  -webkit-transform-origin: right;
}
#management .link .right {
  transform-origin: left;
  -webkit-transform-origin: left;
  right: 0;
}
#management .link .left, #management .link .right {
  position: absolute;
  width: 92px;
  top: -28px;
  -webkit-animation: sig-ripple 2.5s ease infinite;
  -moz-animation: sig-ripple 2.5s ease infinite;
  -o-animation: sig-ripple 2.5s ease infinite;
  animation: sig-ripple 2.5s ease infinite;
}
@-webkit-keyframes sig-ripple {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes sig-ripple {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes sig-ripple {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }