@charset "utf-8";
* {
    margin: 0;
    padding: 0;
	border: 0; 
	outline: 0;
}
.c-bg{
	background-color: #490003;
}
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}

input{padding-top:0;padding-bottom:0;}
select,input{vertical-align:middle;}
select,input,textarea{/*font-size:12px;*/margin:0;-webkit-appearance:none;}
input[type=text], input[type=password], textarea{outline-style:none;-webkit-appearance:none;}
textarea{resize:none;}
textarea, input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
-webkit-appearance: none;

}
table{border-collapse:collapse;}
.clearfix:after, .cl:after, .cf:after{display: block;height: 0;clear: both;visibility: hidden;content: '';}
body{
	font-family: Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;/*font-size: 16px;line-height:150%;*/
	color: #333333;
}
a,a:active,a:visited,a:hover,a:focus{color:#7E7E7E; text-decoration:none;}
a{
	outline: none !important;
}
.block{
	display: block !important;
}
.block-in{
	display: inline-block !important;
}
.font-b{
	font-weight: 600;
}
.font-b2{
	font-weight: 800;
}
.line1stop{
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow : hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.line2stop{
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow : hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.fix{
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
}
.fix0{position: fixed;}
.relative {
  position: relative;
}
.absolute{
	position: absolute;
}
#page-1{
	overflow-x: hidden;
}
html {
	/*min-height: 100%;
	_height: 100%;*/
	width: 100%;
	/*top: 0;
	left: 0;
	position: absolute;*/
	overflow-x: hidden;
}
body {
	/*min-height: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	overflow-x: hidden;*/
}
.page20{
	/*min-height: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	overflow-x: hidden;*/
	}
.min-h100{
	height: 100%;
	width: 100%;
	}
.um-vp {
	margin: 0;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	/*padding-bottom: 3em !important;*/
	
}
.up {
	width: 100%;
	min-height: 100%;
/*	top: 0;
	left: 0;
	position: absolute;*/
}

.uh, .uf {
    display: block;
    width: 100%;
}
div {
    outline: 0 !important;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}
ul, li {
    list-style: none;
}

.uc-tl {
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em
}

.uc-tr {
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em
}

.uc-bl {
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em
}

.uc-br {
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em
}

.uc-t {
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em
}

.uc-b {
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em;
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em
}

.uc-r {
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em;
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em
}

.uc-l {
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em
}

.uc-a {
    -webkit-border-radius: .6em;
    border-radius: .6em
}
.uc-a50{
	-webkit-border-radius: 50%;
	border-radius: 50%;
	}
.uc-n {
    -webkit-border-radius: 0;
    border-radius: 0
}

.uc-tl1 {
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em
}

.uc-tr1 {
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em
}

.uc-bl1 {
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em
}

.uc-br1 {
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em
}

.uc-t1 {
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em
}

.uc-b1 {
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em
}

.uc-r1 {
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em
}

.uc-l1 {
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em
}

.uc-a1 {
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em
}
.uc-a3 {
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em
}
.uc-a2 {
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em
}
.uc-a100 {
    -webkit-border-radius: 100px;
    border-radius: 100px
}
.uc-tl, .uc-tr, .uc-bl, .uc-br, .uc-t, .uc-b, .uc-r, .uc-l, .uc-a, .uc-n, .uc-tl1, .uc-tr1, .uc-bl1, .uc-br1, .uc-t1, .uc-b1, .uc-r1, .uc-l1, .uc-a1, .uc-a2,     , .uc-a3 {
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.us {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}
.us1 {
    -webkit-box-shadow: 0 1px 4px rgba(120, 120, 120, .3);
    box-shadow: 0 1px 4px rgba(120, 120, 120, .3)
}
.us-i {
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4)
}
.us-i2 {
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .5);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .5)
}
.uts {
    text-shadow: 0px 2px 2px #000;
}



.ufl {
    float: left !important;
}
.ufr {
    float: right !important;
}
.ulev3 {
    font-size: 1.8em !important;
}
.ulev2 {
    font-size: 1.5em !important;
}

.ulev1 {
    font-size: 1.2em !important;
}

.ulev0 {
    font-size: 1.0em !important;
}

.ulev-1 {
    font-size: 0.8125em !important;
}

.ulev-2 {
    font-size: 0.625em !important;
}
.ulev-3 {
    font-size: 1.0625em !important;
}
.ulev-4 {
    font-size: 0.75em !important;
}
.ulim {
    max-width: 5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.uinl {
    display: inline-block;
    position: relative;
}

.uinn {
    padding: 0.5em;
    margin: 0;
}
.uinn1 {
    padding: 0 0.5em;
    margin: 0;
}
.uinn11 {
    padding: 0.5em 0 ;
    margin: 0;
}
.uinn12 {
    padding: 0 1em ;
    margin: 0;
}
.uinn13 {
    padding: 1em  0;
    margin: 0;
}
.uinn2 {
    padding: 0.5em 1em;
    margin: 0;
}
.uinn212 {
    padding:1em 0.5em ;
    margin: 0;
}
.uinn3 {
    padding: 0.2em;
    margin: 0;
}
.uinn4 {
    padding: 0 0.2em;
    margin: 0;
}
.uinn5 {
    padding: 0.75em 0.5em;
    margin: 0;
}
.uinn7 {
    padding: 0.66em 0.375em;
    margin: 0;
}
.uinn8 {
    padding: 1em;
    margin: 0;
}
.uinn211 {
    padding: 0.75em 1em;
    margin: 0;
}
.umh1 {
    min-height: 1em;
}

.umh2 {
    min-height: 1.2em;
}

.umh3 {
    min-height: 1.5em;
}

.umh4 {
    min-height: 2em;
}
.umh5 {
    min-height: 3em;
}
.umh6 {
    min-height: 4em;
}
.umh7 {
    min-height: 1.8em;
}
.umw1 {
    min-width: 1em;
}
.umw1-5 {
    min-width: 1.5em;
}

.umw2 {
    min-width: 2em;
}

.umw3 {
    min-width: 3em;
}

.umw4 {
    min-width: 4em;
}

.tx-l {
    text-align: left;
}
.tx-r {
    text-align: right;
}
.tx-c {
    text-align: center;
}
.ut-s {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    outline: 0 !important
}

.ut-m {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal !important;
    outline: 0 !important
}

.uba {
    border: 1px solid;
}
.uba1 {
    border: 2px solid;
}
.uba2 {
    border: 3px solid;
}

.ubt {
    border-top: 1px solid;
}
.ubb {
    border-bottom: 1px solid;
}
/*.ubb:last-child{
	border-bottom: 0;
}*/
.ubl {
    border-left: 1px solid;
}

.ubr {
    border-right: 1px solid;
}

.uhide {
    display: none !important;
}

.umar-b {
    margin-bottom: 0.4em;
}
.umar-t {
    margin-top: 0.4em;
}
.umar-l {
    margin-left: 0.4em;
}
.umar-r {
    margin-right: 0.4em;
}
.umar-a {
    margin: 0.4em;
}
.umar-b1 {
    margin-bottom: 1em;
}
.umar-t1 {
    margin-top: 1em;
}
.umar-l1 {
    margin-left: 1em;
}
.umar-r1 {
    margin-right: 1em;
}
.uof {
    overflow: hidden;
}
.uof-x {
    overflow-x: hidden;
}
.uof-y {
    overflow-y: hidden;
}

.uabs {
    position: absolute;
    left: 0;
    top: 0;
}

.uabs-r {
    position: absolute;
    right: 0;
    top: 0;
}


.utra {
    -webkit-transition: all 300ms ease-in 100ms
}
.line1 {
    -webkit-line-clamp: 1;
}
.line2 {
    -webkit-line-clamp: 2;
}

.line3 {
    -webkit-line-clamp: 3;
}
.t-line12{
	line-height: 120%;
}
.t-line15{
	line-height: 150%;
}
.t-line18{
	line-height: 180%;
}
.t-line20{
	line-height: 200%;
}
.ani-act {
    transform: scale(0.95,0.97);
    -webkit-transform: scale(0.95,0.97);
    -webkit-transition-duration: 300ms;
    opacity: .7;
}

.uh_ios7 .uh {
	padding: 1em 0 0;
	
}
.page-con p{
	text-indent: 2em;
}
.page-con img{
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.header {
	position: fixed;
	z-index: 99;
	left: 0px;
	top: 0px;
}
.footer {
	position: fixed;
	z-index: 99;
	left: 0px;
	bottom: 0px;
}
#footer > div{
	height:3.125em!important;
}
#footer > div > a:active{
	/*background-color: #515579;*/
	color: #FFF;
}
.black60{
	background-color: rgba(0,0,0,.6);
}

.b-2-t{
	-webkit-animation: guideTop2 300ms  ease both;
    -moz-animation: guideTop2 300ms  ease both;
    -o-animation: guideTop2 300ms  ease both;
    animation: guideTop2 300ms  ease both;
}
@-webkit-keyframes guideTop2 {
	0% {
		-webkit-transform: translateY(500px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0px);
		opacity: 1
	}
}
.t-2-b{
	-webkit-animation: guideBottom 300ms  ease both;
    -moz-animation: guideBottom 300ms  ease both;
    -o-animation: guideBottom 300ms  ease both;
    animation: guideBottom 300ms ease both;
}
@-webkit-keyframes guideBottom {
	0% {
		-webkit-transform: translateY(0px);
		opacity: 1
	}
	100% {
		-webkit-transform: translateY(-500px);
		opacity: 0
	}
}
.b-2-t21{
	-webkit-animation: guideTop21 5s  ease both;
    -moz-animation: guideTop21 5s  ease both;
    -o-animation: guideTop21 5s  ease both;
    animation: guideTop21 5s  ease both;
}
@-webkit-keyframes guideTop21 {
	0% {
		-webkit-transform: translateY(900px);
		opacity: 0
	}
	10% {
		-webkit-transform: translateY(0px);
		opacity: 1
	}
	90% {
		-webkit-transform: translateY(0px);
		opacity: 1
	}
	100% {
		-webkit-transform: translateY(-900px);
		opacity: 0
	}
}
/*radio*/
.chejia input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
	display: none;	
}

.chejia input[type="radio"]:not(:checked) + label {
	cursor: pointer;
	display: inline-block;
	background-image: url(../images/blue.png);
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: -216px center;
	height:24px; 
	width:24px;

}
.chejia input[type="radio"]:checked + label {
	display: inline-block;
	background-image: url(../images/blue.png);
	-webkit-background-size: auto 100% ;
	background-size: auto 100% ;
	background-repeat: no-repeat;
	background-position: -168px 0px;
	height:24px; 
	width:24px;
	
}
/*shoufu-radio*/
.shoufu input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
	display: none;	
}

.shoufu input[type="radio"]:not(:checked) + label {
	cursor: pointer;
	display: inline-block;
	border: 1px solid rgba(204,204,204,1);
	color: rgba(153,153,153,1);
}
.shoufu input[type="radio"]:checked + label {
	display: inline-block;
	border: 1px solid rgba(0,153,255,1);
	color: rgba(0,102,255,1);
}
/*checkbox*/
.daan input[type="checkbox"]:checked,
.daan input[type="checkbox"]:not(:checked) {
	display: none;	
}

.daan input[type="checkbox"]:not(:checked) + label i {
	color: #A7A7A7
}
.daan input[type="checkbox"]:checked + label {
	border-color:#09F;
	background-color:#09F;
	color:#FFF
	
}
.daan input[type="checkbox"]:checked + label i {
	color: #FFFF00
}
.s4bg{
	background-attachment: fixed;
	background-image: url(../images/4sbg.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left top;
	}
.menu-list a{
	padding: 0.75em 1em;
	margin: 0;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	/*border-bottom-color: rgba(84,87,107,0.5);*/
	border-bottom-color: rgba(255,255,255,0.1);
	color: rgba(166,255,255,1);
}
.ubb0 .ubb:last-child,.menu-list a:last-child{
	border-bottom: 0;
}
.ubb01 a:last-child .ubb{
	border-bottom: 0;
}
.menu-list a:active{
	background-color: rgba(255,128,64,1);
	color: rgba(255,255,255,1);
}
.menu-list a.active{
	background-color: rgba(255,255,255,1);
	color: rgba(102,102,102,1);
}
.right-page{
	 transform: translateX(60%);
	-webkit-transform: translateX(60%);
	transition: transform 300ms;
	-webkit-transition:  -webkit-transform 300ms;
}
.right-page-shadow{
	box-shadow:-2px 0px 2px rgba(0,0,0,.2);	
	-webkit-box-shadow:-2px 0px 2px rgba(0,0,0,.2);	
	}
.right-page-1{
	 transform: translateX(none);
	-webkit-transform: translateX(none);
	transition: transform 300ms;
	-webkit-transition:  -webkit-transform 300ms;
}
.mask{
	position: fixed;
	z-index: 999;
	left: 0px;
	top: 0px;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,.1);
	transition: background-color 3000ms;
}
.mask-1{
	background-color: rgba(0,0,0,0);
	transition: background-color 300ms;
	-webkit-transition: background-color 300ms;
}
.bot-active{
	box-shadow:0px 3px 5px rgba(0,0,0,.3) inset;	
	-webkit-box-shadow:0px 3px 5px rgba(0,0,0,.3) inset;	
}
.bot-active2{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,153,0,1);
}
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: none !important;
/*margin-bottom: 10px;*/
}
.btn-danger {
border-color: #f55b46;
background: #f55b46;
color: #fff;
}
.btn-info {
border-color: #5bc0de;
background: #5bc0de;
color: #fff;
}
.btn-lg {
padding: 10px 16px;
font-size: 18px;
border-radius: 4px;
margin-bottom: 10px;
}
.list:active,.btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

#otherTab tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
	
}
#otherTab td , #otherTab th {
	text-align: center;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.top-active::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #8e5cd4;
	position: absolute;
	z-index: 9;
	left: 50%;
	margin-left: -4px;
	bottom: -8px;
}
.scaleY0{
	transform:scale(0);
	-webkit-transform:scale(0); 
}
.scaleY1{
	transform:scaleY(1);
	-webkit-transform:scaleY(1); 
}
.uc-bb8 {
    -webkit-border-bottom-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    border-bottom-right-radius: 50%
}
/*.pagination {
	left: 50%;
	margin-left: -20px;
}*/
/*#main li.on::before{
	content: "";
	background-color: #09F;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	display: block;
	margin-bottom: -1px;
}*/
/*#main li.on{
	color: #09F;
	transition: color 0.3s;
-moz-transition: color 0.3s;
-webkit-transition: color 0.3s;
-o-transition: color 0.3s;
}*/
.bd .siderlist > li{
	margin-bottom: 0.5em;
	background-color: #fff;
}
.bd .siderlist > li:active{
	background-color: #FFD2FF;
}
.bd ul > li:first-child{
	/*border-top-width: 0;*/
}
#footer a,#footer a:active,#footer a:visited,#footer a:hover,#footer a:focus{
	color: #8c8c8c;
	text-decoration: none;
}
#footer a.t-wh{
	color: #fff;
}
.yjian{
	height: 3em;
	width: 3em;
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 1;
}
.trapezoid {
	width: 0;
	height: 0;
	border-top: 2em solid #ED7D00;
	border-left: 3em solid transparent;
	color: rgba(255,255,255,.7);
}
.rebiao{
	right:0.4em; 
	top:0.4em;
	position: absolute;
}
.userlist li:last-child .ubb{
	border-bottom-width: 0;
}
.btn-z:active{
	/*-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;*/
	opacity: .5;
	border-color: #FFF;
	transition: border-color 300ms;
	-webkit-transition: border-color 300ms;	
}
.shangpin-cona img{
	max-width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 150%;
}
/*单选&复选*/

.i-checks {
  padding-left: 20px;
  cursor: pointer;
}

.i-checks input {
  position: absolute;
  margin-left: -20px;
  opacity: 0;
}

.i-checks input:checked + i {
  border-color: #23b7e5;
}

.i-checks input:checked + i:before {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #23b7e5;
}

.i-checks input:checked + span .active {
  display: inherit;
}

.i-checks input[type="radio"] + i,
.i-checks input[type="radio"] + i:before {
  border-radius: 50%;
}

.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #dee5e7;
}

.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  background-color: #dee5e7;
}

.i-checks > i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 4px;
  margin-left: -20px;
  line-height: 1;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #cfdadd;
}

.i-checks > i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  content: "";
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.i-checks > span {
  margin-left: -20px;
}

.i-checks > span .active {
  display: none;
}
.u-guideTop {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -15px;
  display: block;
  z-index: 59;
  -webkit-animation: guideTop 1.5s infinite;
}
@-webkit-keyframes guideTop {
	0% {
		-webkit-transform: translateY(45px);
		opacity: 0
	}
	50% {
		-webkit-transform: translateY(22px);
		opacity: 0.7
	}
	100% {
		-webkit-transform: translateY(0px);
		opacity: 0
	}
}
.img50 img{
	height: 110%;
}
.img80 img{
	height: 100%;
}