    <div class="panel panel-default">
      <div class="panel-heading">菜单设置</div>
      <div class="panel-body">

        <div class="form-group">
          <?php
          echo FormTpl::label("安装");
          echo FormTpl::getWebControl('submit', 'installmenu', '安装余额菜单到个人中心');
          ?>
        </div>

        <div class="form-group">
          <?php
          echo FormTpl::label("卸载");
          echo FormTpl::getWebControl('submit', 'uninstallmenu', '从个人中心卸载余额菜单');
          ?>
        </div>
      </div>
    </div>


