/* CSS Document */
* { word-wrap: break-word; }
ul,ol,li,span,p,form,h1,h2,h3,4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
img,a img { border:0; margin:0; padding:0; }
ul,ol,li { list-style:none; }
* { margin:0; padding:0; }
html,body { height:100%; font:12px/1.6  Microsoft YaHei, Helvetica, sans-serif; color:#4C4C4C; }
input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
table { empty-cells: show; border-collapse: collapse; }
	caption, th { text-align: left; font-weight: 400; }
ul li, .xl li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite, i { font-style: normal; }
	a img { border: none; }
label { cursor: pointer; }
a{ text-decoration:none; color:#333}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }

body{ background:#f6f6f6;}
.cis_wp{ padding-top:50px;}

#header{ height:50px; position:fixed; top:0px; left:0px; width:100%; background: -moz-linear-gradient( top,#ed3228,#cd2b2b); background: -webkit-linear-gradient( top,#ed3228,#cd2b2b);background: linear-gradient( top,#ed3228,#cd2b2b); z-index:9999; border-bottom:1px solid #b10101}
#header h2{ float:left; padding:10px; line-height:30px; font-size:18px; font-weight:400; color:#fff;}
#header h2 a{ color:#fff}
#header h2 img{ height:30px; vertical-align:middle}

#header ul{ float:right; padding:10px;}
#header ul li{ float:left; width:30px; height:30px; margin-left:10px; background:#cf2823; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#header ul li img{ width:30px; height:30px;}

.cis_viewboxbc img {width:100%;}
.cis_viewcontent img {width:100%;}
.cis_viewcontenttable img {width:100%;}	
/*cis_slide*/
.cis_slider{}

.flexslider { margin: 0; padding: 0; }
.flexslider .slides li{position:relative }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides li p{ position:absolute; left:0px; bottom:0px; width:100%; height:40px; line-height:40px; text-align:center; overflow:hidden; color:#fff; font-size:14px;
  background: rgba(0, 0, 0, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #60000000, endColorstr = #60000000);
}
.flexslider .slides img { width: 100%; display: block; }
html[xmlns] .slides { display: block; }

.flexslider { zoom: 1; position: relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.flexslider .slides { zoom: 1; }

.flex-control-nav { width: 100%; position: absolute; bottom: 15px; text-align: center; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #fff; text-indent: -9999px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a.flex-active { background: #f60; background: rgba(255,102,0,0.9); cursor: default; }

.cis_slide_act .flex-control-nav { bottom:45px;}
/**/
.cis_sitenv{ padding:3px 7px 7px 8px;}
.cis_sitenv li{ width:25%; float:left; text-align:center;}
.cis_sitenv li a{ display:block; margin:7px 8px 8px 7px; background:#fff; border:1px solid #eee; padding:10px; font-size:14px;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.cis_sitenv li img{ width:100%;}

/**/
.cis_box{ background:#fff; margin-bottom:10px;}
.cis_box h3{ height:40px; border-top:1px solid #eee; border-bottom:1px solid #eee; font-weight:400; font-size:16px;}
.cis_box_bt0 h3{ border-top:0px;}
.cis_box h3 img{ width:40px; height:40px; vertical-align:middle}
.cis_box h3 span{ float:left; height:40px; line-height:40px; padding:0 15px 0 0; color:#333; }
.cis_box h3 span img{}
.cis_box h3 .more{ float:right }
/**/
.cis_mainside{ border:1px solid #eee; background:#f8f8f8;padding:10px 20px 0px 20px; margin-bottom:0px;}
.cis_mainside h3{ height:50px; line-height:50px; font-size:16px; font-weight:400}
.cis_mainside h3 img{ vertical-align:middle; padding-right:10px;}
.cis_mainside div.qr img{ border:1px solid #eee; width:100%}
/**/
.cis_trowlist{ background:#fff }
.cis_trowlist li{ float:left; width:50%; border-bottom:1px solid #eee; text-align:center}
.cis_trowlist li div.item{ padding:10px; text-align:center}
.cis_trowlist li.even div.item{ border-left:1px solid #eee;}

.cis_trowlist li div.logo{ width:100px; height:100px; overflow:hidden; margin:0 auto}
.cis_trowlist li div.logo_area{ display:table-cell; height:100px; width:100px; line-height:100px; vertical-align:middle;}
.cis_trowlist li div.logo img{ max-width:100px; max-height:100px; width:expression(this.width > 100 && this.width > this.height ? 100: true); height:expression(this.height > 100 ? 100: 100); vertical-align:middle;}

.cis_trowlist li h4{ height:30px; line-height:30px; overflow:hidden; font-size:14px; font-weight:400}
/**/
.cis_trowlistpinpai{ background:#fff }
.cis_trowlistpinpai li{ float:left; width:50%; border-bottom:1px solid #eee; text-align:center}
.cis_trowlistpinpai li div.item{ padding:10px; text-align:center}
.cis_trowlistpinpai li.even div.item{ border-left:1px solid #eee;}

.cis_trowlistpinpai li div.logo{ width:100px; height:100px; overflow:hidden; margin:0 auto;border: 2px solid #EE7C02;}
.cis_trowlistpinpai li div.logo_area{ display:table-cell; height:100px; width:100px; line-height:100px; vertical-align:middle;}
.cis_trowlistpinpai li div.logo img{ max-width:100px; max-height:100px; width:expression(this.width > 100 && this.width > this.height ? 100: true); height:expression(this.height > 100 ? 100: 100); vertical-align:middle;margin-top:-3px}

.cis_trowlistpinpai li h4{ height:30px; line-height:30px; overflow:hidden; font-size:14px; font-weight:400}
/**/
.couponlist h4{ background:#f6f6f6;}
.coupon{ background:#81cccd; padding:5px 10px;}
.coupon h2{ font-size:18px; color:#fff; border-bottom:1px dotted #fff; padding-bottom:5px; margin-bottom:5px; font-weight:400}
.coupon p{ color:#fff;}
.coupon50{ background:#6898cc !important;}
.coupon100{ background:#f6bb3d !important}
.coupon200{ background:#ff797c !important}

/*cis_activitielist*/
.cis_activitielist{}
.cis_activitielist li{ padding:10px; border-bottom:1px solid #eee;}
.cis_activitielist li div.list_cover{ width:100px; height:100px; float:left; display:table-cell; line-height:100px; text-align:center; vertical-align:middle; margin-right:10px;}
.cis_activitielist li div.list_cover img{ max-width:100px; max-height:100px; width:expression(this.width > 100 && this.width > this.height ? 100: true); height:expression(this.height > 100 ? 100: 100); vertical-align:middle;}
.cis_activitielist li h4{ height:30px; line-height:30px; font-size:14px; overflow:hidden; font-weight:400}
.cis_activitielist li h5{ font-weight:400; height:20px; line-height:20px; overflow:hidden}
.cis_activitielist li p { line-height:25px; line-height:25px; overflow:hidden}
.cis_activitielist li p span.over{ color:#999}
.cis_activitielist li p span.wait{ color:#f00}
.cis_activitielist li p span.ing{ color:#060}
.cis_activitielist li p.num span{ color:#f00}
.cis_activitielist li p.num em{ padding:0 5px;}

/**/
#waterfallist{ padding:7px;}
.cis_waterfall{ position:relative}
.cis_waterfall li{ float:left; width:50%;}
.cis_waterfall li div.item{ padding:7px; text-align:center}

.cis_waterfall li img{ width:100%;}
.cis_waterfall li div.info { text-align:left; background:#f6f6f6; border-bottom:1px solid #eee;}
.cis_waterfall li div.info h2{ font-size:14px; line-height:20px; font-weight:400; padding:5px 5px 0 5px;}
.cis_waterfall li div.info h4 { padding:0 5px 5px 5px}
.cis_waterfall li div.info h4 strong{ font-size:18px; color:#f00; font-weight:400}
.cis_waterfall li div.info h4 span{ font-size:14px; color:#999;  text-decoration:line-through; font-weight:400}

.pgbtn{ height:40px; padding:15px 15px 0 15px; font-size:16px;}
.pgbtn a{ display:block; text-align:center; line-height:40px;background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

#autopbn{ margin:15px 15px 0 15px; background:#fff; display:block; text-align:center; height:40px; line-height:40px;font-size:16px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

#fd_page_bottom{ display:none}
/**/
.footer{ text-align:center; padding-bottom:15px; padding-top:15px;}
.footer ul{ list-style:none; margin:0; display:inline-block;}
*+html .footer ul { display:inline;}
.footer ul li{ float:left;}
.footer ul li a{ border:1px solid #eee; display:block; padding:0 15px; height:24px; line-height:24px; background:#eee}
.footer ul li.a a{ background:#fff}

.footer p{ font-size:12px; color:#999; line-height:24px;}
.footer p a{ color:#999}

/**/
.cis_catnv{ border-bottom:1px solid #f9f9f9;}
.cis_catnv li{ float:left; line-height:50px; font-size:15px; border-bottom:1px solid #ddd;}
.cis_catnv li a{ display:block; text-align:center; background:#fff; border-right:1px solid #eee;}
.cis_catnv li a span{ color:#f60}
.cis_catnv li#end a{ border-right:0px;}
.cis_catnv li.a{ border-bottom:1px solid #f60} 
.cis_catnv li.a a{ border-bottom:1px solid #f60}

.cis_cn3 li{ width:33.3%;}
.cis_cn4 li{ width:25%;}
.cis_cn5 li{ width:20%;}

.cis_shownv{ background:#fff;  border-bottom:1px solid #ddd;}
.cis_shownv h3{ height:40px; background:#f6f6f6; border-bottom:1px solid #eee; line-height:40px; font-size:14px; padding-left:10px; font-weight:400}
.cis_shownv ul {padding:5px;}
.cis_shownv ul li{ float:left; width:25%; overflow:hidden;}
.cis_shownv ul li a{ display:block; text-align:center; padding:5px; font-size:14px}
.cis_shownv ul li a span{ display:block; border:1px solid #ddd; height:28px; line-height:28px;border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}
.cis_shownv ul li.a a span{ border:1px solid #c40000; background:#c40000; color:#fff}

/**/
.cis_shoplist tbody{ background:#fff; border-bottom:1px solid #eee;}
.cis_shoplist td.logo{ width:80px; height:81px; float:left; display:table-cell; line-height:80px; text-align:center; vertical-align:middle; padding:10px;}
.cis_shoplist td.logo img{ max-width:80px; max-height:80px; width:expression(this.width > 80 && this.width > this.height ? 80: true); height:expression(this.height > 80 ? 80: 80); vertical-align:middle;}
.cis_shoplist td.info{ padding:10px 10px 10px 0; height:80px; overflow:hidden}
.cis_shoplist h4{ font-size:16px;width:200px; height:22px;line-height:20px; overflow:hidden; font-weight:400}
.cis_shoplist p.about{ height:15px; line-height:15px; color:#999; overflow:hidden}
.cis_shoplist p.ads{ height:15px; line-height:15px; overflow:hidden}
.cis_shoplist i.aboutu{ color:#999; line-height:17px; overflow:hidden;color:#FF8500;font-size:12px;font-weight: 700;}
.cis_shoplist i.about{ color:#999; line-height:17px; overflow:hidden;font-family: georgia, palatino;color: red;font-size: large;font-weight: 700;}
.cis_shoplist p.score{ padding-top:5px; }
.cis_shoplist p.score span{ width:75px; height:15px; float:left;background-image:url(score_bg.png);background-repeat:no-repeat;background-size:75px 15px;}
.cis_shoplist p.score span em{ float:left; height:15px;background-image:url(score.png);background-repeat:no-repeat;background-size:75px 15px;}

/**/
.cis_wp10{ padding:0 10px;}

/**/
.cis_couponlist{ margin-bottom:10px; width:100%;}
.cis_couponlist td{ padding:10px 0 0 0; vertical-align:top}
.cis_couponlist td.btn{ width:80px;}
.cis_couponlist td.btn div{ width:80px; height:60px; padding:10px 0; background:url(coupon_btn.gif) repeat-y 0 0 #f4dd37; font-size:18px; text-align:center; line-height:30px;}

.cis_couponlist td.info div.coupon{ background:#81cccd; height:80px; padding:0px;}
.cis_couponlist td.info div.coupon50{ background:#6898cc;}
.cis_couponlist td.info div.coupon100{ background:#f6bb3d}
.cis_couponlist td.info div.coupon200{ background:#ff797c}

.cis_couponlist td.info div.coupon div{ padding:10px; height:40px;}
.cis_couponlist td.info div.coupon h3{ height:40px; line-height:40px; float:left; color:#fff; font-size:24px; margin-right:10px; overflow:hidden; }
.cis_couponlist td.info div.coupon h3 span{ font-weight:400; font-size:16px}
.cis_couponlist td.info div.coupon h4{ font-weight:400; height:20px; line-height:20px; color:#fff; font-size:14px; overflow:hidden}

.cis_couponlist td.info div.coupon p{ height:20px; line-height:20px; text-align:center; color:#333; font-size:10px;
  background: rgba(255, 255, 255, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #60ffffff, endColorstr = #60ffffff);
}

/**/
.activitielist{ background:url(activitielist.gif) repeat-y 31px 0;}
.cis_activitielist{ width:100%;}
.cis_activitielist div.cover{ height:80px; width:80px; display:table-cell; line-height:80px; vertical-align:middle; float:left; margin-right:10px; }
.cis_activitielist div.cover img{ max-width:80px; max-height:80px; width:expression(this.width > 80 && this.width > this.height ? 80: true); height:expression(this.height > 80 ? 80: 80); vertical-align:middle;}

.cis_activitielist td.date{ width:50px; text-align:center}
.cis_activitielist .datearea{ width:50px; height:40px; padding:5px 0; background:#77cedb; color:#fff;border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}
.cis_activitielist .datearea h3{ line-height:40px; font-weight:400}
.cis_activitielist .datearea h4{ height:19px; line-height:19px; border-bottom:1px solid #fff; font-size:12px; font-weight:400}
.cis_activitielist .datearea p{ height:19px; line-height:19px; border-top:1px solid #fff; color:#fff;}

.cis_activitielist td.date div.end{ background:#999;}
.cis_activitielist td.date div.ing{ background:#ff797c}


.cis_activitielist td.info{ padding-top:10px; padding-left:10px;}
.cis_activitielist .infoarea{ background:#fff; padding:10px; border:1px solid #eee;}
.cis_activitielist .infoarea h3{ height:20px; line-height:20px; font-size:14px; font-weight:400; margin-bottom:10px; overflow:hidden }
.cis_activitielist .infoarea h4{ font-size:16px; font-weight:400; height:30px; line-height:30px; overflow:hidden; }
.cis_activitielist .infoarea p{ height:20px; line-height:20px; overflow:hidden;}
.cis_activitielist .infoarea p span{ color:#f60; padding:0 3px;}

/**/
.cis_newslist{ width:100%;}
.cis_newslist td.cover{ height:50px; width:60px;line-height:50px; vertical-align:middle; padding:10px 0 10px 10px; background:#fff; border-bottom:1px solid #eee;}
.cis_newslist td.cover img{ max-width:60px; max-height:50px; width:expression(this.width > 60 && this.width > this.height ? 60: true); height:expression(this.height > 50 ? 50: 50); vertical-align:middle;}
.cis_newslist td.info{ height:50px; overflow:hidden; padding:10px; background:#fff; border-bottom:1px solid #eee; }
.cis_newslist td.info h4{ height:20px; line-height:20px; overflow:hidden; font-size:14px; font-weight:400}
.cis_newslist td.info p{ height:30px; line-height:15px; overflow:hidden; font-size:12px; color:#999 }

/**/
.cis_sitemap{ background:#fff; padding-top:50px;}
#cis_view .cis_sitemap{ padding-top:0px;}
.cis_sitemap h3{ font-size:14px; padding-left:15px; background:#f6f6f6; border-bottom:1px solid #eee; font-weight:400; height:40px; line-height:40px; margin-bottom:5px;}

/**/
.cis_search{ padding:60px 10px 10px 10px;}
#cis_view .cis_search{ padding-top:10px;}
.cis_search form{ background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:5px; border:1px solid #eee;}
.cis_search form input{ border:0px; height:30px; line-height:30px;}
.cis_search table{ width:100%;}
.cis_search table td.type{ width:80px;}
.cis_search table td.btn{ width:50px;}
.cis_search table td.input input{ width:100%;}
.cis_search form select { border: 0; padding: 2px 4px; font-size:14px; width:100%; background:none}
.cis_search form button{ width:100%; border:0px; padding:0px; background:#f60; height:30px; line-height:26px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff;}

/**/
.cis_userinfo{ padding:15px; background:#fff; border-bottom:1px solid #ddd;}
.cis_userinfo img{ width:48px; height:48px; float:left; margin-right:10px; border:1px solid #eee; padding:2px;}
.cis_userinfo h3{ padding-top:7px; height:20px; line-height:20px; font-size:14px; font-weight:400}
.cis_userinfo p{ font-size:14px; height:20px; line-height:20px;}

.cis_links{ padding:15px; }
.cis_links li{ height:40px; line-height:40px; padding:0 0 0 15px; background:#fff; border-bottom:1px solid #eee; font-size:14px}
.cis_links li .more{ float:right; height:40px; }

/**/
.cis_shopindex{ padding:23px 7px 7px 8px;}
.cis_shopindex li{ width:25%; float:left; text-align:center;}
.cis_shopindex li a{ display:block; margin:7px 8px 8px 7px; padding:10px; font-size:14px; color:#fff; text-shadow:1px 1px 0 #000;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.cis_shopindex li img{ width:100%;}


/**/
.cis_indexshopname{ position:absolute; left:0px; bottom:0px; height:40px; line-height:40px; text-align:center; width:100%; font-size:16px; font-weight:400; color:#000;
  background: rgba(255, 255, 255, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #60ffffff, endColorstr = #60ffffff);
}


/**/
.cis_shopheader{ background:#fff; border-bottom:1px solid #ddd; position:relative; height:170px;}
.cis_shopheaderbg{ height:100px; background:#c40000}
.cis_shophdc{ position:absolute; left:0px; bottom:15px; width:100%; height:70px; overflow:hidden;}

.cis_shoplogo{ float:left; width:70px; height:70px; line-height:70px; overflow:hidden; margin-right:10px; margin-left:15px;}
.cis_shoplogo img{ max-width:70px; max-height:70px; width:expression(this.width > 70 && this.width > this.height ? 70: true); height:expression(this.height > 70 ? 70: 70);}
.cis_shophdc h1{ font-size:18px; height:40px; line-height:40px; overflow:hidden; margin-top:15px; }
.cis_shophdc p{ height:15px;}
.cis_shophdc p span{ width:80px; height:15px; float:left;background-image:url(ss_bg.png);background-repeat:no-repeat;background-size:80px 15px;}
.cis_shophdc p span em{ float:left; height:15px;background-image:url(ss.png);background-repeat:no-repeat;background-size:80px 15px;}
.aboutuo{ color:#999; line-height:15px; height:44px; overflow:hidden;color:#FF8500;font-size:12px;font-weight: 700;}
.aboutou{ color:#999; line-height:15px; height:44px; overflow:hidden;font-family: georgia, palatino;color: red;font-size: large;font-weight: 700;}
/**/
.cis_shoptopbtn{ position:absolute; right:15px; height:30px; top:15px; }
.cis_shoptopbtn li{ float:left; height:30px; line-height:30px; margin-left:10px;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  background: rgba(0, 0, 0, 0.2); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #20000000, endColorstr = #20000000);
}
.cis_shoptopbtn li img{ width:30px; height:30px;}

/**/
.cis_showshopnv{ width:50px; height:50px; border-left:1px solid #eee; position:absolute; right:0px; bottom:10px; text-align:center; overflow:hidden }
.cis_showshopnv img{ width:50px; height:50px;}

/**/
#footer{ position:fixed; left:0px; bottom:0px; height:50px; overflow:hidden; background:#eee; border-top:1px solid #ddd; width:100%;}
#footer li{ float:left; width:20%;}
#footer li a{ display:block; height:50px; line-height:50px; border-right:1px solid #ddd; font-size:16px; text-align:center}
#footer li.a a{ background:#fff; border-top:2px solid #f60; height:48px; line-height:48px;}
#footer li.end a{ border-right:0px;}

/**/
.cis_viewpage{ padding:15px;}
.cis_viewcontent{ border:1px solid #ddd; padding:15px; background:#fff;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.cis_viewcontent h3{ font-size:16px; line-height:30px; text-align:center }
.cis_viewcontent p.info{ text-align:center; font-size:10px; color:#999; padding-bottom:10px; border-bottom:1px solid #ddd; margin-bottom:10px;}
.cis_viewcontenttable td{ font-size:16px; line-height:1.8;word-wrap: break-word;}
.cis_viewcontenttable td img{ max-width:100%; width:expression(this.width > 300 ? 100%: true);}

/**/
.cis_sendpost{ position:fixed; left:0px; bottom:0px; height:60px; width:100%; background:#eee; border-top:1px solid #ddd; }
.cis_sendpost form{ margin:10px;}
.cis_sendpost table{ width:100%;}

.cis_sendpost table td.input{ background:#fff; padding:5px; height:28px; border:1px solid #ddd;}
.cis_sendpost table td.input input{ width:100%; border:0px; height:28px; line-height:28px; }
.cis_sendpost table td.blank{ width:10px;}
.cis_sendpost table td.btn{ width:50px;}
.cis_sendpost button{ width:100%; border:0px; padding:0px; background:#f60; height:40px; line-height:40px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff;}

/**/
.pb60{ padding-bottom:60px !important;}

/**/
.cis_postlist{ margin:0 15px 15px 15px; border:1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;background:#fff; border-bottom:0px;}
.cis_postlist h2{ font-size:16px; height:40px; line-height:40px; font-weight:400; background:#eee; border-bottom:1px solid #ddd; padding:0 10px;
  -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
.cis_postlist table{ width:100%; }
.cis_postlist table td{ border-bottom:1px solid #ddd; }
.cis_postlist table td.user{ width:24px; padding:10px; vertical-align:top}
.cis_postlist table td.user img{ width:24px; height:24px;-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;}

.cis_postlist table td.post{ padding:5px 10px 10px 10px;}
.post h3 img{ width:24px; height:24px;-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; vertical-align:middle; margin-right:10px;}
.post h3{ font-size:12px; color:#06C; font-weight:400; height:30px; line-height:30px;}

.post .cis_plpc{ line-height:20px; font-size:14px; padding-top:5px;}


.cis_plpost{ background:#fdf9e9; border:1px solid #e1ddcc; margin-top:10px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.cis_plpost h4{ background:#fff; border-bottom:1px solid #e1ddcc; height:30px; line-height:30px; color:#999; font-weight:400; padding:0 10px;
  -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
}

.cis_plpost div{ padding:10px; font-size:14px; line-height:20px;}


.cis_managepost{ float:right; }
.cis_managepost select{ border:0px; background:none; width:100%; color:#ccc}
/**/
.cis_viewinfo{ padding:15px;}
.cis_viewinfo .cis_slide{ border:1px solid #ddd;}
.cis_infocontent{ border:1px solid #ddd; border-top:0px; background:#fff;}
.cis_infocontent h2{ font-size:18px; line-height:24px; font-weight:400; padding:10px 10px 0 10px;}
.cis_infocontent p{ line-height:20px; color:#999; font-size:14px; padding:0 10px 10px 10px;}
.cis_infocontent p.num{ padding-top:5px;}
.cis_infocontent p.num span{ color:#f60; padding:0 3px}
.cis_infocontent p.num a{ margin-left:5px; color:#06C}

#cis_fixed_btn{ border-top:1px solid #ddd; padding:10px 0; height:30px; line-height:30px;}
.cis_fixed_nv{ position:fixed; left:0px; top:0px; width:100%; background:#fff; border-bottom:1px solid #ddd;}

#cis_fixed_btn p span{ float:right; height:30px; line-height:30px; font-size:18px; color:#f00}
#cis_fixed_btn p a{ float:left; margin-right:10px; height:30px; line-height:30px; padding:0 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff; font-size:16px}
#cis_fixed_btn p a img{ height:20px; vertical-align:middle}
#cis_fixed_btn p a.fav{ background:#55c1d2}
#cis_fixed_btn p a.buy{ background:#e43b36}
#cis_fixed_btn p a.reset{ background:#999}

/**/
.cis_viewshopinfo{ border:1px solid #ddd; border-top:0px; background:#fff}
.cis_viewshopinfo h2{ height:40px; border-bottom:1px solid #ddd; background:#eee; font-size:16px; padding-left:15px; font-weight:400; line-height:40px;}
.cis_viewshopinfo h3{ height:40px; border-bottom:1px solid #ddd; background:#eee; font-size:12px; padding-left:15px; font-weight:400; line-height:40px;}
.cis_mainsides{ border:1px solid #eee; background:#f8f8f8;padding:10px 20px 0px 10px; margin-bottom:0px;}
.cis_mainsides h4{ width:100%; border:3px solid #ddd; background:#ffffff; font-size:14px;font-weight:400; line-height:18px;margin-bottom:10px;padding:2px;}
.cis_mainsides h5{ width:80px; border:3px solid #ddd; background:#ff6100;color: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 2px 0 0 #ff4100; font-size:16px;font-weight:400; line-height:18px;margin-bottom:1px;padding:2px;}
.cis_viewshopinfo .tel{ float:right; width:50px; height:50px; padding:10px; line-height:50px;}
.cis_viewshopinfo .tel a{ display:block; width:50px; height:50px; background-image:url(tel.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .tels{ float:left; width:50px; height:50px; padding:5px; line-height:50px;}
.cis_viewshopinfo .tels a{ display:block; width:50px; height:50px; background-image:url(tel.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .sms{ float:left;i width:50px; height:50px; padding:5px; line-height:50px;}
.cis_viewshopinfo .sms a{ display:block; width:50px; height:50px; background-image:url(sms.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .yuyue{ float:left;i width:50px; height:50px; padding:5px; line-height:50px;}
.cis_viewshopinfo .yuyue a{ display:block; width:50px; height:50px; background-image:url(yuyue.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .qq{ float:left; width:50px; height:50px; padding:5px; line-height:50px;}
.cis_viewshopinfo .qq a{ display:block; width:50px; height:50px; background-image:url(qq.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .weixin{ float:left; width:50px; height:50px; padding:5px; line-height:50px;}
.cis_viewshopinfo .weixin a{ display:block; width:50px; height:50px; background-image:url(weixin.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .info{ padding:10px 60px 10px 10px;}
.cis_viewshopinfo .info p{ color:#999; line-height:25px; height:50px; overflow:hidden; font-size:14px}

/**/
.cis_viewbox{ border:1px solid #ddd; border-top:0px; background:#fff}
.cis_viewbox h2{ height:40px; border-bottom:1px solid #ddd; background:#eee; font-size:16px; padding-left:15px; font-weight:400; line-height:40px;}
.cis_viewboxbc{ padding:10px;}

.cis_viewpic{ border:1px solid #ddd; background:#fff}
.cis_viewpic img{ width:100%;}

/**/
.cis_couponinfo{ background:#81cccd; padding:5px 10px 10px 10px;}
.cis_couponinfo h2{ font-size:18px; color:#fff; border-bottom:1px dotted #fff; height:40px; line-height:40px; padding-bottom:5px; margin-bottom:5px; font-weight:400}
.cis_couponinfo p{ color:#fff;}

/**/
.cis_form{ padding:10px;}
.cis_form table{ width:100%;}
.cis_form table td{ padding-bottom:10px; }
.cis_form table td.input div{ padding:10px; background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border:1px solid #ddd;}
.cis_form table td.input textarea{ width:100%; border:0px;}
.cis_form table td.input input{ width:100%; border:0px;}
.cis_form table td.btn{}
.cis_form table td.btn button{ border:0px; padding:0px 15px; background:#f60; height:40px; line-height:40px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff;}

/**/
.cis_pt{ background:#fff; padding:10px; height:30px; line-height:30px; overflow:hidden; border-bottom:1px solid #ddd; font-size:16px;}
.cis_pt img{ height:30px; vertical-align:middle}

/**/
.cis_userlist{}
.cis_userlist table{ width:100%;}

.cis_userlist table td{ height:30px; border-bottom:1px solid #ddd; background:#fff; padding-top:5px; padding-bottom:5px;}
.cis_userlist table td.cis_w2{ padding-left:10px; width:100px;}
.cis_userlist table td.cis_w3{ width:100px;}
.cis_userlist table thead td{ background:#f6f6f6}

/**/
.cis_threelist{ }
.cis_threelist li{ float:left; width:33.3%; border-bottom:1px solid #ddd;}
.cis_threelist li div{ padding:10px; background:#fff;}
.cis_threelist li.mid div{ border-left:1px solid #ddd; border-right:1px solid #ddd;}
.cis_threelist li div img{ width:100%;}