
html,body,div,h1,h2,h3,h4,h5,h6,p,span,em,cite,del,a,img,ul,li,ol,dl,dt,dd,fieldset,legend,form,input,button,textarea,header,section,footer,article,nav,aside,address,menu,figure,figcaption{margin:0;padding:0;outline:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
fieldset,img{border:0}
ul{list-style:none}
mark{background-color:transparent;color:inherit;}
header,section,footer,article,nav,aside,address,menu{display:block}
body{text-align:left;font:14px/1.5 Helvetica,Tahoma,Arial,\534E\6587\7EC6\9ED1,\5FAE\8F6F\96C5\9ED1,sans-serif;  overflow-x:hidden; }
a{text-decoration:none;outline:none}
a,button,button:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{ width:100%;}

.g-header .order {filter: Alpha(opacity=70);width:100%; min-height: 280px;max-height:400px;list-style: none;padding: 0;background: rgba(0, 0, 0, 0.68);position: absolute;z-index: 9999;left: 0;overflow-x: hidden;overflow-y: scroll; }

.g-header .order li { height:30px;line-height: 30px;text-indent: 20px;}
.g-header .order li a { color:#fff;}
.g-header .bn {display: inline-block;height: 30px;line-height: 30px;padding: 0 10px;margin-top: 4px;font-size: 30px;color: #808080;text-decoration: none;}


.top_bar{ background:#323438; width:100%; height:3.2rem; position:absolute; z-index:10;}
.top_bar h2{ /*font-size:1.15rem; */text-align:center; color:#fff; line-height:3.2rem;}
.back{ position:absolute; left:0.6rem; top:1rem; /*font-size:1.2rem; */line-height:1.05rem; color:#fff;}
.back .b_arr{ background:url("http://1.vip.xunlei.com/one_wap/img/b_arr.png") no-repeat; background-size:100%; display:inline-block; width:0.7rem; height:1.2rem; float:left; margin-right:0.4rem;}
.home{ position:absolute; right:0.8rem; top:0.9rem; color:#fff; /*font-size:1.2rem; */line-height:1.2rem; }

.wrap{ padding-top:3.2rem;}
.nav { width:100%;background-color: #efefef;}
.nav ul { list-style: none;width:100%;}
.nav li { width:25%;margin:1.2rem 0;float:left;text-align: center;}
.nav li img { width:50%;}
.banner{  /*background-size:100%; position:relative;*/}
.bannerr{ background:url("../image/introduction.png") no-repeat; background-size:100%; height:17.9rem; position:relative;}
.headline{/* background:url("../image/headline.png") no-repeat; */background-size:100%; height:11rem; text-indent:-999em; position:relative; z-index:2;}
.user_lg{ background:url("../image/user_lg.png") no-repeat; background-size:100%; display:block; width:1.83rem; height:1.83rem; position:absolute; top:0.7rem; right:0.7rem; z-index:3; text-indent:-999em;}
.slide{ margin:-8rem 0.67rem; position:relative;}
.s_top{ background:#fb6009; height:2.77rem; border-top-left-radius:0.4rem;border-top-right-radius:0.4rem;}
.s_top h2{ color:#fff; font-size:1.2rem; text-align:center; line-height:2.77rem;}
.slide_box{ background:#fff; /*height:14rem; */overflow:hidden; border-bottom-left-radius:0.4rem;border-bottom-right-radius:0.4rem;}
.slide_wp{ width:100%; /*height:14rem; margin:1.3rem auto; */overflow:hidden;/* position:relative;*/}
.slide_area{ width:100%; /* position:absolute; */left:0; top:0;}
.slide_area li{ width:50%;  /*padding:0 1rem; */float:left; text-align:center;margin-bottom: 10px;}
.slide_area li .s_img{ display:block;/*width:100%;min-height:40vw;max-height:40vw; margin:0 auto 0.6rem;*/}
.slide_area li h3{ font-size:1rem; color:#e4393c;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.slide_area li strong{ color:#e4393c;}
.slide_area li p{ font-size:14px; color:#fff;margin-top:-30px; /*height:3rem; */overflow:hidden;background-color: rgba(90, 90, 90, 0.59);display: block;height: 30px;line-height: 30px;}
.s_dot{ width:4.5rem; position:absolute; bottom:0.5rem; left:50%; margin-left:-2rem;}
.s_dot .dot{ background:#d7d4d4; display:block; width:0.5rem; height:0.5rem; float:left; margin:0 0 0 0.4rem; overflow:hidden; border-radius:100%;}
.s_dot .on{ background:#e4393c;}

.cont{ border-top:10px solid #d3d3d3;;}
/*.cont .prize_list .prize:last-child{ border-bottom:none;}*/
.prize_list{ background:#fff; padding:0 5px;}
.prize{ /*border-bottom:#9b9b9b dashed 1px; padding:1.3rem 0;*/ overflow:hidden;width: 49%;float: left;margin-right: 1%;border:1px solid #d3d3d3;margin-bottom:10px;padding:0 5px 10px 5px;}
/*.prize:last-child { margin-bottom: 80px;}*/
.prize .pri_img{ width:100%; margin:10px 0;float:left; display:table; text-align: center;}
.prize .pri_img img { /*max-height: 14rem;*/}
.prize .pri_img a{ width:6.3rem;margin:10px 0;display:table-cell; vertical-align:middle;}
.prize .pri_info { width:100%;  /*height:7.6rem; */position:relative; float:right; overflow:hidden; }
.prize .pri_info .pri_tit{ font-size:1.4rem;padding-top:5px; font-weight:bold; line-height:1.8rem;text-overflow: ellipsis;white-space: nowrap;/* max-height:2rem;height:3rem;*/ overflow:hidden;width:80%;}
.prize .pri_info .pri_tit a{ color:#333;/*white-space: nowrap;text-overflow:ellipsis;*/}
.prize .pri_info .pri_tit1{ font-size:1.4rem;padding-top:5px; font-weight:bold;text-overflow: ellipsis;white-space: nowrap; line-height:1.8rem; max-height:4rem; overflow:hidden;width:100%;}
.prize .pri_info .pri_tit1 a{ color:#333;}
.prize .pri_info .total{ font-size:1rem; color:#333;}
.exc_record .prize .pri_info { height:auto;}


.join_num{ position:relative;}
.att_num{ color:#808080; font-size:0.8rem;}
.remain_num{ top:.2rem; right:0; color:#808080; font-size:0.8rem;}
.bar{ background:#d7d4d4;margin:5px 0; border-radius:.7rem; height:.7rem; position:relative;}
.bar_in{ background:#F03048;border-radius:.7rem; height:.7rem; position:absolute; left:0; top:0;}
.exc_btn{ background:#F03048; /*border-radius:0.3rem;*/ display:block; width:100%; height:2.3rem; margin-top:.5rem; text-align:center; font-size:1.33rem; line-height:2.3rem; color:#fff; position:absolute; right:0;  bottom:0; }
.white_box1{ background:#fff url(../image/center.png) 0 0 no-repeat;background-size: 100% 100%;height:auto; position:relative; padding:1rem; border-top:#dfe3e6 solid 1px;  border-bottom:#dfe3e6 solid 1px;}
.white_box{ background:#fff;background-size: 100% 100%;/*height:4.5rem; */position:relative; padding:1rem; border-top:#dfe3e6 solid 1px;  border-bottom:#dfe3e6 solid 1px;}
.user_info{ position:relative;}
.user_head{ display:block; width:4.03rem;/* height:4.03rem;*/ border-radius:100% 100%; /*position:absolute; left:0; top:0*/;border:2px solid white;margin:0 auto;}
.user_head img{ border-radius:100% 100%;}
.user_info .user_detail{ /*padding:0.5rem 0 0 5rem;*/width:100%;text-align:center;color:white;margin:10px auto;}
.user_info .user_detail .user_name{ color:#fff;}
.user_sum{ font-size:0.8rem; color:#fff; padding-bottom:1rem;}
.rec_btn{ background:#F03048; /*border-radius:0.3rem; */display:block; width:7.33rem; height:2.63rem; position:absolute; top:0.8rem; right:0; font-size:1.2rem; line-height:2.63rem; color:#fff; text-align:center;}
.rec_btnn{ background:#F03048; /*border-radius:0.3rem; */display:block; width:6rem; height:2.63rem; position:absolute; top:0.8rem; right:0; font-size:1.2rem; line-height:2.63rem; color:#fff; text-align:center;}
.item{ display:block; background:#fff; border-top:#dfe3e6 solid 1px;  border-bottom:#dfe3e6 solid 1px; margin-bottom:1rem; height:50px; position:relative; cursor:pointer;padding-left: 30px;}
.item_txt{ /*font-size:1.2rem; */color:#333; line-height:45px; padding:0 1rem; font-weight:normal;}
.rec_num{ font-size:0.8rem; color:#ea2127; position:absolute; top:1rem; right:2rem;}
.item:after{ background:url("http://1.vip.xunlei.com/one_wap/img/arr.png") no-repeat;  display:block; content:"";width:0.53rem;height:0.87rem; background-size:100%;position:absolute;top:50%;margin-top:-0.4rem;right:0.8rem;}
.item.hover{ background:#adadae;}
.abs_bottom{ background:#fff; padding:1rem; border-top:#dfe3e6 solid 1px;  border-bottom:#dfe3e6 solid 1px; position:relative; bottom:1rem; left:0; right:0; margin-bottom:0;}
.abs_bottom .exit{ text-align:center;  color:#ea2127; font-size:1.2rem; display:block;}

.exc_record{ background:#fff; padding:0 0.33rem;}
.exc_record .pri_tit{ font-size:1.2rem;}
.exc_record .pri_info p{ color:#666; /*font-size:0.8rem; */line-height:1.35rem;}
.exc_record .pri_info p a{ display:inline-block;float:left;width:50%;padding:6px;}
.exc_record .chk_link{ color:#fff; /*font-size:0.8rem; position:absolute; right:0; bottom:0.1rem;*/border-radius: 0;}
.exc_record .pri_info{ position:relative;}

.rec_tips p{ font-size:0.87rem;}
.tb_wp{ background:#fff; margin-bottom:1rem;}
.tb_wp table{ border-collapse:collapse; border:#dfe3e6 solid 1px;}
.tb_wp table th, .tb_wp table td{ border-collapse:collapse; border-bottom:#dfe3e6 solid 1px; line-height:3rem; padding:0 1rem;}
.tb_wp table th{ font-size:1.13rem; color:#333;}
.tb_wp table td{ font-size:0.8rem; color:#808080;}
.tb_wp table td.sum{ font-size:1rem; color:#e4393c;}


.ctg_tips{ background:#fff;  height:9.53rem; border:#ffba00 solid 4px; border-radius:1rem; margin:12.7rem 1rem 0; position:relative;}
.ctg_img{ width:15.03rem; height:9.9rem; position:absolute; top:-9rem; left:50%; margin-left:-7rem; }
.ctg_tips h3{ font-size:1.6rem; color:#333; text-align:center; font-weight:bold; margin:1.2rem auto 0.5rem;}
.ctg_tips  p{ text-align:center; color:#808080;}
.chk_btn{ display:block; background:#F03048; /*border-radius:0.6rem; */height:3rem; line-height:3rem; font-size:1.2rem; text-align:center; color:#fff; margin:1rem;}


.rec_box{ overflow:hidden; /*font-size:1.2rem; */color:#000;}
.rec_txt{ color:#362e2b; /*font-size:1.2rem; */line-height:30px;}
.item_amount{ width:9.4rem; height:1.8rem; display:inline-block; position:relative; margin:0 0.4rem; }
.item_amount a{ background-color:#ffb412;background-size:100%; background-position:center center; border-radius: 0.3rem; display:inline-block; width:1.8rem; height:1.8rem; position:absolute; top:0;}
.minus{ background: url("http://1.vip.xunlei.com/one_wap/img/minus_ico.png") no-repeat #ffb412; left:0; }
.plus{ background:url("http://1.vip.xunlei.com/one_wap/img/plus_ico.png") no-repeat #ffb412;right:0; }
.item_amount .no_minus, .item_amount .no_plus{ background-color:#e2e2e2;}
.ip_num{ text-align:center;/*; border-radius:8px; */border:1px solid #F03048; background:none; width:50%; height:1.4rem; line-height:1.4rem;}
.rec_txt{ color:#808080;}
.total_amt{ margin:0 1rem 1rem;}
.total_amt p{ font-size:1.2rem;}
.rec_opt{ margin-top:4rem;}
.rec_opt .tips{ text-align:center; color:#747474;}
.submit{ padding:.6rem 0;}
.submit p{ font-size:1rem;}
.smt_btn{ background:#F03048; /*border-radius:0.4rem; */color:#fff; font-size:1.33rem; text-align:center; line-height:2.6rem; display:block; width:7.3rem; height:2.6rem; position:absolute; top:1rem; right:1rem;}

.pri_img1{ width:4.27rem; height:5.33rem; position:absolute; left:1rem; }
.to-top {
    display: none;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(78, 78, 78, 0.29);
    position: fixed;
    z-index: 88;
    bottom: 10%;
    right: 20px;
    text-align: center;
    -webkit-transition: all 0.5s ease linear;
    -moz-transition: all 0.5s ease linear;
    -o-transition: all 0.5s ease linear;
    -ms-transition: all 0.5s ease linear;
    transition: all 0.5s ease linear;
    -webkit-box-shadow: 0px 0px 0 3px rgba(109, 109, 109, 0.2);
    -moz-box-shadow: 0px 0px 0 3px rgba(109, 109, 109, 0.2);
    -o-box-shadow: 0px 0px 0 3px rgba(109, 109, 109, 0.2);
    box-shadow: 0px 0px 0 3px rgba(109, 109, 109, 0.2);
}
.to-top .icon-top {
    width: 28px;
    height: 28px;
    background-size: 200px auto;
    background-position: -28px -28px;
    position: relative;
    top: 6px;
    left: 2px;
}
.to-top:before {
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 8px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px dashed transparent;
    border-right: 8px dashed transparent;
    border-bottom: 10px solid #ffffff;
}
.to-top:after {
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 18px;
    content: '';
    width: 0;
    height: 0;
    border: 4px solid #fff;
    border-width: 5px 4px;
}