<!DOCTYPE HTML>
<html lang="zh-cn" class="liveApp-html" data-editname-api-action="{$html['editname_api_action']}" data-task-id="{$task_id}" data-share-uid="{$share_uid}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="browsermode" content="application">
<meta name="x5-page-mode" content="app">
<meta name="msapplication-tap-highlight" content="no">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="viewport"
	content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<title>{$html['new_name']}{$html['title']}</title>
<link href="../app/resource/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../addons/lonaking_taskcenter/template/mobile/style/all.css">
<link rel="stylesheet" type="text/css" href="../addons/lonaking_taskcenter/template/mobile/style/style.css">
<script type="text/javascript" src="../app/resource/js/lib/jquery-1.11.1.min.js"></script>
<script src="../app/resource/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../addons/lonaking_taskcenter/template/mobile/js/show_func.js"></script>
<script type="text/javascript" src="../addons/lonaking_taskcenter/template/mobile/js/show_main.js"></script>
<script type="text/javascript">
	$(function(){
		var first = 0;
		$("html").on("touchstart",function(){
			var audio = document.getElementById('globalAudioPlayer');
			if(first == 0){
				audio.play();
				first = 1;
			}
		});
	});
</script>
</head>
<body class="liveApp create-by-pc">
	<section id="pages" class="pages z-moveing">
		<section class="page z-current" id="page-196699" index="0"
			animation-in="0" animation-out="0" bg-layout="center"
			style="-webkit-animation: none; background-image: url(../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxV2SAKluoAABbLM6E2u4225.jpg); background-color: rgb(255, 255, 255);">
			<div class="f-abs c-c-container c-singletext z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; height: 70px; left: 15px; top: 680px; width: 205px; z-index: 3700; word-break: break-word; overflow: hidden; -webkit-animation: fadeIn 1s 1;">
				<!-- 人名 -->
				<div inside-styles="" class="text-wrap" background-type="0"
					background-layout="center"
					style="border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;">
					<div class="text-content"
						style="font-weight: bold; line-height: 1; text-align: center; font-size: 3.125em; font-family: KaiTi; color: rgb(36, 10, 10);">{$html['new_name']}</div>
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 457px; left: 113px; top: 92px; width: 420px; z-index: 2400; -webkit-animation: bounceIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxWXWAQajsAAIc0wTr1M0397.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 57px; left: -1px; top: 991px; width: 640px; z-index: 2500; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxWqiAAyGHAABI9-1rsk8188.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 115px; left: -1px; top: 940px; width: 640px; z-index: 2600; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxWqiATHg5AABu18zo62w523.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 175px; left: 0px; top: 879px; width: 640px; z-index: 2700; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxWqmAalOBAACMh_ym2Qc553.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 157px; left: 0px; top: 755px; width: 302px; z-index: 2800; -webkit-animation: bounceInLeft 1.03s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxXK-ABdIBAACsRQrNBZg832.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 59px; left: 79px; top: 448px; width: 152px; z-index: 3200; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<!-- 五月五-->
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxXt2AU2u2AAAMIMxLszw468.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 55px; left: 171px; top: 512px; width: 152px; z-index: 3300; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<!-- 是端午-->
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxXt6AUSkQAAARxEBhBw8144.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 50px; left: 80px; top: 566px; width: 152px; z-index: 3400; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<!-- 吃粽子-->
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxXt2AF_j_AAAOQwxNhZQ565.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 50px; left: 172px; top: 615px; width: 250px; z-index: 3500; -webkit-animation: fadeIn 2s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<!-- 划船比赛喜羊羊-->
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxXt6Af06LAAAwHAqIfUs252.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
			<div class="f-abs c-c-container c-singleimage z-hasAnimationIn"
				draggable="true"
				style="position: absolute; display: block; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-width: 0px; height: 55px; left: 200px; top: 677px; width: 268px; z-index: 3600; -webkit-animation: fadeIn 1s 1;">
				<div class="c-singleimage" inside-styles=""
					style="width: 100%; height: 100%; border-width: 0px; border-color: rgb(204, 204, 204); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; opacity: 1; background-image: none; background-color: transparent;"
					background-type="0" background-layout="center">
					<!-- 祝您端午节快乐-->
					<img src="../addons/lonaking_taskcenter/template/mobile/image/CoQ8n1VxXt-AVy5gAAA6TzwqLi8721.png"
						style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
				</div>
			</div>
		</section>
	</section>
	<div id="app-loading" class="app-loading" style="display: none;">
		<div class="cycleWrap">
			<span class="cycle cycle-1"></span> <span class="cycle cycle-2"></span>
			<span class="cycle cycle-3"></span> <span class="cycle cycle-4"></span>
		</div>
		<div class="lineWrap">
			<span class="line line-1"></span> <span class="line line-2"></span> <span
				class="line line-3"></span>
		</div>
	</div>
	<div>
		<div id="globalAudio" class="ga-active"
			style="right: 20px; top: 20px;">
			<!--ga-active-->
			<audio id="globalAudioPlayer" src="{$html['music']}" loop="loop"
				autoplay="true"></audio>
		</div>
	</div>
	<div class="edit_bless" style="">
	{if empty($html['openid'])}
		<span class="edit_name" data-toggle="modal" data-target="#follow_modal">修改<br>姓名</span>
	{else}
		<span class="edit_name" data-toggle="modal" data-target="#edit_name_modal">修改<br>姓名</span>
	{/if}
	</div>
	<!-- 版权 -->
	
	<!-- 这里是提示 -->
	{if empty($html['openid'])}
	<div class="copyright_tip">
		<span>{$html['copyright']}，关注后才可以制作祝福哦</span>
		<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#follow_modal">点击关注</button>
	</div>
	{else}
	<div class="copyright">
		<span>{$html['copyright']}</span>
	</div>
	{/if}
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="edit_name_modal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="btn-lg close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h3 class="modal-title" id="myModalLabel">
	               请输入您的姓名
	            </h3>
	         </div>
	         <div class="modal-body">
	            <input type="text" class="form-control input-lg" name="new_name" placeholder="请输入您的姓名" required="不能为空">
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-primary btn-lg btn-block" id="submit">
	               点击提交
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	
	<div class="modal fade" id="follow_modal" tabindex="-1" role="dialog" 
           aria-labelledby="follow_modal_lable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          &times;
                        </button>
                        <h4 class="modal-title" id="follow_modal_lable">
                           点击识别二维码
                        </h4>
                    </div>
                    <div class="mybarcode">
                        <img class="qrcode img-responsive" src="{$html['qrcode_url']}">
                        <p>长按上面二维码识别、或扫描此二维码关注《{$html['account_name']}》微信平台</p>
                    </div>
                    
                    <div class="modal-footer">
                        <a href="{$html['follow_url']}" type="button" class="btn btn-success btn-block convert">
                           无法识别点这里
                        </a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>