{template 'common/header'}

<div class="main">
{template 'common/menu'}
<ul class="nav nav-tabs">
    <li><a href="/web/index.php?c=site&a=entry&op=display&do=Hxsset&m=nets_bd_news">营销设置</a></li>
    <li><a href="/web/index.php?c=site&a=entry&op=display&do=Hxsadset&m=nets_bd_news">站点设置</a></li>
	<li class="active"><a href="/web/index.php?c=site&a=entry&op=display&do=Hxsadprice&m=nets_bd_news">广告价格</a></li>
    <li><a href="/web/index.php?c=site&a=entry&op=display&do=Hxsadlist&m=nets_bd_news">广告管理</a></li>
</ul>
	
		<div class="panel panel-default">
			<div class="panel-heading">广告价格</div>
			<div class="panel-body" style="padding:20px;">	
				<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
				<div class="input-group form-group col-sm-6 col-xs-12">
					<input type="hidden" name="id" value="0" />
					<input type="hidden" name="op" value="post" />
                    <input type="text" name="click_price" class="form-control"  placeholder="设置价格">
                    <span class="input-group-addon" style="border-left: 0px; border-right: 0px;">元</span>
					<div style="margin-left:20px;">
					<input type="submit" name="submit" value="添加" style="width:60px;" class="btn btn-primary col-lg-1" />
					</div>
                </div>
				</form>
				{loop $record $r}
				<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
				<div class="input-group form-group col-sm-6 col-xs-12">
					<input type="hidden" name="id" value="{$r['id']}" />
					<input type="hidden" name="op" value="post" />
                    <input type="text" name="click_price" class="form-control" value="{$r['click_price']}"  placeholder="设置价格">
                    <span class="input-group-addon" style="border-left: 0px; border-right: 0px;">元</span>
					<div style="margin-left:20px;">
					<input type="submit" name="submit" value="保存" style="width:60px;" class="btn btn-primary col-lg-1" />
					<a class="btn btn-primary " href="/web/index.php?c=site&a=entry&op=del&do=Hxsadprice&m=nets_bd_news&id={$r['id']}"  />删除</a>
					</div>
                </div>
				</form>
				{/loop}
				
			</div>
		</div>
	
</div>
{template 'common/footer'}