@charset "UTF-8";
/* CSS Document */

#floatingCirclesG{
position:relative;
width:90px;
height:90px;
margin: 0 auto;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#E6E6E6;
height:15px;
width:15px;
-moz-border-radius:12px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:0.4s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:12px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:0.4s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:12px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:0.4s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:12px;
-o-animation-name:f_fadeG;
-o-animation-duration:0.4s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:12px;
animation-name:f_fadeG;
animation-duration:0.4s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:5px;
top:38px;
-moz-animation-delay:0.15s;
-webkit-animation-delay:0.15s;
-ms-animation-delay:0.15s;
-o-animation-delay:0.15s;
animation-delay:0.15s;
}

#frotateG_02{
left:15px;
top:15px;
-moz-animation-delay:0.2s;
-webkit-animation-delay:0.2s;
-ms-animation-delay:0.2s;
-o-animation-delay:0.2s;
animation-delay:0.2s;
}

#frotateG_03{
left:38px;
top:5px;
-moz-animation-delay:0.25s;
-webkit-animation-delay:0.25s;
-ms-animation-delay:0.25s;
-o-animation-delay:0.25s;
animation-delay:0.25s;
}

#frotateG_04{
right:15px;
top:15px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#frotateG_05{
right:5px;
top:38px;
-moz-animation-delay:0.35s;
-webkit-animation-delay:0.35s;
-ms-animation-delay:0.35s;
-o-animation-delay:0.35s;
animation-delay:0.35s;
}

#frotateG_06{
right:15px;
bottom:15px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#frotateG_07{
left:38px;
bottom:5px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#frotateG_08{
left:15px;
bottom:15px;
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#E6E6E6}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#E6E6E6}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#E6E6E6}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#E6E6E6}

}

@keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#E6E6E6}

}
