<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>来自{$zr['nickname']}的祝福</title>
    <style type="text/css" adt="123"></style>
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0"
          id="viewport" name="viewport">
    <link href="{YYZF_RES}css/play.css"
          media="screen" rel="stylesheet">

    <meta content="//assets.strikingly.com" name="asset-url">
    <meta content="strikingly.com" name="strikingly-host-suffix">
    <meta name="mode">
    <meta content="{&quot;permalink&quot;:&quot;site-844-5827&quot;,&quot;id&quot;:391978}" name="support-helper">
    <meta content="{}" name="site-configs">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script phantom="keep">
        window._pt_lt = new Date().getTime();
    </script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

    <style>.fancybox-margin {
        margin-right: 0px;
    }</style>
    <style type="text/css"></style>
    <style type="text/css">.fancybox-margin {
        margin-right: 15px;
    }</style>
    <style id="s-cjk-fix">.font-fix-sans-serif {
        font-family: sans-serif, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif !important;
    }

    .font-fix-hiragino-sans-gb-microsoft-yahei-arial-sans-serif {
        font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif !important;
    }
    </style>

    <style type="text/css">object, embed {
        -webkit-animation-duration: .001s;
        -webkit-animation-name: playerInserted;
        -ms-animation-duration: .001s;
        -ms-animation-name: playerInserted;
        -o-animation-duration: .001s;
        -o-animation-name: playerInserted;
        animation-duration: .001s;
        animation-name: playerInserted;
    }

    @-webkit-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @-ms-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @-o-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }</style>
</head>
<body class="show" id="pages" spellcheck="false" style="">
<div id="s-content" class="s-black-theme font-fix-sans-serif">
    <div id="strikingly-navigation-menu">

    </div>
    <ul class="slides">
        <li class="slide ss-active" tabindex="0"><a class="section-anchor" data-scroll-name="#1"></a> <a
                class="section-name-anchor" data-section-name="Light App 2 Slide 1"></a>

            <div class="wide section light-app-2 s1 no-contain strikingly-light-text lazy-background image"
                 style="background-size: auto; background-image: url({YYZF_RES}images/bg-1-min.png); height: 400px; padding-top: 15px; background-position: 49% 50%; background-repeat: repeat repeat;"
                 data-background="{YYZF_RES}images/bg-1-min.png">
                <div class="video-bg-wrap" data-video-html="" style="display: none; "></div>
                <div class="container">
                    <span id="btn_zf"><font color='black'>【祝福好友】</font></span>
					</br>
					<span id="w_ybtn_zf"><font color='black'>【我要发祝福】</font></span>
                 


                    <div class="avatar clearfix media-wrapper">
                        <div class="media1 content">
                            <div class="content">
                                <div class="video-content" style="display:none;">
                                    <div class="player"></div>
                                </div>
                                <div class="image-content" style=""><a class="image-link" href="javascript:void(0);"
                                                                       target="_blank"></a> <span
                                        class="image-link"> <img alt="" src="{$zr['headimgurl']}" class="lazy-img"
                                                                 data-original="{$zr['headimgurl']}"
                                                                 title="" style="position: relative; "> </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="greeting clearfix media-wrapper">
                        <div class="media2 content">
                            <div class="content">
                                <div class="video-content" style="display:none;">
                                    <div class="player"></div>
                                </div>
                                <div class="image-content" style=""><a class="image-link" href="javascript:void(0);"
                                                                       target="_blank"></a>

                                    <!--<span-->
                                        <!--class="image-link">-->
                                    <!--<img alt="" src="{YYZF_RES}images/greeting-1-min.png"-->
                                         <!--class="lazy-img"-->
                                         <!--data-original="{YYZF_RES}images/greeting-1-min.png"-->
                                         <!--title="" style="position: relative; "> </span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="greeting clearfix text-wrapper">
                        <h1 class="heading center">
                            <div data-component="text" data-name="text1" data-text-type="title" class="text-component">
                                <div class="content content2 font-fix-hiragino-sans-gb-microsoft-yahei-arial-sans-serif">
                                    <div>{$zr['nickname']}</div>
                                    <div>为您录制了</div>
                                    <div>一段{$yy['title']}</div>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="swipe-tip center">
                    </div>
                </div>
            </div>
        </li>



        <li class="slide selected" tabindex="0"><a class="section-anchor" data-scroll-name="#2"></a> <a
                class="section-name-anchor" data-section-name="Light App 2 Slide 2"></a>

            <div class="wide section light-app-2 s2 no-contain strikingly-dark-text lazy-background image"
                 style="background-size: auto; background-image: url({YYZF_RES}images/bg-4-min.png); height: 699px; background-position: 49% 50%; background-repeat: repeat repeat;"
                 data-background="{YYZF_RES}images/bg-4-min.png">
                <div class="video-bg-wrap" data-video-html="" style="display: none; "></div>
                <div class="container">

                    <div class="music-player center">
                        <div class="cd-player"><img class="fun on hidden" src="{YYZF_RES}images/player-on-min.png"> <img
                                class="fun off" src="{YYZF_RES}images/player-off-min.png">
                            <img class="trad on hidden" src="{YYZF_RES}images/player-on-min(1).png">
                            <img class="trad off" src="{YYZF_RES}images/player-off-min(1).png"></div>
                        <div class="avatar-overlay"><img src="{$zr['headimgurl']}" class=""></div>
                        <div class="avatar-shade" style="display: block;"><span class="entypo-play"></span></div>
                    </div>


                    <div class="clearfix media-wrapper" style="display: none; ">
                        <div class="media1 content">
                            <div class="content">
                                <div class="video-content" style="display:none;">
                                    <div class="player"></div>
                                </div>
                                <div class="image-content" style=""><a class="image-link" href="javascript:void(0);"
                                                                       target="_blank"></a> <span
                                        class="image-link"> <img alt="" src="{YYZF_RES}images/transparent.png"
                                                                 class="lazy-img"
                                                                 data-original="{YYZF_RES}images/transparent.png"
                                                                 title="" style="position: relative; "> </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix text-wrapper">
                        <h1 class="heading center">
                            <div data-component="text" data-name="text1" data-text-type="title" class="text-component">
                                <div class="content content2 font-fix-hiragino-sans-gb-microsoft-yahei-arial-sans-serif">
                                    <div>来自{$zr['nickname']}的祝福</div>
                                </div>
                            </div>
                        </h1>
                        <h4 class="subtitle">
                            <div data-component="text" data-name="text2" data-text-type="heading"
                                 class="text-component">
                                <div class="content content2 font-fix-hiragino-sans-gb-microsoft-yahei-arial-sans-serif">
                                    {$yy['wish']}
                                </div>
                            </div>
                        </h4>
                    </div>
                
                </div>
            </div>
			
			
			
			
			
        </li>
        <li class="slide" tabindex="0"><a class="section-anchor" data-scroll-name="#3"></a> <a
                class="section-name-anchor" data-section-name=""></a>

            <div class="wide section light-app-2 s3 no-contain strikingly-dark-text lazy-background image"
                 style="background-image: url({YYZF_RES}images/bg-4-min.png);height: 100px; background-size: auto; height: 6px; background-position: 49% 50%; background-repeat: repeat repeat;"
                 >
                
                <div class="container" style="height: 20px">
                    <div class="body-wrapper shadow"></div>

                    <div class="bottom-wrapper">
                        <div class="clearfix media-wrapper">
                            <div class="media1 content">
                                <div class="content">
                                    <div class="video-content" style="display:none;">
                                        <div class="player"></div>
                                    </div>
                                    <div class="image-content" style="">
                                        <a class="image-link"
                                                                           href="{$yy['follow_url']}"
                                                                           target="_self"> <img alt=""
                                                                                                src="{YYZF_RES}images/footer-min_1.png"
                                                                                                class="lazy-img"
                                                                                                data-original="{YYZF_RES}images/footer-min_1.png"
                                                                                                title=""
                                                                                                style="position: relative; ">
                                    </a> <span class="image-link"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>


    <div class="center" id="wechat-share-overlay">

        <img class="" id="wechat-share-arrow" src="{YYZF_RES}images/poke-here.png">

        <div class="" id="wechat-share-tip">点击“…”分享祝福!</div>

    </div>

    <div class="ko-container">
        <div class="navigation-buttons strikingly-fixed" style="display: none; "><span class="prev"
                                                                                       title="Previous Section"
                                                                                       style="display: block; visibility: visible; opacity: 1;"></span>
            <span class="next" title="Next Section" style="opacity: 1; visibility: hidden;"></span></div>
    </div>
    <div class="ko-container">
        <div class="navbar-drawer strikingly-drawer hidden">
            <ul id="nav-drawer-list"><span> <li><a class="navbar-drawer-item"
                                                   href="http://site-844-5827.weitie.co/#light-app-2-slide-1">Light App
                2 Slide 1</a></li> <li><a class="navbar-drawer-item"
                                          href="http://site-844-5827.weitie.co/#light-app-2-slide-2">Light App 2 Slide
                2</a></li> <li><a class="navbar-drawer-item" href="http://site-844-5827.weitie.co/#light-app-2-slide-3">Light
                App 2 Slide 3</a></li> </span> <span></span></ul>
        </div>
        <div class="navbar-drawer-bar hidden" style="display: none; ">
            <div class="drawer-container"><a class="navbar" href="javascript:void(0);"
                                             onclick="Bobcat.TH.Core.toggleDrawer(); return false;"
                                             style="display: none; ">
                <div class="fa fa-bars"></div>
            </a>

                <div class="navbar-drawer-title-container"></div>
            </div>
        </div>
    </div>
</div>
{php echo register_jssdk(false);} <!-- 放到其他引入的 js 之前 -->
<script>


    $(function () {


        $("#btn_zf").click(function(){

            $("#wechat-share-overlay").show();
        });

		$("#w_ybtn_zf").click(function(){
			window.location.href="{$yy['follow_url']}";
		});
        $("#wechat-share-overlay").click(function(){
            $(this).hide();
        });

        wx.ready(function () {


            sharedata = {
                title: "{$yy[share_title]}",
                desc: "{$yy[share_content]}",
                link: window.location.href,
                imgUrl: "{$_W['attachurl']}{$yy['share_icon']}",
                success: function(){

            },
            cancel: function(){

            }
        };
             wx.onMenuShareAppMessage(sharedata);
			  wx.onMenuShareTimeline(sharedata);
			 
            var localId = "";
            var down_complate=false;

            wx.downloadVoice({
                serverId: '{$zr['serverId']}', // 需要下载的音频的服务器端ID，由uploadVoice接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {

                    localId = res.localId; // 返回音频的本地ID
                    down_complate=true;

                }
            });


            $(".music-player").click(function () {

                if(!down_complate){alert("语音还未加载完哦，请等待一会哦！");  return; };
                if ($(".avatar-overlay img").hasClass("spin-rotate")) {
                    $(".avatar-overlay img").removeClass("spin-rotate");
                    $(".avatar-shade").show();
                } else {

                    $(".avatar-overlay img").addClass("spin-rotate");

                    $(".avatar-shade").hide();
                }


                if ($(this).hasClass("on")) {//停止
                    $(this).removeClass("on");

                    if (localId != "") {
                        stopVideo(localId);

                    }

                } else {
                    $(this).addClass("on");//播放

                    if (localId != "") {
                        playVideo(localId);

                    }


                }


            });


        });

        function playVideo(mlocalId) {

            wx.playVoice({
                localId: mlocalId // 需要播放的音频的本地ID，由stopRecord接口获得
            });

        }

        function stopVideo(mlocalId) {
            //停止了
            wx.stopVoice({
                localId: mlocalId // 需要停止的音频的本地ID，由stopRecord接口获得
            });

        }


    });
</script>
</body>
</html>