{template 'common/header'}
<link type="text/css" rel="stylesheet" href="./addons/quickcredit/style/base.css" />
<ul class="nav nav-tabs">
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('goods', array('op' => 'post'));}">添加</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('goods', array('op' => 'display'));}">管理</a></li>
</ul>
{if $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$item['id']}" />
    <h4>编辑奖品</h4>

    <div class="form-group">
      {php echo FormTpl::label2('奖品名称', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('text', 'title', $item['title']); }
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('宣传图', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('image', 'logo', $item['logo']); }
      </div>
    </div>


    <div class="form-group">
      {php echo FormTpl::label2('兑换门槛', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('option', 'vip_require', $item['vip_require'], array('0'=>'不限等级', '1'=>'VIP1', '2'=>'VIP2', '3'=>'VIP3', '4'=>'VIP4', '5'=>'VIP5', '6'=>'VIP6', '7'=>'VIP7', '8'=>'VIP8', '9'=>'VIP9'))}
        <span class="help-block">必须满足一定的VIP级别才能兑换。为0时表示不限级别。</span>
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('单用户兑奖<br>个数上限', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('text', 'per_user_limit', $item['per_user_limit']); }
        <span class="help-block">此项设置该奖品每个用户可兑换件数，防止单个用户将奖品兑光。为0时表示不限件数。</span>
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('剩余可兑换奖品数', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('text', 'amount', $item['amount']); }
        <span class="help-block">此设置项设置该奖品剩余奖品数。小于0时不对外显示，不接受兑换。</span>
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('兑换截止日期', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('time', 'deadline', !empty($item['deadline']) ? strtotime($item['deadline']) : TIMESTAMP + 60*60*24*10)}
        <span class="text-danger help-block">超过该日期后不可兑奖,并且自动从奖品列表中下架。</span>
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('奖品实际价格', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('text', 'price', $item['price'])}
        <span class="help-block">此设置项设置奖品价格。如100</span>
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('兑换消耗积分数', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        {php echo FormTpl::getWebControl2('text', 'cost', $item['cost'])}
        <span class="help-block">若用户积分不足则不能兑换此奖品。</span>
      </div>
    </div>


    <div class="form-group">
      {php echo FormTpl::label2('发放奖励方式', 'col-xs-12 col-sm-3 col-md-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <label for="type0" class="radio-inline"><input type="radio" name="type" value="0" id="type0"  {if !empty($item) && $item['type'] == 0}checked="true"{/if} />填写支付宝地址</label>
        <label for="type1" class="radio-inline"><input type="radio" name="type" value="1" id="type1"  {if !empty($item) && $item['type'] == 1}checked="true"{/if} />填写收货地址</label>
        <label for="type2" class="radio-inline"><input type="radio" name="type" value="2" id="type2" {if empty($item) || $item['type'] == 2}checked="true"{/if} /> 什么都不需要填写(红包、话费等方式)</label>
        <span class="help-block">兑换话费等虚拟物品，不需要让用户填写收货地址。实物需要邮寄，要填写收货地址。</span>
      </div>
    </div>

    <div class="form-group">
      {php echo FormTpl::label2('内容', 'col-xs-12 col-sm-3 col-md-2 col-lg-2', true); }
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <textarea name="content" class="form-control richtext-clone" cols="70" rows="20">{$item['content']}</textarea>
        <br>
        全屏编辑效果更好噢。小工具:
        <a href="http://wxedit.yead.net/" target="_blank" title="新窗口打开">易点微信编辑器</a> &nbsp;
        <a href="http://www.135editor.com/" target="_blank" title="新窗口打开">135微信编辑器</a> &nbsp;(利用第三方编辑器，获得更好显示效果)
      </div>
    </div>

    <div style="margin:0 0 10px 0" class="row">
      {php echo FormTpl::label2('&nbsp;', 'col-xs-12 col-sm-3 col-md-2 col-lg-2'); }
      <div class="col-xs-12 col-sm-9 col-md-10">
        <input name="submit" type="submit" value="提交" class="btn btn-primary">
        <input type="hidden" name="token" value="{$_W['token']}" />
        <br>
      </div>
    </div>

  </form>
</div>

<script language='javascript'>
  require(['jquery', 'util'], function($, u){
    $(function(){
      $('.richtext-clone').each( function() {
        u.editor(this);
      });
    });
  });
</script>

{elseif $operation == 'display'}
<div class="main">
  <div style="padding:15px;">
    <table class="table table-hover">
      <thead class="navbar-inner">
        <tr>
          <th style="min-width:250px;">奖品名称</th>
          <th style="width:100px;">剩余数量</th>
          <th style="width:100px;">价格</th>
          <th style="width:100px;">消耗积分</th>
          <th style="width:100px;">状态</th>
          <th style="text-align:right; width:100px;">操作</th>
        </tr>
      </thead>
      <tbody>
        {loop $list $item}
        <tr>
          <td>{$item['title']} <span class="label label-info">[VIP{$item['vip_require']}] </label></td>
          <td>{$item['amount']}</td>
          <td>{$item['price']}</td>
          <td>{$item['cost']}</td>
          <td>{if strtotime($item['deadline']) < time()}<span class="label label-warning"  data-original-title="超过兑换截止日期， 已经自动下架">已下架</span>{else}<span class="label label-success full"  data-original-title="正常接受兑换中" >√</span>{/if}</td>
          <td style="text-align:right;">
            <a href="{php echo $this->createWebUrl('goods', array('goods_id' => $item['goods_id'], 'op' => 'post'))}" title="编辑" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
            <a href="{php echo $this->createWebUrl('goods', array('goods_id' => $item['goods_id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除" class="btn btn-sm btn-default"><i class="fa fa-remove"></i></a>
          </td>
        </tr>
        {/loop}
      </tbody>
    </table>
  </div>
</div>
{/if}

<script>
require(['jquery', 'util'], function($, u){
	$(function(){ $('.richtext-clone').each( function() { u.editor(this); });		});
  $('.btn').hover(function(){$(this).tooltip('show');},function(){$(this).tooltip('hide');});
  $('.full').hover(function(){$(this).tooltip('show');},function(){$(this).tooltip('hide');});
});
</script>


{template 'common/footer'}
