
/*------设置弹层-----*/
.select-box{ padding:40px 30px 0; height:500px;/* overflow-y:scroll;*/ overflow:auto;}
.select-one{ color:#000; font-size:14px; margin-bottom:15px;}
.sel-w{ font-size:16px; display:inline-block;/* padding-right:40px;*/ width:97px; text-align:right;}
.selectright{ line-height:24px;/* width:690px;*/ margin-left:130px;}
.select-one label{ margin-right:8px; display:inline-block;/* width:75px;*/ padding-right:10px;}
.select-one input[type=radio]{ margin-right:5px;}
.btn-save{ font-size:18px; margin-left:130px; display:inline-block; width:79px; height:33px; line-height:33px; text-align:center; color:#fff;}
.select-date{ padding-bottom:5px;}
.hour{ width:50px;}
.date{ height:18px;}
.second{ height:22px; vertical-align:middle;}

/*------对对碰弹层-----*/
.fl-pair{width:892px;height:570px;position:absolute;top:136px;left:116px;z-index:7;}
.pair-wt{font-size:26px; position:absolute; top:25px; left:42px; text-shadow:0 0 6px rgba(0,0,0,.5);}
.bubble{}
.bubble-big{ width:160px; height:93px; background: url(bubble-big.png) 0 0 no-repeat; position:absolute; top:40px; left:165px; z-index:2;}
.bubble-mini2{ display:inline-block; width:21px; height:18px; background:url(bubble-mini2.png) 0 0 no-repeat; position:absolute; top:136px; left:256px; z-index:2;}
.bubble-mini{ display:inline-block; width:12px; height:10px; background:url(bubble-mini.png) 0 0 no-repeat; position:absolute; top:156px; left:252px; z-index:2;}
.bubble span{ display:block; color:#f96e6e; font-size:24px;}
.w1{ padding-top:20px; padding-left:15px;}
.w2{ padding-left:45px;}
.icon-heart{ display:inline-block; width:62px; height:53px; background:url(icon-heart.png) 0 0 no-repeat; position:absolute; top:198px; left:219px; z-index:3;}
.pair-one{ width:50%; float:left;}
.priname-box-pair{ height:310px;}
.pair-list{}
.pair-list li{ height:102px; border-bottom:1px solid #eee; position:relative;}
.num-p-pair{ float:left;margin:43px 10px 0 30px;}
.wrap-pair-per{ margin-left:55px; padding-right:20px; height:100%; position:relative; overflow:hidden;}
.pair-sel{ width:50%; /*height:100%;*/ padding-top:15px; text-align:center; float:left; position:relative;}
.pair-name{ color:#7b7b7b; display:block; font-size:14px; line-height:28px;}
.del2{ display:none; width:20px; height:20px; text-align:center; line-height:20px; color:#fff; font-weight:bold; background:#afaeaf; border-radius:10px; font-size:18px; position:absolute; top:4px; right:10px;}
.icon-heart2{ display:block; width:56px; height:24px; background:url(icon-heart-mini.png) 0 0 no-repeat; position:absolute; top:30px; left:90px;}
.wrap-btn{ text-align:center; padding-top:20px;}
.btn-reset{ display:inline-block; width:172px; height:45px; line-height:45px; color:#fff; font-size:24px;}
.del3{ top:30px;}