body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
    margin:0;
    padding:0;
}
html {
    word-wrap:break-word;
}
h1, h2, h3 {
    font-size:100%;
}
ol, ul {
    list-style:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
    font-size:inherit;
}
fieldset, img {
    border:0;
}
cite, em, s, i, b {
    font-style:normal;
}
input, button, textarea, select {
    font-size:100%;
}
body, input, button, textarea, select, option, optgroup {
    font-size:16px;
}
a, input, textarea {
    text-decoration:none;
    outline:0 none;
    resize:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
li, img, label, input {
    vertical-align:middle;
}
:focus {
    outline:0 none;
}
html, body {
    width:100%;
    height:100%;
}
body {
    background:#f5f5f5;
    width:100%;
    height:100%;
    position:relative;
}
::-webkit-input-placeholder {
    color:#9c9c9c;
}
.layout {
    padding:10px 16px;
}
.step_title {
    font-size:16px;
    color:#333;
    font-weight:bold;
    padding-bottom:14px;
}
.error_tipsp {
    display:none;
    color:red;
    font-size:12px;
}
.intro_p {
    font-size:14px;
    color:#999;
    padding-bottom:20px;
    line-height:20px;
}
.fl_l {
    float:left;
}
.fl_r {
    float:right;
}
.color_999 {
    color:#999;
}
.color_red {
    color:red;
}
.font_14 {
    font-size:14px;
}
.line {
    height:0;
    overflow:hidden;
    border-top:1px solid #bbb;
    border-bottom:1px solid #fff;
    margin-bottom:20px;
}
.tl_c {
    text-align:center;
}
.tl_r {
    text-align:right;
}
.mart_60 {
    margin-top:60px;
}
.Error-p {
    color:red;
    font-size:14px;
    padding:0 16px;
}
.turn_link {
    font-size:14px;
    color:#999;
    text-decoration:underline;
    float:right;
}
.main_title {
    font-size:16px;
    color:#333;
    font-weight:bold;
    margin-bottom:10px;
}
.main_title_link {
    font-size:14px;
    color:#999;
    text-decoration:underline;
    display:inline-block;
}
.main_title_link a {
    color:#999;
}
.action_link {
    color:#999;
    font-size:14px;
    margin:0 0 10px 10px;
    line-height:1.5;
    text-decoration:underline;
}
.sc-wap .a_cancel {
    font-size:12px;
    line-height:1.5;
    text-align:center;
}
.sc-wap .a_cancel a {
    text-decoration:underline;
    color:#ff7e00;
}
.sc-wap .nocenter {
    clear:both;
    text-align:left;
}
em.turn_link {
    float:right;
    display:inline-block;
}
em.turn_link a {
    color:#999;
}
.sac {
    text-align:center;
}
.sac .foo_btn {
    width:110px;
    float:left;
}
.sac_foo {
    margin:0 auto;
}
.sf .sc_phone, .sf .sc_email {
    height:40px;
    line-height:auto;
    padding:10px 20px;
}
.sf .style_check p {
    width:90%;
    color:#545454;
    font-size:14px;
    line-height:1.5;
}
.retri .apc-right {
    padding-left:24px;
}
.retri .intro_p {
    color:#333;
    padding-bottom:4px;
}
.retri .intro_p_p {
    padding-left:24px;
    color:#999;
    font-size:12px;
}
.turn_area {
    display:block;
    position:absolute;
    right:-10px;
    top:6px;
    width:34px;
    height:34px;
    background:url(/res/images/turn_area.png) no-repeat;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -ms-background-size:24px 24px;
    -o-background-size:24px 24px;
    background-size:24px 24px;
}
.system_error {
    color:red;
    font-size:14px;
    text-align:center;
    margin-bottom:10px;
}
.input_box {
    position:relative;
}
.con_inputbox {
    height:40px;
    line-height:20px;
    padding:10px;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    font-size:14px;
    margin-bottom:12px;
    border-radius:12px;
    color:#313131;
    border:1px solid #a4a4a4;
    background:#fff;
}
.input_container {
    margin-bottom:12px;
}
.input_container .con_inputbox {
    margin:0;
}
.input_container .first {
    border-radius:12px 12px 0 0;
}
.input_container .last {
    margin-top:-1px;
    border-radius:0 0 12px 12px;
}
.tips_title {
    color:#999;
    font-size:14px;
    margin-bottom:10px;
    line-height:1.5;
}
.tips_title a {
    color:#999;
    text-decoration:underline;
    padding-left:10px;
    margin-left:10px;
    border-left:1px solid #999;
}
.tips_title a:first-child, .tips_title a.first {
    padding:0;
    margin:0;
    border:0 none;
}
.tips_title a.first {
    color:#ff7e00;
}
.con_p_notes {
    color:#999;
    margin-bottom:20px;
    font-size:12px;
    line-height:18px;
}
.con_p_notes a {
    color:#999;
    text-decoration:underline;
}
.turn_link {
    font-size:14px;
    color:#999;
    text-decoration:underline;
    float:right;
}
.style_check {
    color:#545454;
    font-size:16px;
    background:#e4e4e4;
    margin-bottom:20px;
    border:1px solid #a5a5a5;
    border-radius:10px;
    overflow:hidden;
}
.style_check .line {
    margin-bottom:0;
}
.style_check p {
    float:left;
}
.style_check em {
    display:block;
    margin-top:9px;
    float:right;
    width:30px;
    height:28px;
    background:url(/res/images/acc_ico2.png) 0 0 no-repeat;
    background-size:28px 30px;
}
.style_check label {
    display:block;
    height:48px;
}
.style_check input {
    float:right;
    vertical-align:middle;
    margin-top:12px;
}
.sc_phone, .sc_email {
    height:48px;
    line-height:44px;
    padding:0 20px;
}
.sc_phone:hover em, .sc_email:hover em {
    background:url(/res/images/acc_ico1.png) 0 0 no-repeat;
    background-size:28px 30px;
}
.content {
    position:relative;
}
.input_box em.error_ico {
    position:absolute;
    top:10px;
    display:block;
    right:14px;
    width:20px;
    height:20px;
    overflow:hidden;
    background:url(/res/images/error_icons2.png) no-repeat;
    -webkit-background-size:20px 20px;
    -moz-background-size:20px 20px;
    -ms-background-size:20px 20px;
    -o-background-size:20px 20px;
    background-size:20px 20px;
}
.error_tips {
    position:absolute;
    color:#d04e00;
    font-size:12px;
    bottom:44px;
    right:10px;
}
.et_con {
    position:relative;
}
.et_con p {
    padding:6px 10px;
    min-height:16px;
    line-height:1.5;
    border:1px solid #cfaf25;
    background:#fef3be;
    border-radius:4px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    background:-webkit-linear-gradient(top, #fff5c0, #fae4a5);
    background:-moz-linear-gradient(top, #fff5c0, #fae4a5);
    background:-ms-linear-gradient(top, #fff5c0, #fae4a5);
    background:linear-gradient(top, #fff5c0, #fae4a5);
}
.et_con em {
    position:absolute;
    bottom:-15px;
    right:10px;
    width:17px;
    height:16px;
    background:url(/res/images/pop_corner.png) no-repeat;
    -webkit-background-size:12px 12px;
    -moz-background-size:12px 12px;
    -ms-background-size:12px 12px;
    -o-background-size:12px 12px;
    background-size:12px 12px;
}
.return_link, .foo_btn {
    width:100%;
    text-align:center;
    cursor:pointer;
    margin-bottom:16px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    font-size:16px;
    min-height:40px;
    line-height:20px;
    padding:10px;
    border-radius:20px;
}
.gray_linear {
    background:#e7e7e7;
    border:1px solid #939393;
    color:#2b2b2b;
    background:-webkit-linear-gradient(top, #e7e7e7, #c9c9c9);
    background:-moz-linear-gradient(top, #e7e7e7, #c9c9c9);
    background:-ms-linear-gradient(top, #e7e7e7, #c9c9c9);
    background:linear-gradient(top, #e7e7e7, #c9c9c9);
    box-shadow:inset 0 1px 1px #f7f7f7, inset 0 -1px 1px #d0d0d0, 0 4px 5px rgba(0, 0, 0, 0.1);
}
.return_link, .green_linear {
    background:#ee3f22;
    border:none;
    box-shadow:inset 0 1px 1px #ee3f22,inset 0 -1px 1px #A72C18,0 4px 5px rgba(0,0,0,0.1);
    color:#fff;
    background:-webkit-linear-gradient(top,#ee3f22,#A72C18)
    background:-moz-linear-gradient(top, #67bd13, #A72C18);
    background:-ms-linear-gradient(top, #67bd13, #A72C18);
    background:linear-gradient(top, #67bd13, #A72C18);
}
.return_link {
    width:80%;
    margin:0 auto;
}
.btn_area {
    overflow:hidden;
}
.btn_area .foo_btn {
    width:50%;
    float:left;
}
.btn_area a {
    border-radius:20px 0 0 20px;
    border-right:0 none;
}
.btn_area input, .btn_area .last {
    border-radius:0 20px 20px 0;
    border-right:1px solid #a8a8a8;
}
.login_index {
    margin:10px 0 20px 0;
    color:#383838;
    font-size:14px;
}
.login_index span {
    margin-left:10px;
}
.ln_home {
    width:16px;
    height:16px;
    display:inline-block;
    background:url(/res/images/account_home.png) no-repeat;
    vertical-align:-2px;
    -webkit-background-size:16px 16px;
    -moz-background-size:16px 16px;
    -ms-background-size:16px 16px;
    -o-background-size:16px 16px;
    background-size:16px 16px;
    margin-right:10px;
}
.ln_intro_area {
    padding:14px;
    border:1px solid #ddd;
    box-shadow:0 3px 5px #c7c7c7;
    background:#fff;
}
.login_title {
    color:#4d585e;
    padding:0;
    margin:0 0 14px 0;
    font-size:16px;
    font-weight:normal;
}
.login_title2 {
    color:#2b3135;
    font-weight:bold;
    font-size:14px;
    margin:0 0 14px 0;
}
.login_intro {
    color:#31373a;
    font-size:14px;
    margin-bottom:14px;
}
.login_intro b {
    color:#ff7e00;
}
.check_num_area {
    background:#fdfdfd;
    display:block;
    overflow:hidden;
    height:40px;
    color:#333;
    font-size:16px;
    line-height:37px;
    border:1px solid #ababab;
    border-radius:12px;
    margin-bottom:16px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
.cna_num {
    width:30%;
    border-radius:12px 0 0 12px;
    border-right:1px solid #ababab;
    background:#f5f5f5;
    display:block;
    float:left;
    text-align:center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
.cna_area {
    width:68%;
    float:left;
    text-align:center;
    position:relative;
}
.check_layout {
    font-size:14px;
    padding:20px 0 100px 0;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
.check_container {
    height:100%;
    overflow:auto;
}
.link_area {
    padding:20px 16px 0 16px;
}
.check_tips {
    color:#000;
    padding-left:20px;
}
.check_title {
    color:#ff7e00;
    height:30px;
    line-height:30px;
    background:#f3f3f4;
    padding-left:30px;
    margin-top:20px;
}
.check_item {
    padding:0 30px;
    display:block;
    overflow:hidden;
    border-bottom:1px solid #edeeee;
    height:30px;
    line-height:30px;
    color:#000;
}
.check_num {
    float:right;
}
.bind_suc, .bind_error {
    padding-top:100px;
    margin:0 auto;
}
.bind_suc p, .bind_error p {
    font-size:16px;
    line-height:16px;
    color:#000;
    text-align:center;
    margin-top:20px;
}
.bind_suc {
    background:url(/res/images/bind_suc.png) center top no-repeat;
    -webkit-background-size:100px 100px;
    -moz-background-size:100px 100px;
    -ms-background-size:100px 100px;
    -o-background-size:100px 100px;
    background-size:100px 100px;
}
.bind_error {
    background:url(/res/images/bind_error.png) center top no-repeat;
    -webkit-background-size:100px 100px;
    -moz-background-size:100px 100px;
    -ms-background-size:100px 100px;
    -o-background-size:100px 100px;
    background-size:100px 100px;
}
.third_bind_title {
    overflow:hidden;
    margin:16px 0;
}
.third_bind_title img {
    display:block;
    width:92px;
    height:36px;
    border-right:1px solid #e7e7e7;
    padding:2px 6px 0 0;
    margin-right:6px;
    float:left;
}
.third_bind_title p {
    color:#000;
    line-height:1.2;
}
.col_yellow {
    color:#ff7e00;
}
.bind_intro {
    padding:32px 0 32px 30px;
    color:#898a8d;
    line-height:1.5;
    font-size:14px;
}
.account_area {
    overflow:hidden;
    margin:40px 0;
    padding:0 10px;
}
.account_area .fl_l {
    width:80px;
}
.avator-container {
    width:66px;
    height:66px;
    border-radius:6px;
    background:#ccc url(/res/images/bd-milogo3.png) 0 0 no-repeat;
    -webkit-background-size:66px 66px;
    -moz-background-size:66px 66px;
    -ms-background-size:66px 66px;
    -o-background-size:66px 66px;
    background-size:66px 66px;
}
.avator-container img {
    border-radius:6px;
}
.account_area .name, .account_area .name_num {
    display:block;
    font-size:14px;
    color:#333;
    line-height:1.5;
}
.account_area .name {
    margin-top:14px;
}
.switch_account {
    overflow:hidden;
    margin:0 0 10px 0;
}
.switch_account p {
    font-weight:bold;
    color:#000;
    float:left;
    line-height:1.5;
    margin-top:8px;
}
.switch_sub {
    width:100px;
    border-radius:3px;
    margin:0;
    height:32px;
    min-height:32px;
    padding:0 10px;
    float:right;
}
.userinfo {
    margin:20px 0;
    background:#fff;
    border:2px solid #ceced0;
    border-radius:8px;
}
.userinfo .intro_p {
    padding:10px 0;
    border-top:1px solid #ccc;
}
.userinfo .intro_p:first-child {
    border-top:0 none;
}
.userinfo .intro_p span {
    width:26%;
    color:#333;
    display:inline-block;
    text-align:right;
}
.userinfo span.intro_p_r {
    width:72%;
    color:#999;
    vertical-align:top;
    text-align:left;
}
.userinfo .intro_p a {
    color:#ff7e00;
}
.userinfo.account_area {
    overflow:hidden;
    background:#fff;
    padding:20px;
    border:1px solid #ccc;
    border-radius:8px;
    margin:10px 0 0 0;
}
.userinfo.account_area .fl_l {
    width:70px;
}
.userinfo .avator-container {
    width:60px;
    height:60px;
    border-radius:6px;
    -webkit-background-size:60px 60px;
    -moz-background-size:60px 60px;
    -ms-background-size:60px 60px;
    -o-background-size:60px 60px;
    background-size:60px 60px;
}
.callback {
    text-align:center;
}
.callback a {
    color:#ff7e00;
    font-size:12px;
    text-decoration:underline;
}
.login_tips_info {
    font-size:12px;
    line-height:1.5;
    color:#999;
    margin-bottom:-10px;
}
.UI_links {
	margin-left: -10px;
}
.UI_links .foo_btn {
	width: 40%;
	display: inline-block;
	margin-left: 10px;
}

.orange_linear{
	border:1px solid #fff;
	background:#e8380d;
	color:#fff;
}
.tips_title a.agreement {
    color:#e8380d;
}
input.orange_linear {
	-webkit-appearance: none;
}

.mask{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);z-index:1}
.mask {
	display:none;
	z-index:9999;
	width:100%;
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	background: #000;
	-moz-opacity: 0.65;
	opacity: 0.65;
	filter: alpha(Opacity=65);
}
.code {
	display:none;
	position: fixed;
	top: 20%;
	z-index:99999;
	left: 10%;
	padding:1em;
	border: 1px solid #fff;
	width: 500px;
	background: #fff;
	width: 70%;
	text-align: left;
}