<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>我的订单</title>
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/ui-base.css">
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/ui-box.css">
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/iconfont/iconfont.css">
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/ui-media.css">
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/ui-color.css">
</head>
<body>
<div id="page0" class="ub ub-ver c-gra1">
	<div class="ub-f1">
    	<div id="main" class="main" style="padding-top:3rem">
            <div class="hd fix c-wh" style="width:100%">
                <ul class="ub ubb b-bla01 tx-c">
                    <a href="{php echo $this->createMobileUrl('Myorderform',array('openid'=>$openid,'name'=>'xm_housekeep_we7'));}" class="block ub-f1 uinn5 ulev-3 t-gra">未完工订单</a>
                    <a href="{php echo $this->createMobileUrl('Myorderform',array('openid'=>$openid,'isok'=>'yes','name'=>'xm_housekeep_we7'));}" class="block ub-f1 uinn5 ulev-3 t-gra on">已完工订单</a>
                </ul>
            </div>
            <div>
			{if $rows[0][typeid] == ''}
				<div class="tx-c">暂无订单</div>
			{else}
               {loop $rows $val}
                <a href="{php echo $this->createMobileUrl('Orderpage',array('orderid'=>$val[orderformid],'name'=>'xm_housekeep'));}" class="ub ubb b-bla01 uinn8 ub-ac">
                	<div class="ub-f1 ub ub-ver">
                    	<div class="t-bla">{php echo $this->gettypename($val['typeid'])}</div>
                        <div class="ub">
                        	<div class="ulev-1 t-dgra ub-f1">日期{$val['ftime']}</div>
                            <div class="ulev-1 t-dgra ub-f1">服务人：{php echo $this->getwaiter($val['waiterid'])}</div>
                        </div>
                    </div>
                    <i class="iconfont icon-xiangyou ulev1 t-gra"></i>
                </a>
                {/loop}
			{/if}
            </div>
        </div>

    </div>
    <div class=" umar-t1" style="height:3em"></div>
    
	{template 'footer'}
	
</div>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/zepto1.3.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/main.js"></script>
</body>
</html>
