@charset "utf-8";
/*reset */
html,body,div,p,span,img,em,i,cite,pre,object,code,del,hr,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,frame,iframe,fieldset,form,table,caption,tbody,thead,tfoot,tr,td,th,label,legend{margin:0;padding:0; border:0; font:12px/1.5em "微软雅黑",Tahoma,"\534E\6587\5B8B\4F53";}
input,seclect,textarea{margin:0;padding:0;color:#666; font-family:Tahoma; font-size:12px}
ul,ul li,ol,ol li,dl,dl dd{ list-style:none;}
table,tr,td{ border-collapse:collapse;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word;white-space : normal ;}
a:hover{ color:#333}
select,img,input{ vertical-align:middle;}
/*ClearFix */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
*html .clearfix {height:1%;}
*+html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix {display:block;}
.clear{ clear:both; overflow:hidden;_zoom:1;}

a{color:#666; text-decoration:none}
a {bblr:expression(this.onFocus=this.blur()); outline:none;}

/* scrollbar */
/*::-webkit-scrollbar{width:6px;height:10px;}
::-webkit-scrollbar-track-piece{-webkit-box-shadow:inset 2px 2px 6px rgba(0,0,0,.5);-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:vertical{background-color:#333;-webkit-border-radius:8px; border:solid 1px #ccc}*/

html,body{ height:100%}
.wrap01{padding:15px;}

.pagenavi{ padding:15px 10px 50px 0; text-align:right; line-height:26px;}
.pagenavi em{ display:inline-block; vertical-align:top; margin-right:5px; padding:6px 12px 4px 4px; border-radius:3px; border:solid 1px #ccc; cursor:pointer}
.pagenavi em strong{ display:inline-block; text-indent:-9999px; border:solid 6px #999; border-color:transparent #aaa transparent transparent}
.pagenavi em:hover{ background:#eee}
.pagenavi em.next{padding:6px 4px 4px 12px;}
.pagenavi em.next strong{border-color:transparent transparent transparent #aaa }
.pagenavi .page_st{ margin-right:5px;}
.pagenavi .input_number{ margin-right:4px; vertical-align:top; display:inline-block; line-height:23px; border:solid 1px #ccc; padding:1px 0 3px;  text-align:center;border-radius:3px;}
.pagenavi .input_number input{ border:0;width:40px; padding:0 5px; line-height:20px;outline:none; text-align:center}
.pagenavi .btn_send{border:solid 1px #ccc; vertical-align:top; display:inline-block; line-height:23px; padding:2px 10px; width:50px; text-align:center;border-radius:3px; cursor:pointer}
.pagenavi .btn_send:hover{background:#eee}

.bt_confirm_btn{ margin-top:10px; padding:15px 0; background:#f8f3b6; text-align:center}
.bt_confirm_btn strong{ width:120px;margin:0 10px;display:inline-block; padding:5px 0 6px; background:#fff; border-radius:4px; border:solid 1px #d9dadc; font-size:14px; text-align:center; font-weight:normal; cursor:pointer;}
.bt_confirm_btn strong.save{ background:#0090ff; color:#fff; border:solid 1px #0090ff}
.bt_confirm_btn strong.save:hover{ background:#007cdc}