
<!--
<li><span>每日登录</span> <span>{$login_i}</span>/{$sets["login_eq_integral"]}</li>
<li><span>推荐注册</span> <span>{$re_register_i}</span>/{$sets["today_maxregister"]}</li>
<li><span>分享被读</span> <span>{$share_i}</span>/{$sets["max_share_today"]}</li>
<li><span>阅读新闻</span> <span>{$click_i}</span>/{$sets["max_click_today"]}</li>
<li><span>分享被赞</span> <span>{$belike_i}</span>/{$sets["max_click_today"]}</li>

<li><span>评论新闻</span> <span>{$comment_i}</span>/{$sets["max_comment_today"]}</li>
<li><span>新闻点赞</span> <span>{$comment_click_i}</span>/{$sets["max_good_today"]}</li>
<li><span>评论被赞</span> <span>{$be_comment_click_i}</span>/{$sets["max_begood"]}</li>
<li><span>提现分享</span> <span>0</span>/{$sets["today_maxshare"]}</li>
<li><span>兑换商品</span> <span>0</span>/{$sets["today_maxchange"]}</li>
<li><span>参与游戏</span> <span>0</span>/{$sets["today_maxpalygame"]}</li>
-->
