<li onclick="location.href='/app/index.php?i={$_W['uniacid']}&c=entry&do=news&m=nets_bd_news'">
<i class="triangle-up"></i><i class="icon icon1"></i><span>资讯首页</span>
</li>
<li onclick="location.href='/app/index.php?i={$_W['uniacid']}&c=entry&do=money&m=nets_bd_news'">
<i class="icon icon2"></i><span>抢钱</span>
</li>
<li onclick="location.href='/app/index.php?i={$_W['uniacid']}&c=entry&do=readlate&m=nets_bd_news'">
<i class="icon" style="background-image: url(/addons/nets_bd_news/template/style/images/Collection.png);background-repeat: no-repeat;"></i>
<span>收藏夹</span>
</li>
<li onclick="location.href='/app/index.php?c=mc&a=home&i={$_W['uniacid']}&wxref=mp.weixin.qq.com#wechat_redirect'">
<i class="icon icon3"></i><span>个人中心</span></li>