<?php$pagetitle="我要抢钱";?>

{template 'mobile_head'}
<header class="header-common">
  <section>
    <div class="goback" onclick="history.go(-1);"><i></i></div>
    <div class="title">个人中心</div>
    <div class="gomenu">
      <div class="points-wrap"> <i class="points"></i> </div>
    </div>
  </section>
  <ul class="menu hide">
	{template 'head_right_menu'}
  </ul>
  <div class="mask hide"></div>
</header>
<div class="ui-pulldown-refresh">
  <div style="bottom:0px;"><i></i><span>下拉刷新</span></div>
</div>
<!--顶部余额-->
<section class="f-products-box f-products-box-new">
  <div class="zc-list ScrollZoomShow ">
    <section class="f-products f-ScrollZoomShow">
      <div class="link">
        <div class="title" style="line-height: 0.45rem;"><span class="name">今日收益{if empty($mycredit1)}0{else}{$mycredit1}{/if}元</span></div>
        <div class="infos" style="padding-bottom: 0rem;padding-top: 0rem;border-top:solid 1px #eee;">
          <div class="income-box">
            <div class="inner-box" style="text-align:center;">
              <p class="s-title">
			  <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=mc_moneylist&m=nets_bd_news" style="color:red;">
			  {$members["credit2"]}
			  </a></p>
              <p class="tip">余额 </p>
            </div>
          </div>
          <div class="income-box">
            <div class="inner-box">
              <p class="s-title" style="text-align:center;">
			  <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=mc_moneylist&m=nets_bd_news" style="color:red;">
			  {if empty($mycredit2)}0{else}{$mycredit2}{/if}
			  </a></p>
              <p class="tip">总收益</p>
            </div>
          </div>
        </div>
		<div class="infos" style="padding-bottom: 0rem;padding-top: 0;border-top:solid 1px #eee;">
          
          <div class="income-box">
			
			
			<marquee style="WIDTH: 100%; HEIGHT: 25px" scrollamount="1" direction="up">
              <ul style="width:100%;overflow:hidden;">
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【小云】获得1块钱</a><span style="float:right;">1个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【果果】获得8块钱</a><span style="float:right;">2个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【阳光】获得2块钱</a><span style="float:right;">3个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【蜜桃】获得1块钱</a><span style="float:right;">4个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【洋洋】获得4块钱</a><span style="float:right;">5个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【心情】获得2块钱</a><span style="float:right;">6个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【小云】获得1块钱</a><span style="float:right;">1个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【果果】获得8块钱</a><span style="float:right;">2个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【阳光】获得2块钱</a><span style="float:right;">3个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【蜜桃】获得1块钱</a><span style="float:right;">4个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【洋洋】获得4块钱</a><span style="float:right;">5个小时前</span></li>
			  <li style="width:100%;"><a style="float:left;width:70%;text-align:left;">恭喜【心情】获得2块钱</a><span style="float:right;">6个小时前</span></li>
			</ul>		
			</marquee>
			
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<div class="zc-list ScrollZoomShow ">
  <ul class="f-menu-sort">
	<li class="li1"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=ad&m=nets_bd_news">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/clipboard_48.png"></div>
      <p>发布广告</p>
      </a> </li>
    <li class="li1"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=game&m=nets_bd_news">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/lqb.png"></div>
      <p>小积分赢大奖</p>
      </a> </li>
    <li class="li2"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=goods&m=nets_bd_news">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/present_48.png"></div>
      <p>礼品商城</p>
      </a> </li>
	  <li class="li3"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&m=recharge&do=pay">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/wallet_48.png"></div>
      <p>充值</p>
      </a> </li>
    <li class="li3"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=mc_moneycash&m=nets_bd_news&cid=-1">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/pgicon.png"></div>
      <p>余额提现</p>
      </a> </li>
	  
    <li class="li4"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=help&m=nets_bd_news&cid=-2">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/dqlc.png"></div>
      <p>积分规则</p>
      </a> </li>
    <li class="li5"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=help&m=nets_bd_news&cid=-1">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/bxd.png"></div>
      <p>新手学堂</p>
      </a> </li>
    <li class="li6"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=wxshare&m=nets_bd_news">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/gd.png"></div>
      <p>推荐好友</p>
      </a> </li>
	  <li class="li6"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=myfamily&m=nets_bd_news">
      <div class="f-menu-img"><img src="../addons/nets_bd_news/template/style/images/myfamily.jpg"></div>
      <p>我的家族</p>
      </a></li>
  </ul>
</div>
<section class="f-main-box"></section>

<section class="f-products-box f-products-box-new">
{loop $games $g}
<section class="f-products f-ScrollZoomShow">
  <div class="zc-list ScrollZoomShow ">
    <div class="link" style="text-align:center; padding:10px;" onclick="location.href='/app/index.php?i={$_W['uniacid']}&c=entry&do=gamedetail&m=nets_bd_news&id={$g['id']}'"> <img src="/attachment/{$g['picture']}"  onload="javascript:if(this.height>220 || this.height>this.width){this.height=220;}else{this.width=375;}"  alt="">
      <div class="title">
        <h2>{$g['title']}</h2>
      </div>
    </div>
  </div>
</section>
<div class="zc-list ScrollZoomShow ">
  <section class="f-products f-ScrollZoomShow">
    <div class="link">
      <div class="infos">
        <div class="time-box">
          <div class="inner-box">
            <p class="s-title">开始时间<span class="small"></span></p>
            <p class="tip">{$g['begintime']}</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="time-box">
          <div class="inner-box">
            <p class="s-title">结束时间<span class="small"></span></p>
            <p class="tip">{$g['endtime']}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="link">
      <div class="infos-more" onclick="location.href='/app/index.php?i={$_W['uniacid']}&c=entry&do=game&m=nets_bd_news';"> <span>更多活动</span>
        <div class="f-right"></div>
      </div>
    </div>
  </section>
</div>
{/loop} 

<!--底部菜单[[-->
<section class="detail-bottommenu" id="UIDropMenu">
  <ul class="detail-bottommenu-list">
    <li class="detail-bottommenu-share"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=news&m=nets_bd_news"> <i class="hover"></i>
      <p>资讯</p>
      </a> </li>
    <li class="detail-bottommenu-care"> <a href="/app/index.php?i={$_W['uniacid']}&c=entry&do=money&m=nets_bd_news"> <i></i>
      <p>抢钱</p>
      </a> </li>
    <!--<li class="detail-bottommenu-support"> <a href="javascript:void(0)">
      <p>立即支持</p>
      </a> </li>--> 
    <!--<li class="detail-bottommenu-support detail-bottommenu-hover">
        	<a href="#">
            	<p>立即支持</p>
            </a>
        </li>-->
  </ul>
</section>
<script>
	var uniacid="{$_W['uniacid']}";
	var page="{$pindex}";
	var total_page="{$total_page}";
	var append_divid="content";
	var cid=0;
</script> 
<script src="../addons/nets_bd_news/template/style/js/ajax.js"></script> 
{template 'common'}
{template 'common_share'}
</body></html>