{template 'common/header'}
<script type="text/javascript">
  require(['bootstrap'], function($) {
    $('.btn').hover(function() {
      $(this).tooltip('show');
    }, function() {
      $(this).tooltip('hide');
    });
  });
</script>
<ul class="nav nav-tabs">
  <li {if $op=='list'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('manager', array('op'=>'list'));}">砍价管理</a>
  </li>
  <li {if $op=='post' && empty($_GPC['id'])}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('manager', array('op'=>'post'));}">添加砍价</a>
  </li>
  <li>
    <a href="{php echo $this->createWebUrl('manager', array('op'=>'weidian'));}">微店模式添加砍价</a>
  </li>
  {if $op=='post' && !empty($_GPC['id'])}
  <li class="active">
    <a href="{php echo $this->createWebUrl('manager', array('op'=>'post', 'id'=>$_GPC['id']));}">编辑砍价</a>
  </li>
  {/if}
</ul>
{template 'basic'}
{if $op == 'list'}
<div class="main">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" style="table-layout: auto;">
          <thead>
            <tr>
              <th class="text-center">序号</th>
              <th class="text-center">发布者</th>
              <th>产品名称</th>
              <th>活动时间</th>
              <th class="text-center">底价/元</th>
              <th class="text-center">库存</th>
              <th class="text-center">已售</th>
              <th class="text-center">参与/人</th>
              <th class="text-center">助力/人</th>
              <th class="text-center">状态</th>
              <th class="text-right">操作</th>
            </tr>
          </thead>
          <tbody>
            {loop $kanjialist $key $item}
            <tr>
              <td class="text-center">{php echo ++$key;}</td>
              <td class="text-center">{$item["shop"]["username"]}</td>
              <td>{$item["product_name"]}</td>
              <td>{php echo date("Y-m-d", $item["starttime"]);}至{php echo date("Y-m-d", $item["endtime"]);}</td>
              <td class="text-center">{php echo floatval($item["product_pricelow"]);}</td>
              <td class="text-center">{$item["product_inventory"]}</td>
              <td class="text-center">{$item["product_sold"]}</td>
              <td class="text-center">{$item["number_join"]}</td>
              <td class="text-center">{$item["number_help"]}</td>
              <td class="text-center">
                {if empty($item["status"])}
                <label class="label label-danger">待审核</label>
                {/if}
                {if !empty($item["status"])}
                <label class="label label-info">已审核</label>
                {/if}
              </td>
              <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo ($_W['siteroot'].'app/'.$this->createMobileUrl('detail', array('id'=>$item['id'])));}" target="_blank" data-toggle="tooltip" data-placement="top" data-original-title="右键复制活动链接"><i class="fa fa-link"></i></a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('order', array('id'=>$item['id']))}" data-toggle="tooltip" data-placement="top" data-original-title="订单"><i class="fa fa-reorder"></i></a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('record', array('id'=>$item['id']))}" data-toggle="tooltip" data-placement="top" data-original-title="参与用户"><i class="fa fa-user"></i></a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('manager', array('op'=>'post', 'id'=>$item['id']))}" data-toggle="tooltip" data-placement="top" data-original-title="编辑"><i class="fa fa-edit"></i></a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('manager', array('op'=>'delete', 'id'=>$item['id']))}" data-toggle="tooltip" data-placement="top" data-original-title="删除" onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;"><i class="fa fa-remove"></i></a>
              </td>
            </tr>
            {/loop} {if empty($kanjialist)}
            <tr>
              <td colspan="11">没有相关的内容</td>
            </tr>
            {/if}
          </tbody>
        </table>
        {$pager}
      </div>
    </div>
  </div>
</div>
{elseif $op == "post"}
<div class="main">
  <form id="form" class="form-horizontal" action="" method="post">
    <div class="panel panel-default">
      <div class="panel-heading">基本信息</div>
      <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">
              砍价名称
              <span class="text-danger">*</span>
            </label>
            <div class="col-sm-4 col-md-5">
              <input type="text" name="title" class="form-control" value="{$kanjia['title']}"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">
              封面
              <span class="text-danger">*</span>
            </label>
            <div class="col-sm-4 col-md-5">
              {php echo tpl_form_field_image('cover', $kanjia['cover']);}
              <div class="text-danger">建议上传660像素*440像素的图片，显示效果更佳。</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">
              活动时间
              <span class="text-danger">*</span>
            </label>
            <div class="col-sm-4 col-md-5">
              {php echo tpl_form_field_daterange('time', array("start"=>date('Y-m-d H:i:s', $kanjia['starttime']), "end"=>date('Y-m-d H:i:s', $kanjia['endtime'])), true);}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">联系方式</label>
            <div class="col-sm-4 col-md-5">
              <input type="text" name="tel" class="form-control" value="{$kanjia['tel']}" placeholder="可填写座机或者手机"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">购买方式</label>
            <div class="col-sm-4 col-md-10">
              <select class="form-control" name="buy_type">
                <option value="0" {if $kanjia['buy_type'] == 0}selected="selected"{/if}>参与活动</option>
                <option value="1" {if $kanjia['buy_type'] == 1}selected="selected"{/if}>砍到底价</option>
                <option value="2" {if $kanjia['buy_type'] == 2}selected="selected"{/if}>人工处理</option>
              </select>
              <div class="help-block">
                参与活动即可购买或者砍到底价才能购买，前者有利于销售产品，后者有利于吸粉。当不满足以上两种方式时，可用人工处理自由规划购买流程和方法。
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">参与须知</label>
            <div class="col-sm-4 col-md-10">
              {php echo tpl_ueditor('notice', $kanjia['notice']);}
              <div class="help-block">参与须知模版：<a href="{MODULE_URL}xuzhi.txt" target="_blank">点击查看</a></div>
            </div>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">产品信息</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">
            名称
            <span class="text-danger">*</span>
          </label>
          <div class="col-sm-4 col-md-5">
            <input type="text" name="product_name" class="form-control" value="{$kanjia['product_name']}"></div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">
            图片
            <span class="text-danger">*</span>
          </label>
          <div class="col-sm-4 col-md-5">
            {php echo tpl_form_field_image('product_image', $kanjia['product_image']);}
            <div class="text-danger">建议上传400像素*400像素的图片，显示效果更佳。</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">
            原价
            <span class="text-danger">*</span>
          </label>
          <div class="col-sm-4 col-md-5">
            <div class="input-group">
              <input type="text" name="product_price" class="form-control" value="{php echo floatval($kanjia['product_price'])}"/>
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">
            底价
            <span class="text-danger">*</span>
          </label>
          <div class="col-sm-4 col-md-5">
            <div class="input-group">
              <input type="text" name="product_pricelow" class="form-control" value="{php echo floatval($kanjia['product_pricelow'])}"/>
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">
            库存
            <span class="text-danger">*</span>
          </label>
          <div class="col-sm-4 col-md-5">
            <input type="number" name="product_inventory" class="form-control" value="{$kanjia['product_inventory']}" min="1"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">产品详情</label>
          <div class="col-sm-10 col-md-10">
            {php echo tpl_ueditor('product_detail', $kanjia['product_detail']);}
            <div class="text-danger">请尽量少放图片或者放小图，提高访问速度利于推广</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">产品链接</label>
          <div class="col-sm-4 col-md-10">
            <input type="text" name="product_url" class="form-control" value="{$kanjia['product_url']}"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">砍价规则</div>
      <div class="panel-body">
        <div class="alert alert-danger">
          请记得设置规则时“金额大于”该选项，必须设置一个金额接近底价的。温馨提示：如需要填写角、分时切记使用英文的 "."。
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>金额大于/元</th>
              <th>砍掉金额/元（最小）</th>
              <th>砍掉金额/元（最大）</th>
              <th class="text-right">操作</th>
            </tr>
          </thead>
          <tbody id="J_kanjia_rule">
            {loop $kanjia["rules"] $rule}
            <tr>
              <td>
                <input name="price[]" type="text" class="form-control" value="{$rule['price']}"></td>
              <td>
                <input name="min[]" type="text" class="form-control" value="{$rule['min']}"></td>
              <td>
                <input name="max[]" type="text" class="form-control" value="{$rule['max']}"></td>
              <td class="text-right">
                <a class="btn btn-danger btn-sm" href="javascript:;" onclick="remove_kanjia_rule(this);">
                  删除
                </a>
              </td>
            </tr>
            {/loop}
          </tbody>
        </table>
        <div class="help-block">
          <a class="btn btn-default btn-sm" href="javascript:;" onclick="add_kanjia_rule();">添加规则</a>
        </div>
        <script type="text/javascript">
          require(["jquery"], function($){
          });
          function add_kanjia_rule(){
            var html = '';
            html += '<tr>';
            html += '<td><input name="price[]" type="text" class="form-control" value=""></td>';
            html += '<td><input name="min[]" type="text" class="form-control" value=""></td>';
            html += '<td><input name="max[]" type="text" class="form-control" value=""></td>';
            html += '<td class="text-right"><a class="btn btn-danger btn-sm" href="javascript:;" onclick="remove_kanjia_rule(this)">删除</a></td>';
            html += '</tr>';
            $("#J_kanjia_rule").append(html);
          }
          function remove_kanjia_rule(ele){
            if(!confirm('删除后将不可恢复,确定删除吗?')) return false;
            $(ele).parents("tr").remove();
          }
        </script>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">分享设置<span class="text-danger">&nbsp;&nbsp;备注：分享设置可以不用填写，系统会默认帮你设置，也可以自己设置</span></div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">分享标题</label>
          <div class="col-sm-4 col-md-5">
            <input type="text" name="share_title" class="form-control" value="{if empty($kanjia['share_title'])}我正在参加砍价活动，快来帮我砍价吧！{else}{$kanjia['share_title']}{/if}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">分享链接</label>
          <div class="col-sm-4 col-md-5">
            <input type="text" name="share_link" class="form-control" value="{$kanjia['share_link']}"/>
            <div class="help-block">一般情况下建议不要填写，由系统控制分享链接。</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">分享图片</label>
          <div class="col-sm-4 col-md-5">
            {if empty($kanjia['share_imgUrl'])}
              {php echo tpl_form_field_image('share_imgUrl', MODULE_URL . "icon.jpg");}
            {else}
              {php echo tpl_form_field_image('share_imgUrl', $kanjia['share_imgUrl']);}
            {/if}
            <div class="text-danger">建议上传100像素*100像素的图片，显示效果更佳。</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">分享描述</label>
          <div class="col-sm-4 col-md-5">
            <textarea name="share_desc" class="form-control" rows="4">{if empty($kanjia['share_desc'])}你也可以参加哦，好东东免费拿回家！{else}{$kanjia['share_desc']}{/if}</textarea>
          </div>
        </div>
      </div>
    </div>
    {if $_W["role"] != "operator"}
    <div class="panel panel-danger">
      <div class="panel-heading">管理员功能</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">强制关注</label>
          <div class="col-sm-4 col-md-10">
            <label class="radio-inline">
              <input type="radio" name="follow_must" value="0" {if empty($kanjia['follow_must'])}checked{/if}/>关闭
            </label>
            <label class="radio-inline">
              <input type="radio" name="follow_must" value="1" {if !empty($kanjia['follow_must'])}checked{/if}/>开启
            </label>
            <div class="help-block">开启强制关注有被微信封号危险，请慎重考虑！</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">关注链接</label>
          <div class="col-sm-4 col-md-10">
            <input type="text" name="follow_url" class="form-control" value="{$kanjia['follow_url']}"/>
            <div class="help-block">用于页面上的一键关注按钮。</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">帮砍次数</label>
          <div class="col-sm-4 col-md-10">
            <input type="text" name="max_help" class="form-control" value="{$kanjia['max_help']}"/>
            <div class="help-block">同一粉丝在该活动最多可帮砍次数,默认0表示不限制。</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">页面底部</label>
          <div class="col-sm-10 col-md-10">
            <!-- <textarea name="footer" class="form-control">{$kanjia['footer']}</textarea> -->
			{php echo tpl_ueditor('footer', $kanjia['footer']);}
            <div class="help-block">可通过该选项自由定义APP端页面底部的文字内容或者添加第三方统计代码。</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">操作</label>
          <div class="col-sm-4 col-md-5">
            <label class="radio-inline">
              <input name="status" type="radio" value="0" {if $kanjia['status'] == 0}checked{/if}> 待审核
            </label>
            <label class="radio-inline">
              <input name="status" type="radio" value="1" {if $kanjia['status'] == 1}checked{/if}> 已审核
            </label>
          </div>
        </div>
      </div>
    </div>
    {/if}
    <div class="form-group">
      <div class="col-md-12">
        <input type="hidden" name="id" value="{$kanjia['id']}"/>
        <input type="hidden" name="token" value="{$_W['token']}"/>
        <button class="btn btn-primary" type="submit" name="submit" value="1">提交</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  require(["jquery", "util"], function($, util){
    $(function(){
      $("#form").on("submit", function(){
        var _ = $(this);
        if(_.find("[name=title]").val() == ""){
          util.message("亲，砍价名称忘记填写了哦！", "", "error");
          return false;
        }
        if(_.find("[name=cover]").val() == ""){
          util.message("亲，封面图忘记上传了哦！", "", "error");
          return false;
        }
        if(_.find("[name=product_name]").val() == ""){
          util.message("亲，产品名称忘记填写了哦！", "", "error");
          return false;
        }
        if(_.find("[name=product_image]").val() == ""){
          util.message("亲，产品图片忘记上传了哦！", "", "error");
          return false;
        }
        if(_.find("[name=product_price]").val() == ""){
          util.message("亲，该产品原价是多少？", "", "error");
          return false;
        }
        if(parseFloat(_.find("[name=product_pricelow]").val()) < 0){
          util.message("亲，底价最少也要0元哦！", "", "error");
          return false;
        }
        if(parseInt(_.find("[name=product_inventory]").val()) <= 0 || _.find("[name=product_inventory]").val() == ""){
          util.message("亲，至少也提供1个产品参与活动吧？", "", "error");
          return false;
        }
        return true;
      });
    });
  });
</script>
{/if}
{template 'common/footer'}
