@charset "UTF-8";
/**
 * LT.	新媒体管家 http://xmt.cn
 * 
 * @authors 石亚南 (1348571886@qq.com)
 * @date    2015-04-28 10:51:30
 * @version $Id$
 */
html,body,.container{
	height:100%;
	overflow: hidden;
}
body{
	margin: 0;
	color:#fff;
	background-color: #00A3F1;
}

*{
	box-sizing: border-box;
}
.container{
	padding: 15px;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: top center;
}

.content-img{
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
}

.content-img img{
	display:block;
	margin:0 auto;
}

.content-img img.imghide{
	position: absolute;
	top:50%;
	left: 50%;
}

.img-responsive{
	max-width:80%;
}

.content-bottom{
	position: fixed;
	bottom:0;
	left:0;
	color:#fff;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	padding:20px 10px;
	background-image: url(../images/bottombg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
}

.content-bottom .form{
	display:table;
	width: 100%;
	overflow:hidden;
	padding-bottom:20px;
}
.content-bottom .form input,
.content-bottom .form input:active,
.content-bottom .form input:focus,
.content-bottom .form button,
.content-bottom .form button:active,
.content-bottom .form button:focus{
	height:42px;
	margin: 0;
	border:0;
	outline:0;
	padding:0 10px;
	border-radius:3px;
	display: inline-block;
}

.content-bottom .form input{
	width: 75%;
	float:left;
	padding:0 10px;
}

.content-bottom .form button{
	width: 22%;
	float: right;
	color:#fff;
	font-size: 16px;
	background-color: #296AB3;
}

.content-bottom .form a{
	color:#aaa;
	text-decoration: none;
	width: 100%;
	font-size: 12px;
	line-height:40px;
	display: block;
	padding:5px 10px;
	line-height: 16px;
	overflow:hidden;
	text-align:center;
	background-color: #fff;
	border-radius:5px;
}

#fixed{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,.8);
}

#fixed .sharebg{
	top:0;
	right: 10px;
	height: 200px;
	width: 100%;
	position: fixed;
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
	/*background-image: url(../images/share.png);*/
}

#fixed .txt{
	position: fixed;
	top:200px;
	padding: 10px;
	background-color: #fff;
	word-break:break-all;
	white-space:pre-wrap;
	line-height: 24px;
}


#fixed .alerttxt{
	padding: 10px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -40%;
	margin-top: -110px;
	width: 80%;
	background-color: #fff;
	word-break:break-all;
	color: #888;
	border-radius: 3px;
}

#fixed .alerttxt p{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: .8em;
}

#fixed .alerttxt .section{
	font-size: .7em;
	margin-top: 10px;
	padding: 10px;
	border-radius: 3px;
	border:1px solid #ddd;
	resize: none;
	overflow-y:visible;
	display: block;
	width: 100%;
}

#fixed .alerttxt .close-btn{
	margin-top: 10px;
	text-align: center;
	padding: 10px;
	border:1px solid #ddd;
	border-radius: 3px;
}

.ajaxAlert{
	top: 80px;
	bottom: 5%;
	left:50%;
	width: 90%;
	height: 80%;
	display: none;
	position: fixed;
	text-align: center;
	margin-left: -45%;
	/* color: #fff;
	padding: 10px;
	line-height: 24px;
	border-radius: 4px;
	word-break:break-all;
	white-space:pre-wrap;
	background-color: rgba(0,0,0,.8); */
}


.ajaxAlert img{
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

.codeimg{
	height: 100%;
	padding-top: 10px;
	text-align: center;
}

.codeimg img{
	margin: 0 auto;
	max-width: 100%;
	max-height: 90%;
}

.nav-btn{
	position: fixed;
	top: 10px;
	right: 20px;
	height: 40px;
	width: 30px;
}

.nav-btn span{
	width: 90%;
	height: 1px;
	width: 100%;
	margin: 10px auto;
	display: block;
	background: #fff;
}

.nav-box ,.nav-box li{
	list-style: none;
	padding:0;
	margin: 0;
}


.nav-box{
	top: 60px;
	right: 20px;
	width: 120px;
	z-index: 999;
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0,.8);
}

.nav-box.show{
	display: block;
}


.nav-box li a{
	padding: 10px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
}


footer{
	text-align: center;
	line-height: 24px;
}

footer a{
	color:#fff;
}