{template 'common/header'}
{php load()->func('tpl')}
<style type="text/css">
.form .alert{width:700px;}
</style>
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('display')}">预约列表</a></li>
	<li{if !$reid} class="active"{/if}><a href="{php echo $this->createWebUrl('post')}">新建预约</a></li>
	{if $reid}<li class="active"><a href="{php echo $this->createWebUrl('post', array('id' => $reid))}">编辑预约</a></li>{/if}
</ul>
<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data" onsubmit="return validate(this);">
    	<div class="panel panel-default">
            <div class="panel-heading">
                预约 <span class="text-muted">通过预约你可以实现服务预约功能</span>
            </div>
            <div class="panel-body">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#tab_basic">基本设置</a></li>
			<li><a href="#tab_notice">通知设置</a></li>
			<li><a href="#tab_skins">模板设置</a></li>
			<li><a href="#tab_set">参数设置</a></li>
		</ul>
		
		<div class="tab-content">
		<div class="tab-pane  active" id="tab_basic">{template 'post_basic'}</div>				
		<div class="tab-pane" id="tab_notice">{template 'post_notice'}</div>
		<div class="tab-pane" id="tab_skins">{template 'post_skins'}</div>
		<div class="tab-pane" id="tab_set">{template 'post_set'}</div>
		</div>
				
            </div>
        </div>
		
<script type="text/javascript">
<!--	
	$(function () {
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
//-->	
</script>
        <div class="panel panel-default">
            <div class="panel-heading">
                预约内容管理
            </div>
            <div class="panel-body table-responsive">
                <div class="alert-new">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="color:#ff0000;">启用预约时间</label>
                    <div class="col-xs-12 col-sm-9 input-group">
		 				<label class="radio-inline"><input type="radio" name="is_time" value="0" {if empty($activity) || $activity['is_time'] == 0} checked="checked"{/if} onclick="$('#time').show();" /> 开</label>
                		<label class="radio-inline"><input type="radio" name="is_time" value="1" {if $activity['is_time'] == 1} checked="checked"{/if} onclick="$('#time').hide();" /> 关(我要自己设置)</label>
                    </div>
                </div>
					<table class="table table-hover">
						<thead>
						<tr>
							<th style="width:45%;">预约项目设置</th>
							<th style="width:15%;text-align:center;">排序</th>
							<th style="width:8%;text-align:center;">是否必填</th>
							<th style="width:12%;">类型</th>
							<th style="width:10%;">关联默认值</th>
							<th style="width:10%;">操作</th>
						</tr>
						</thead>
						<tbody id="re-items">
						<tr>
							<td><input type="text" class="form-control" value="真实姓名" readonly /></td>
							<td><input type="text" class="form-control" value="100" readonly /></td>
							<td style="text-align:center;"><input type="checkbox" title="必填项" checked="checked" disabled="true" /></td>
							<td>
								<select class="form-control" readonly>
									<option>字串(text)</option>
								</select>
							</td>
							<td>
								<select class="form-control" readonly>
									<option>真实姓名</option>
								</select>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td><input type="text" class="form-control" value="手机号码" readonly /></td>
							<td><input type="text" class="form-control" value="99" readonly /></td>
							<td style="text-align:center;"><input type="checkbox" title="必填项" checked="checked" disabled="true" /></td>
							<td>
								<select class="form-control" readonly>
									<option>数字(number)</option>
								</select>
							</td>
							<td>
								<select class="form-control" readonly>
									<option>手机号码</option>
								</select>
							</td>
							<td>
							</td>
						</tr>
						<tr id="time"{if $activity['is_time'] == 1} style="display:none"{/if}>
							<td><input type="text" class="form-control" value="预约时间" readonly /></td>
							<td><input type="text" class="form-control" value="98" readonly /></td>
							<td style="text-align:center;"><input type="checkbox" title="必填项" checked="checked" disabled="true" /></td>
							<td>
								<select class="form-control" readonly>
									<option>时间(range)</option>
								</select>
							</td>
							<td>
								<select class="form-control" readonly>
									<option>不关联粉丝数据</option>
								</select>
							</td>
							<td>
							</td>
						</tr>
						{loop $ds $r}
						<tr>
							<td><input name="title[]" type="text" class="form-control" value="{$r['title']}"/></td>
							<td><input type="text" name="displayorder[]" class="form-control" value="{$r['displayorder']}" /></td>
							<td style="text-align:center;"><input name="essential[]" type="checkbox" title="必填项" {if $r['essential']} checked="checked"{/if}/></td>
							<td>
								<select name="type[]" class="form-control">
									{loop $types $k $v}
									<option value="{$k}"{if $k == $r['type']} selected="selected"{/if}>{$v}</option>
									{/loop}
								</select>
							</td>
							<td>
								<select name="bind[]" class="form-control">
									<option value="">不关联粉丝数据</option>
									{loop $fields $k $v}
									<option value="{$k}"{if $k == $r['bind']} selected="selected"{/if}>{$v}</option>
									{/loop}
								</select>
								<input type="hidden" name="value[]" value="{$r['value']}"/>
								<input type="hidden" name="desc[]" value="{$r['description']}"/>
								<input type="hidden" name="essentialvalue[]" value="{if $r['essential']}true{else}false{/if}"/>
							</td>
							<td>
								{if !$hasData}
								<a href="javascript:;" onclick="deleteItem(this)" data-toggle="tooltip" data-placement="bottom" title="删除此条目" class="btn btn-default btn-sm"><i class="fa fa-times"></i></a> &nbsp;
								<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="设置详细信息" onclick="setValues(this);" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a>
								{/if}
							</td>
						</tr>
						{/loop}
						</tbody>
					</table>
				</div>
				<div class="alert alert-block alert-new">
					{if $hasData}
					<a href="{php echo $this->createWebUrl('manage', array('id' => $reid));}" target="_blank">已经存在预约数据, 不能修改预约条目信息</a>
					{else}
					<a href="javascript:;" onclick="addItem();">添加预约条目 <i class="fa fa-plus" title="添加预约条目"></i></a> 建议先编排好条目顺序再添加，否则导出数据会与标题不对应（导出xls按添加先后排序）
					{/if}
				</div>
				<span class="help-block">关联默认值：关联粉丝资料，免二次输入. </span>
				<span class="help-block">预约成功启动以后(已经有粉丝用户提交预约信息), 将不能再修改预约条目, 请仔细编辑. </span>
            </div>
        </div>
        <div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
   </form>
</div>
<div id="dialog"  class="modal fade" tabindex="-1">
    <div class="modal-dialog" style='width: 920px;'>
        <div class="modal-content">
            <div class="modal-header"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3>设置选项</h3></div>
            <div class="modal-body" >  
               <div class="well">
					<textarea id="re-desc" class="form-control" rows="3"></textarea>
					<span class="help-block"><strong>设置此条目的说明信息</strong></span>
				</div>
				<div class="well re-value hide">
					<textarea id="re-value" class="form-control" rows="6"></textarea>
					<span class="help-block"><strong>设置预约条目的选项(如果有需要的话.) 每行一条记录, 例如: 性别 男, 女</strong></span>
				</div>
                <div id="module-menus" style="padding-top:5px;"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-ok" data-dismiss="modal" aria-hidden="true">确 定</a>
                <a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关 闭</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    require(['util'],function(util){
         util.editor($('.richtext-clone')[0]);
    })
	var currentItem = null;
	$(function(){
		require(['jquery','jquery.ui'],function($,j){
			$('#re-items').sortable({handle: '.fa-move'});
		})
		$('#dialog .btn-ok').on('click', function(){
       
			if(currentItem == null) return;
			var v = $('#dialog #re-value').val();
			$(currentItem).parent().prev().find(':hidden[name="value[]"]').val(encodeURIComponent(v.replace(/\n/g, ',')));
			var v = $('#dialog #re-desc').val();
			$(currentItem).parent().prev().find(':hidden[name="desc[]"]').val(encodeURIComponent(v));
		});
		{if $hasData}
		$('#re-items').find(':text,:checkbox,select').attr('disabled', 'disabled');
		{/if}
	});
	function setValues(o) {
		var v = $(o).parent().prev().find(':hidden[name="value[]"]').val();
		v = decodeURIComponent(v);
		$('#dialog #re-value').val(v.replace(/,/g, '\n'));
		var v = $(o).parent().prev().find(':hidden[name="desc[]"]').val();
		v = decodeURIComponent(v);
		$('#dialog #re-desc').val(v);
		var v = $(o).parent().prev().prev().find('select[name="type[]"]').val();
             
		if(v == 'radio' || v == 'checkbox' || v == 'select') {
			$('.well.re-value').removeClass('hide');
		} else {
			$('.well.re-value').addClass('hide');
		}
		$('#dialog').modal({keyboard: false});
		currentItem = o;
	}
	function addItem() {
		var html = '' + 
				'<tr>' +
					'<td><input name="title[]" type="text" class="form-control" /></td>' +
					'<td><input type="text" name="displayorder[]" class="form-control" /></td>' + 
					'<td style="text-align:center;"><input name="essential[]" type="checkbox" title="必填项" /></td>' +
					'<td>' +
						'<select name="type[]" class="form-control">' +
						{loop $types $k $v}'<option value="{$k}">{$v}</option>' + {/loop}
						'</select>' +
					'</td>' +
					'<td>' +
						'<select name="bind[]" class="form-control">' +
							'<option value="">不关联粉丝数据</option>' +
						{loop $fields $k $v}{if !empty($v)}'<option value="{$k}">{$v}</option>' + {/if}{/loop}
						'</select>' +
						'<input type="hidden" name="value[]" />' +
						'<input type="hidden" name="desc[]" />' +
						'<input type="hidden" name="essentialvalue[]" />' +
					'</td>' +
					'<td>' +
						'<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" onclick="deleteItem(this)"  title="删除此条目"><i class="fa fa-times"></i></a> &nbsp;&nbsp; ' +
						'<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="设置详细信息" onclick="setValues(this);"><i class="fa fa-edit"></i></a>' +
					'</td>' + 
				'</tr>';
		$('#re-items').append(html);
	}
	function deleteItem(o) {
		$(o).parent().parent().remove();
	}
    function message(msg){
        require(['util'],function(util){
            util.message(msg);
        });
    }
	function validate() {
		if($.trim($(':text[name="activity"]').val()) == '') {
			message('必须填写预约标题.', '', 'error');
			return false;
		}
		if($.trim($('textarea[name="information"]').val()) == '') {
			message('必须填写预约成功提示信息.', '', 'error');
			return false;
		}
		{if empty($reid)}
		if($.trim($(':input[name="thumb"]').val()) == '') {
			message('必须上传预约封面.', '', 'error');
			return false;
		}
		{/if}
		if($(':text[name="title[]"]').length == 0) {
			message('必须设定预约的调查条目.', '', 'error');
			return false;
		}
		var isError = false;
		$(':text[name="title[]"]').each(function(){
			if($.trim($(this).val()) == '') {
				isError = true;
			}
		});
		if(isError) {
			message('必须要设定每个预约条目的标题.', '', 'error');
			return false;
		}
		
		var isError = false;
		$('#re-items tr').each(function(){
			var t = $(this).find('select[name="type[]"]').val();
			if(t == 'radio' || t == 'checkbox' || t == 'select') {
				if($.trim($(this).find(':hidden[name="value[]"]').val()) == '') {
					isError = true;
				}
			}
		});
		if(isError) {
			message('单选, 多选或下拉选择项目必须要设定备选项.', '', 'error');
			return false;
		}
		$(':checkbox').each(function(){
			if($(this).get(0).checked) {
				$(this).parent().parent().find(':hidden[name="essentialvalue[]"]').val('true');
			} else {
				$(this).parent().parent().find(':hidden[name="essentialvalue[]"]').val('false');
			}
		});
		return true;
	}
</script>
{template 'common/footer'}
