{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="" ><a href="{php echo $this->createWebUrl('list')}">直播列表</a></li>
	<li class="active" ><a href="{php echo $this->createWebUrl('guanggao',array('zhiboid' =>$zhiboid))}">广告详细列表</a></li>
</ul>
<div class="main">
<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="" method="get" class="form-horizontal" role="form" id="form1">
				<input type="hidden" name="c" value="site">
				<input type="hidden" name="a" value="entry">
				<input type="hidden" name="m" value="bobo_zhibo">
				<input type="hidden" name="do" value="guanggao">
				<input type="hidden" name="zhiboid" value="{$zhiboid}" />
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">文字</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="keyword" id="" type="text" value="" placeholder="可查询文字">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">创建时间</label>
					<div class="col-sm-4 col-xs-12">
<script type="text/javascript">
	require(["daterangepicker"], function($){
		$(function(){
			$(".daterange.daterange-date").each(function(){
				var elm = this;
				$(this).daterangepicker({
					startDate: $(elm).prev().prev().val(),
					endDate: $(elm).prev().val(),
					format: "YYYY-MM-DD"
				}, function(start, end){
					$(elm).find(".date-title").html(start.toDateStr() + " 至 " + end.toDateStr());
					$(elm).prev().prev().val(start.toDateStr());
					$(elm).prev().val(end.toDateStr());
				});
			});
		});
	});
</script>
		<script type="text/javascript">

	function addguanggao(zhiboid){
		$('#zhiboid').val(zhiboid);
		$('#myModal').modal('show');
	}
		</script>
	<input name="time[start]" type="hidden" value="{$start}">
	<input name="time[end]" type="hidden" value="{$end}">
	<button class="btn btn-default daterange daterange-date" type="button" data-original-title="" title=""><span class="date-title">{$start} 至 {$end}</span> <i class="fa fa-calendar"></i></button>
						</div>
					<div class="col-sm-4 col-xs-12">
						<button class="btn btn-default" data-original-title="" title=""><i class="fa fa-search"></i> 搜索</button>
						<button type="button" class="btn btn-default" data-original-title="" title="">总记录数：{$total}</button>
					</div>
				</div>
				<div class="form-group">
				</div>
			</form>
		</div>
	</div>
	<button class="btn btn-warning" onclick="addguanggao({$zhiboid})" data-original-title="" title="">添加广告</button>
		<div class="panel panel-default">
			<div class="panel-heading">
				广告详细列表
			</div>
			<div class="panel-body">
			<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th align="center" style="width:20px;text-align:center;">ID</th>						
			                    <th align="center" style="width:150px;text-align:center;">图片</th>
			                    <th align="center" style="width:150px;text-align:center;">链接地址</th>
					<th align="center" style="width:150px;text-align:center;">简单说明</th>
					<th align="center" style="width:100px;text-align:center;">创建时间</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $row}
					<tr>		
						<td align="center" style="text-align:center;">{$row['id']}</td>
				                        <td align="center" style="text-align:center;"><img src="{$row['imgurl']}" width="100" /></td>
				                        <td align="center" style="text-align:center;">{if $row['url']}{$row['url']}{else}无链接{/if}</td>
				                        <td align="center" style="text-align:center;">{$row['wenzi']}</td>
						<td align="center" style=" text-align:center;">{php echo date('Y-m-d H:i',$row['create_at'])}</td>
					</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
			</div>
		</div>
</div>
<div class="modal fade" id="myModal">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">添加广告内容</h4>
				</div>
				<form id="add_member" action="{php echo $this->createWebUrl('addguanggao',array('operation' =>''))}" method="post" enctype="multipart/form-data" class="form-horizontal ">
				<div class="modal-body">
				<input type="hidden" id="zhiboid" name="zhiboid" />
						<div class="form-group">
		                    <label class="col-md-3 control-label" for="text-input"><span style='color:red'>*</span>广告文字内容</label>
		                    <div class="col-md-9">
				               	<textarea style="height:60px;" id='wenzi' name="wenzi" class="form-control" cols="60"></textarea>
				            </div>
					    </div>
					    <div class="form-group">
				            <label class="col-md-3 control-label"><span style='color:red'>*</span> 广告图片</label>
				            <div class=" col-md-9">
				               	{php echo tpl_form_field_image('imgurl');}
				            <span style="color: red;">注：广告图片不能为空！</span>
				            </div>
        				</div>
        				<div class="form-group">
				            <label class="col-md-3 control-label"><span style='color:red'></span> 广告链接</label>
				            <div class=" col-md-9">
				               	<input type="text" name="url" class="form-control" />
				            <span style="color: red;">注：可为空</span>
				            </div>
        				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary">确认添加</button>
				</div>
				    </form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->

{template 'common/footer'}