
		<script src="{MODULE_URL}/static/js/jquery/jquery-2.1.3.min.js"></script>
		<script src="{MODULE_URL}/static/js/fastclick.js"></script>
		<script src="{MODULE_URL}/static/js/touch/toe.min.js"></script>
		<script src="{MODULE_URL}/static/js/appjs/app.min.js"></script>
		<script src="{MODULE_URL}/static/js/alert/js/zepto.alert.js"></script>
		<script src="{MODULE_URL}/static/js/template/baiduTemplate.js"></script>
		<script src="{MODULE_URL}/static/mobile/js/puzzle.js"></script>
	</body>
</html>