.rDialog {
    position: fixed;
    _position: absolute;
}
.rDialog-wrap {
    position: relative;
	margin:10px;
    background: #FFFFFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
    background-clip: padding-box;
	padding:10px;
}
.rDialog-wrap.load {
    position: relative;
    background: #000;
    opacity: .8;
    background-clip: padding-box;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px #000;
	padding: 1em 1em;
}
.rDialog-inner{color:#444444;}
.rDialog-header{text-align:center;margin:5px 0;}
.rDialog-header-load {
	text-align: center;
	background: url("../images/alert-loading.gif");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	width: 50px;
	height: 53px;
	margin: auto;
}
.rDialog-header-alert,.rDialog-header-ok {
	text-align: center;
	background: url("../images/alert-icons.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 50px;
	height: 53px;
	margin: auto;
}
.rDialog-header-alert{
	background-position: 0 -53px;
}
.rDialog-header-ok {
	background-position: 0 0;
}
.rDialog-content {
    padding:10px;
    font-size: 0.8em;
    color: #444444;
    overflow:hidden;
    text-align: center;
}
.load .rDialog-content {
	padding: 1em 1em;
    color: #FFFFFF;
}
.rDialog-footer {
    text-align: center;
}
.rDialog-footer a {
    display: block;
    margin: 10px 0 0 0;
    height: 40px;
    line-height: 40px;
    /***padding: 0 30px;**/
    font-size: 1em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.rDialog-footer a: link, .rDialog-footer a: visited, .rDialog-footer a: hover {
    color: #fff;
    text-decoration: none;
}
.rDialog-ok,.rDialog-ok:hover{border:1px solid #0c7cb5;background:#0c7cb5;color:#FFFFFF;}
.rDialog-ok:active{background:#0a628f;color:#EEEEEE;}
.rDialog-cancel,.rDialog-cancel:hover{border:1px solid #DDDDDD;background:none;color: #666666;}
.rDialog-cancel:active{background: #DDDDDD;color: #FFFFFF;}
.rDialog-mask {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=80);
    opacity: .8;
}